<ion-content>
  <ion-grid>
      <ion-row class="page-info-row">
        <h1 class="page-title" i18n="@@TOC.TagSearch">Ämnesord</h1>
        <ng-container *ngIf="(mdContent$ | async) as mdContent">
          <div class="info markdown" [innerHTML]="mdContent"></div>
        </ng-container>
      </ion-row>
      <ion-row class="search-area-row">
          <ion-col>
            <ion-row>
                <ion-col class="searchbar-col" col-10>
                  <ion-searchbar placeholder="Sök ..." i18n-placeholder="@@IndexOfTags.searchPlaceholder" class="searchbar" [(ngModel)]="searchText" (ionInput)="onSearchInput()" (ionClear)="onSearchClear()"></ion-searchbar>
                </ion-col>
                <ion-col class="filter-button-col" col-2 *ngIf="showFilter">
                    <button (click)="openFilterModal()" ion-button><ion-icon class="filter-button" name="funnel"></ion-icon></button>
                </ion-col>
            </ion-row>

            <ion-row class="active-filters-row" *ngIf="filters && filters.filterCategoryTypes && !filters.isEmpty">
              <ion-item>
                <span class="active-filters-heading"><ng-container i18n="@@Filter.activeFilters">Aktiva avgränsningar</ng-container>:</span>
                <ng-container *ngIf="filters.filterCategoryTypes && filters.filterCategoryTypes.length > 0">
                  <ng-container *ngFor="let fct of filters.filterCategoryTypes; let i = index">
                    <span class="active-category-type">{{fct.name}}</span><ng-container *ngIf="i < filters.filterCategoryTypes.length - 1">, </ng-container></ng-container></ng-container>
              </ion-item>
            </ion-row>

            <ion-list>
                <div *ngFor="let t of tags">
                  <ion-item *ngIf="t?.firstOfItsKind">
                    <ion-item-divider color="light">{{t.firstOfItsKind.toLocaleUpperCase()}}</ion-item-divider>
                  </ion-item>
                  <ion-item *ngIf="t?.name.length > 1" (click)="openTag(t)">
                    <p>{{t.name}}</p>
                  </ion-item>
                </div>
            </ion-list>

            <ion-row class="load-more-wrapper">
              <div class="loading-spinner-wrapper">
                <ion-spinner *ngIf="showLoading" class="loading" name="crescent"></ion-spinner>
              </div>
              <button *ngIf="tags.length > 0 && hasMore()" ion-button (click)="loadMore($event)" [disabled]="showLoading" i18n="@@BasicActions.ShowMore">Visa fler</button>
            </ion-row>

            <ion-row class="hits-footer" *ngIf="tags.length > 100">
              <button ion-button fill="outline" (click)="scrollToTop()" i18n="@@BasicActions.ScrollToTop">Till början</button>
            </ion-row>
          </ion-col>

          <ion-col class="alphabet">
            <button ion-fab mini (click)="showAll()"><ion-icon name="refresh"></ion-icon></button>
            <button ion-fab mini *ngFor="let letter of alphabet" class="letter" (click)="filterByLetter(letter)">{{letter}}</button>
            <button ion-fab mini (click)="showAll()"><ion-icon name="refresh"></ion-icon></button>
          </ion-col>
        </ion-row>
  </ion-grid>
</ion-content>
