<ion-header *ngIf="mediaCollectionID || singleId" class="ion-no-border">
  <ion-toolbar class="secondary">

    <ion-buttons slot="end" class="secondary-toolbar-buttons-wrapper">
      <ion-button *ngIf="showURNButton && mediaCollectionID" (click)="showReference()">
        <ion-icon slot="start" class="urn-icon" name="arrow-redo-sharp"></ion-icon>
        <span class="side-title" i18n="@@Reference.refer">Hänvisa</span>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="page-title-wrapper">
    <h1 [innerHTML]="mediaTitle"></h1>
    <p *ngIf="(mediaCollectionID || singleId) && galleryData.length">{{galleryData.length}} <ng-container i18n="@@MediaCollections.photos">foton</ng-container></p>
  </div>
  
  <p *ngIf="mediaDescription" [innerHTML]="mediaDescription"></p>

  <ng-container *ngIf="(mdContent$ | async) as mdContent">
    <div class="info markdown" [innerHTML]="mdContent"></div>
  </ng-container>
  <!--
  <div class="filters" *ngIf="galleryTags.length > 1 || galleryLocations.length > 1 || gallerySubjects.length > 1">
    <ion-item class="tagSelect" *ngIf="galleryTags.length > 1">
      <ion-label i18n="@@MediaCollections.tags">Ämnesord</ion-label>
      <ion-select [(ngModel)]="tagModel" (ngModelChange)="filterCollectionsByTag(tagModel)" okText="Ok" i18n-okText="@@BasicActions.Ok" cancelText="Avbryt" i18n-cancelText="@@BasicActions.Cancel">
        <ion-select-option selected value=""></ion-select-option>
        <ion-select-option *ngFor="let tag of galleryTags" value="{{tag.name}}">{{tag.name}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item class="locationSelect" *ngIf="galleryLocations.length > 1">
      <ion-label i18n="@@MediaCollections.locations">Platser</ion-label>
      <ion-select [(ngModel)]="locationModel"
        (ngModelChange)="filterCollectionsByLocation(locationModel)" okText="Ok" i18n-okText="@@BasicActions.Ok" cancelText="Avbryt" i18n-cancelText="@@BasicActions.Cancel">
        <ion-select-option selected value=""></ion-select-option>
        <ion-select-option *ngFor="let location of galleryLocations" value="{{location.name}}">{{location.name}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item class="subjectSelect" *ngIf="gallerySubjects.length > 1">
      <ion-label i18n="@@MediaCollections.subjects">Personer</ion-label>
      <ion-select [(ngModel)]="subjectModel"
        (ngModelChange)="filterCollectionsBySubject(subjectModel)" okText="Ok" i18n-okText="@@BasicActions.Ok" cancelText="Avbryt" i18n-cancelText="@@BasicActions.Cancel">
        <ion-select-option selected value=""></ion-select-option>
        <ion-select-option *ngFor="let subject of gallerySubjects" value="{{subject.name}}">{{subject.name}}</ion-select-option>
      </ion-select>
    </ion-item>
  </div>
  -->

  <ion-grid>
    <ion-row>
      <ion-col size="12" size-sm="6" size-md="4" size-xl="3" *ngFor="let item of galleryData; index as i; trackBy: trackById">
        <div class="item-wrapper">
          <ng-container *ngIf="mediaCollectionID || singleId; else allGalleries">
            <button (click)="openImage(i)">
              <ng-container *ngTemplateOutlet="innerGridItem; context: {$implicit: item}"/>
            </button>
            <div class="loading-overlay" [style.display]="zoomLoadingIndex === i ? 'flex' : 'none'">
              <ion-spinner class="loading" name="crescent"></ion-spinner>
            </div>
          </ng-container>
          <ng-template #allGalleries>
            <a [routerLink]="item.subItemCount ? ['/media-collection', item.id] : ''" [title]="item.title">
              <ng-container *ngTemplateOutlet="innerGridItem; context: {$implicit: item}"/>
            </a>
          </ng-template>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>

<ng-template #innerGridItem let-item>
  <img *ngIf="item.imageURLThumb"
        [src]="item.imageURLThumb"
        [alt]="item.imageAltText"
        loading="lazy"
  >
  <div *ngIf="item.title || item.subTitle || item.description" class="item-meta-wrapper">
    <div *ngIf="item.title || item.subTitle" class="item-title">
      <h2>
        <span *ngIf="item.title" [innerHTML]="item.title"></span>
        <br *ngIf="item.title && item.subTitle">
        <span *ngIf="item.subTitle" class="subtitle" [innerHTML]="item.subTitle"></span>
      </h2>
      <p *ngIf="item.subItemCount">{{item.subItemCount}} <ng-container i18n="@@MediaCollections.photos">foton</ng-container></p>
    </div>
    <p *ngIf="item.description" class="description" [innerHTML]="item.description"></p>
  </div>
</ng-template>
