<ion-header class="ion-no-border">
  <ion-toolbar class="secondary">
    <ion-title>{{mediaTitle}} – {{mediaCollection.length}} <ng-container i18n="@@MediaCollections.photos">foton</ng-container></ion-title>
    <ion-buttons end>
      <button *ngIf="showURNButton" ion-button fill="clear" (click)="showReference()" class="sec-menu-button">
        <ion-icon class="urn-icon" name="arrow-redo-sharp"></ion-icon>
        <span *ngIf="!(userSettingsService.isMobile())" class="side-title" i18n="@@Reference.refer">Hänvisa</span>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="info">
    <h1>{{mediaTitle}}</h1>
    <p>{{mediaDescription}}</p>
  </div>
  <div class="info markdown" *ngIf="mdContent$| async" [innerHTML]="mdContent$| async"></div>
  <div class="filters" *ngIf="galleryTags.length > 1 || galleryLocations.length > 1 || gallerySubjects.length > 1">
    <ion-item class="tagSelect" *ngIf="galleryTags.length > 1">
      <ion-label i18n="@@MediaCollections.tags">Ämnesord</ion-label>
      <ion-select [(ngModel)]="tagModel" (ngModelChange)="filterCollectionsByTag(tagModel)" okText="Ok" i18n-okText="@@BasicActions.Ok" cancelText="Avbryt" i18n-cancelText="@@BasicActions.Cancel">
        <ion-select-option selected value=""></ion-select-option>
        <ion-select-option *ngFor="let tag of galleryTags" value="{{tag.name}}">{{tag.name}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item class="locationSelect" *ngIf="galleryLocations.length > 1">
      <ion-label i18n="@@MediaCollections.locations">Platser</ion-label>
      <ion-select [(ngModel)]="locationModel"
        (ngModelChange)="filterCollectionsByLocation(locationModel)" okText="Ok" i18n-okText="@@BasicActions.Ok" cancelText="Avbryt" i18n-cancelText="@@BasicActions.Cancel">
        <ion-select-option selected value=""></ion-select-option>
        <ion-select-option *ngFor="let location of galleryLocations" value="{{location.name}}">{{location.name}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item class="subjectSelect" *ngIf="gallerySubjects.length > 1">
      <ion-label i18n="@@MediaCollections.subjects">Personer</ion-label>
      <ion-select [(ngModel)]="subjectModel"
        (ngModelChange)="filterCollectionsBySubject(subjectModel)" okText="Ok" i18n-okText="@@BasicActions.Ok" cancelText="Avbryt" i18n-cancelText="@@BasicActions.Cancel">
        <ion-select-option selected value=""></ion-select-option>
        <ion-select-option *ngFor="let subject of gallerySubjects" value="{{subject.name}}">{{subject.name}}</ion-select-option>
      </ion-select>
    </ion-item>
  </div>
  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let image of mediaCollection; index as i" col-md-4 col-sm-12 col-lg-3>
        <ion-card *ngIf="mediaCollectionId!=undefined" (click)="openImage(i, mediaCollectionId)">
          <div>
            <img alt="Galleribild" i18n-alt="@@MediaCollections.altText" src="{{apiEndPoint}}/{{projectMachineName}}/gallery/get/{{mediaCollectionId}}/{{asThumb(image.front)}}" loading="lazy">
          </div>
          <ion-card-content>
            <div *ngIf="image.media_title_translation" class="img-desc title">
              {{image.media_title_translation}}
            </div>
            <div *ngIf="image.subject_name" class="img-desc subject_name">
              {{image.subject_name}}
            </div>
            <div *ngIf="image.description" class="img-desc" [innerHTML]="image.description">
            </div>
          </ion-card-content>
        </ion-card>
        <ion-card *ngIf="mediaCollectionId==undefined" (click)="openImage(i, image.mediaCollectionId)">
          <div>
            <img alt="Galleribild" i18n-alt="@@MediaCollections.altText" src="{{apiEndPoint}}/{{projectMachineName}}/gallery/get/{{image.mediaCollectionId}}/{{asThumb(image.front)}}" loading="lazy">
          </div>
          <ion-card-content>
            <div *ngIf="image.description" class="img-desc">
              {{image.description}}
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
