<ion-content padding>
  <ng-container *ngIf="true">

    <ng-container *ngIf="showOccurrencesModal" class="occurrenceButton">
      <button ion-button small (click)="openOccurrenceResult()">

        <ng-container *ngIf="occurrenceResult?.name">
          {{occurrenceResult?.name}}
        </ng-container>

        <ng-container *ngIf="!occurrenceResult?.name">
          <ng-container i18n="@@Read.ShowSearchResults">Förekomster</ng-container> &nbsp;<ion-icon name="search"></ion-icon>
        </ng-container>

      </button>
    </ng-container>

  <ion-grid>
  <!-- src="{{'assets/' + songFile}}" -->
    <ion-row>
      <ion-col col-md-6>

          <ion-card>
              <img alt="song image" *ngIf="song" src="assets/jpeg-files/{{songOriginalId}}.jpg"/>
              <ion-card-content>
                <button *ngIf="!playing" ion-button (click)="playSong()">
                  <ion-icon name="play"></ion-icon>
                </button>
                <button *ngIf="playing" ion-button (click)="stopSong()">
                  <ion-icon name="square"></ion-icon>
                </button>
                <ion-card-title>
                </ion-card-title>
                <ion-card>
                  <ion-card-title *ngIf="song">{{song.volume}} {{song.number}}</ion-card-title>
                  <ion-card-content>
                <ion-list inset="true">
                    <ion-item (click)="downloadMIDI()">
                        <ng-container i18n="@@Song.Download">Ladda ner</ng-container> Midi
                      <ion-icon name="download" item-end></ion-icon>
                    </ion-item>
                    <ion-item (click)="downloadXML()">
                      <ng-container i18n="@@Song.Download">Ladda ner</ng-container> Music XML
                      <ion-icon name="download" item-end></ion-icon>
                    </ion-item>
                    <ion-item (click)="downloadJPEG()">
                      <ng-container i18n="@@Song.Download">Ladda ner</ng-container> JPEG
                      <ion-icon name="download" item-end></ion-icon>
                    </ion-item>
                  </ion-list>
                </ion-card-content>
                </ion-card>
              </ion-card-content>
            </ion-card>
      </ion-col>
      <ion-col col-md-6>


          <ion-list *ngIf="song">
              <ion-item><ng-container i18n="@@Song.Playman">Spelman</ng-container>: {{song.performer_firstname}} {{song.performer_lastname}} {{(song.performer_born_name)?"("+song.performer_born_name+")":""}}</ion-item>
              <ion-item><ng-container i18n="@@Song.SongType">Låttyp</ng-container>: {{song.type}}</ion-item>
              <ion-item><ng-container i18n="@@Song.SongName">Låtens namn</ng-container>: {{song.name}}</ion-item>
              <ion-item><ng-container i18n="@@Song.Landscape">Landskap</ng-container>: {{song.landscape}}</ion-item>
              <ion-item><ng-container i18n="@@Song.Place">Ort</ng-container>: {{song.place}}</ion-item>
              <ion-item><ng-container i18n="@@Song.Recorder">Upptecknare</ng-container>: {{song.recorder_firstname}} {{song.recorder_lastname}} {{(song.recorder_born_name)?"("+song.recorder_born_name+")":""}}</ion-item>
              <ion-item><ng-container i18n="@@Song.Year">Uppteckningsår</ng-container>: {{song.original_publication_date}}</ion-item>
              <ion-item><ng-container i18n="@@Song.OCL">Originalsamlingens placering</ng-container>: {{song.original_collection_location}}</ion-item>
              <ion-item><ng-container i18n="@@Song.OCS">Originalsamlingens signum</ng-container>: {{song.original_collection_signature}}</ion-item>
              <ion-item><ng-container i18n="@@Song.Volume">Volym</ng-container>: {{song.volume}}</ion-item>
              <ion-item><ng-container i18n="@@Song.SongNumber">Sångnummer</ng-container>: {{song.number}}</ion-item>
              <ion-item><ng-container i18n="@@Song.Comments">Kommentarer</ng-container>: {{song.comment}}</ion-item>
              <ion-item><ng-container i18n="@@Song.SongText">Sångtext</ng-container>: {{song.lyrics}}</ion-item>
            </ion-list>



      </ion-col>
    </ion-row>
  </ion-grid>
  <list-of-songs *ngIf="song && song.type" [currentFilterType]="currentFilterType" [songFilters]="songFilters" [currentSong]="songID"></list-of-songs>
 </ng-container>
</ion-content>
