<ion-header>
  <ion-toolbar>
    <ion-title i18n="@@Reference.title">Källhänvisning</ion-title>
    <ion-buttons slot="end">
      <ion-button class="close-button" (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-col>
    <ion-card>
      <ion-card-header *ngIf="thisPageTranslation">
        <label class="header" i18n="@@Reference.thisPage">Hänvisa till denna sida</label>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <label *ngIf="permaLinkTranslation && referenceData['urn']" class="ref-category-label"><ng-container i18n="@@Reference.permaLink">Beständig webbadress</ng-container>:</label>
          <div class="urn" *ngIf="referenceData['urn']"><a target="_blank" href="{{ urnResolverUrl + referenceData['urn']}}">{{urnResolverUrl + referenceData['urn']}}</a></div>
          <div class="urn" *ngIf="!referenceData['urn']" i18n="@@Reference.missing">Sidan saknar beständig webbadress</div>
        </ion-item>
        <ion-item *ngIf="referenceData['reference_text']">
            <label *ngIf="origin == 'page-title'" class="ref-category-label"><ng-container i18n="@@Reference.pageTitle">Hänvisa till denna delutgåva</ng-container>:</label>
            <label *ngIf="origin == 'page-foreword'" class="ref-category-label"><ng-container i18n="@@Reference.pageForeword">Hänvisa till detta förord</ng-container>:</label>
            <label *ngIf="origin == 'page-introduction'" class="ref-category-label"><ng-container i18n="@@Reference.intro">Hänvisa till denna inledning</ng-container>:</label>
            <label *ngIf="origin == 'page-text'" class="ref-category-label"><ng-container i18n="@@Reference.established">Hänvisa till denna lästext</ng-container>:</label>
            <label *ngIf="origin == 'page-ebook'" class="ref-category-label"><ng-container i18n="@@Reference.pageEpub">Hänvisa till denna text</ng-container>:</label>
            <label *ngIf="origin == 'media-collection'" class="ref-category-label"><ng-container i18n="@@Reference.mediaCollection">Hänvisa till denna bildsamling</ng-container>:</label>
            <label *ngIf="origin == 'top-menu'" class="ref-category-label"><ng-container i18n="@@Reference.topMenu">Hänvisa till denna webbutgåva</ng-container>:</label>
            <div class="urn" [innerHTML]="referenceData['reference_text'] + urnResolverUrl + referenceData['urn']"></div>
        </ion-item>
        <ion-item *ngIf="referenceData['intro_reference_text'] && origin != 'page-introduction'">
            <label class="ref-category-label"><ng-container i18n="@@Reference.intro">Hänvisa till denna inledning</ng-container>:</label>
            <div class="urn" [innerHTML]="referenceData['intro_reference_text']"></div>
        </ion-item>
      </ion-card-content>
    </ion-card>
  </ion-col>
</ion-content>
