:host {
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  padding: 0 1.5rem;
  width: 100%;
  color: var(--text-color-on-secondary-color-background);
}

:host(.text-changer-mobile-mode) {
  background-color: var(--text-changer-background-color-mobile-mode);
  color: var(--text-changer-text-color-mobile-mode);
  height: 46px;
  padding: 0;
}

.text-changer-wrapper {
  display: flex;
  margin: auto;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  height: 100%;
  width: 100%;
  max-width: 100%;
  align-items: center;
  justify-content: space-between;

  .next-wrapper,
  .prev-wrapper {
    height: 100%;
    min-width: 2rem;
    width: 30%;
  }
  .next-wrapper {
    display: flex;
    justify-content: flex-end;
  }
  .current-text-name {
    font-weight: bold;
    line-height: 1.5;
    text-align: center;
    max-width: 40%;
    padding: 0 3rem;
    overflow: hidden;
  }

  .current-text-name p {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin: 0;
    font-size: 1rem;
  }

  button {
    color: inherit;
    display: flex;
    align-items: center;
    height: 100%;
    hyphens: auto;
    background: transparent;
    overflow: hidden;
    width: 100%;
    padding: 0 6px;
    outline-offset: -0.125rem;

    > span {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      font-size: 0.9375rem;
      line-height: 1.5;
    }

    &:hover > span {
      text-shadow: 1px 0 0 currentColor;
      transition: text-shadow 0.2s;
    }

    .prev-text-name {
      margin: 0 0 0 0.8em;
    }

    .next-text-name {
      margin: 0 0.8em 0 0;
    }

    ion-icon {
      min-width: 28px;
      font-size: 1.75rem !important;
    }

    &.next-button {
      justify-content: flex-end;
    }
  }
}

@media screen and (max-width: 1150px) {
  .text-changer-wrapper {
    .next-wrapper,
    .prev-wrapper {
      width: fit-content;
    }

    .current-text-name {
      max-width: 100%;
    }

    button {
      &:hover {
        opacity: 0.6;
        transition: opacity 0.2s;
      }

      > span {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .text-changer-wrapper {
    justify-content: space-evenly;

    .current-text-name {
      display: none;
    }
  }
}

.text-changer-wrapper.mobile-mode {
  justify-content: space-between;

  button {
    padding: 0 10px;
  }

  .next-wrapper,
  .prev-wrapper {
    width: fit-content;
  }

  .current-text-name {
    display: block;
    max-width: 100%;
  }

  @media screen and (max-width: 450px) {
    .current-text-name p {
      font-size: 0.9375rem;
    }
  }
}
