<ion-header class="ion-no-border">
  <ion-toolbar class="secondary">

    <text-changer slot="start" *ngIf="!mobileMode" [textItemID]="collectionID" [parentPageType]="'page-foreword'" class="text-changer-desktop-mode"></text-changer>

    <ion-buttons slot="end" class="secondary-toolbar-buttons-wrapper">
      <ion-button *ngIf="showURNButton" (click)="showReference()">
        <ion-icon slot="start" class="urn-icon" name="arrow-redo-sharp"></ion-icon>
        <span class="side-title" i18n="@@Reference.refer">Hänvisa</span>
      </ion-button>
      <ion-button *ngIf="showViewOptionsButton" (click)="showViewOptionsPopover($event)">
        <ion-icon slot="start" class="settings-icon" name="settings-sharp"></ion-icon>
        <span class="side-title" i18n="@@Read.Popover.Options">Inställningar</span>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content class="collection-ion-content" [class.mobile-mode-content]="mobileMode" [scrollX]="false" [scrollY]="false">
  <div class="scroll-content-container">
    <ng-container *ngIf="(text$ | async) as text; else loading">
      <div class="tei teiContainer"
            [ngClass]="((readPopoverService.fontsize==0)?'xsmallFontSize':(readPopoverService.fontsize==1)?'smallFontSize':(readPopoverService.fontsize==2)?'mediumFontSize':(readPopoverService.fontsize==3)?'largeFontSize':'xlargeFontSize')"
            [innerHTML]="text"
      ></div>
    </ng-container>
    <ng-template #loading>
      <ion-spinner class="loading" name="crescent"></ion-spinner>
    </ng-template>
  </div>
</ion-content>

<text-changer *ngIf="mobileMode" [textItemID]="collectionID" [parentPageType]="'page-foreword'" class="text-changer-mobile-mode"></text-changer>
