<ion-header class="ion-no-border">
  <ion-toolbar class="secondary">

    <text-changer *ngIf="!userSettingsService.isMobile()" [textItemID]="id" [parentPageType]="'page-introduction'" class="text-changer-desktop-mode"></text-changer>

    <ion-buttons slot="end" class="secondary-toolbar-buttons-wrapper">
      <ion-button *ngIf="showTextDownloadButton" (click)="showDownloadModal()">
        <ion-icon slot="start" *ngIf="!usePrintNotDownloadIcon" class="download-icon" name="download"></ion-icon>
        <ion-icon slot="start" *ngIf="usePrintNotDownloadIcon" class="print-icon" name="print"></ion-icon>
        <span class="side-title" i18n="@@DownloadTexts.Download">Ladda ner</span>
      </ion-button>
      <ion-button *ngIf="showURNButton" (click)="showReference()">
        <ion-icon slot="start" class="urn-icon" name="arrow-redo-sharp"></ion-icon>
        <span class="side-title" i18n="@@Reference.refer">Hänvisa</span>
      </ion-button>
      <ion-button *ngIf="showViewOptionsButton" (click)="showViewOptionsPopover($event)">
        <ion-icon slot="start" class="settings-icon" name="settings-sharp"></ion-icon>
        <span class="side-title" i18n="@@Read.Popover.Options">Inställningar</span>
      </ion-button>
      <ion-button *ngIf="hasSeparateIntroToc" [ngClass]="tocMenuOpen ? 'menuOpenTOC' : 'menuClosedTOC'" (click)="toggleTocMenu()">
        <ion-icon slot="start" name="list" *ngIf="!tocMenuOpen"></ion-icon>
        <ion-icon slot="start" name="close" *ngIf="tocMenuOpen"></ion-icon>
        <span class="side-title" i18n="@@Read.Introduction.Contents">Innehåll</span>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content class="collection-ion-content" [ngClass]="printMainContentClasses()" [scrollX]="false" [scrollY]="false">
  <div class="scroll-content-container">

    <!-- Tooltip wrapper -->
    <div
      [ngClass]="'toolTip tei teiContainer ' + ((readPopoverService.fontsize==0)?'xsmallFontSize':
            (readPopoverService.fontsize==1)?'smallFontSize':(readPopoverService.fontsize==2)?'mediumFontSize':(readPopoverService.fontsize==3)?'largeFontSize':'xlargeFontSize')"
      [class.show_personInfo]="readPopoverService.show.personInfo"
      [class.show_workInfo]="readPopoverService.show.workInfo"
      [ngStyle]="{'position': toolTipPosType, 'top': toolTipPosition.top, 'left': toolTipPosition.left, 'max-width': toolTipMaxWidth, 'transform': 'scale(' + toolTipScaleValue + ')'}"
      [innerHTML]="toolTipText"
    ></div>
    
    <!-- Info overlay wrapper -->
    <div
      [ngClass]="'infoOverlay tei teiContainer ' + ((readPopoverService.fontsize==0)?'xsmallFontSize':
            (readPopoverService.fontsize==1)?'smallFontSize':(readPopoverService.fontsize==2)?'mediumFontSize':(readPopoverService.fontsize==3)?'largeFontSize':'xlargeFontSize')"
      [class.show_personInfo]="readPopoverService.show.personInfo"
      [class.show_workInfo]="readPopoverService.show.workInfo"
      [ngStyle]="{'position': infoOverlayPosType, 'bottom': infoOverlayPosition.bottom, 'left': infoOverlayPosition.left, 'width': infoOverlayWidth}"
    >
      <div class="infoOverlayHeader">
        <p class="infoOverlayTitle" [innerHTML]="infoOverlayTitle"></p>
        <ion-icon name="close" class="infoOverlayButton" (click)="hideInfoOverlay()" aria-label="Stäng" i18n-aria-label="@@BasicActions.Close"></ion-icon>
      </div>
      <div class="infoOverlayContent" [innerHTML]="infoOverlayText"></div>
    </div>
    
    <!-- Loading spinner -->
    <ion-spinner *ngIf="textLoading" class="loading" name="crescent"></ion-spinner>
    
    <!-- Introduction text wrapper -->
    <div class="tei teiContainer"
      [class.show_personInfo]="readPopoverService.show.personInfo && viewOptionsTogglesIntro.personInfo"
      [class.show_placeInfo]="readPopoverService.show.placeInfo && viewOptionsTogglesIntro.placeInfo"
      [class.show_workInfo]="readPopoverService.show.workInfo && viewOptionsTogglesIntro.workInfo"
      [class.show_paragraphNumbering]="readPopoverService.show.paragraphNumbering && viewOptionsTogglesIntro.paragraphNumbering"
      [class.show_pageBreakEdition]="readPopoverService.show.pageBreakEdition && viewOptionsTogglesIntro.pageBreakEdition"
      [ngClass]="(hasSeparateIntroToc ? 'hideIntro' : '') + ' ' +
            ((readPopoverService.fontsize==0)?'xsmallFontSize':(readPopoverService.fontsize==1)?'smallFontSize':(readPopoverService.fontsize==2)?'mediumFontSize':(readPopoverService.fontsize==3)?'largeFontSize':'xlargeFontSize')"
      [innerHTML]="text"
    ></div>
  </div>

  <!-- Introduction table of contents -->
  <nav id="TOC" *ngIf="hasSeparateIntroToc && tocMenuOpen">
    <div *ngIf="!userSettingsService.isMobile()" id="toc-close-button" (click)="toggleTocMenu()">
      <ion-button class="close" fill="clear">
        <ion-icon slot="icon-only" name="close" class="intro-toc-button"></ion-icon>
      </ion-button>
    </div>
    <div id="toc-text" [innerHTML]="textMenu"></div>
  </nav>

</ion-content>

<text-changer *ngIf="userSettingsService.isMobile()" [textItemID]="id" [parentPageType]="'page-introduction'" class="text-changer-mobile-mode"></text-changer>
