:host {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  width: 100%;
  height: 100%;
  font-family: var(--font-stack-top-menu);
  background-color: var(--primary-color);
  color: var(--text-color-on-primary-color-background);
  contain: content;
  border-bottom: var(--top-menu-toolbar-bottom-border);
}

ul {
  list-style-type: none;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  padding: 0;
  margin: 0 0 0 1rem;
  width: 100%;
  li {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    font-weight: 600;
    margin: 0 2rem 0 0;
    padding: 0;
    filter: var(--top-menu-button-filter);
    a {
      color: inherit;
      text-decoration: none;
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      transition: var(--opacity-hover-transition);
      text-transform: uppercase;
    }

    a:hover {
      opacity: var(--opacity-hover);
    }
    > div {
      position: absolute;
      display: none;
      background: var(--primary-color);
      &.open{
        display: block;
        white-space: nowrap;
      }
      a {
        padding: 5px;
      }
    }
    ion-icon {
      font-size: var(--top-menu-toolbar-button-icons-font-size, 1.875rem);
      min-width: var(--top-menu-toolbar-button-icons-font-size, 1.875rem);
      margin-right: 0;

      &.toggle-language-menu-icon {
        font-size: 1.25rem;
        margin-left: 0.25rem;
      }
      &.hide-icon {
        display: none;
      }
    }

    .side-title {
      font-size: 0.875rem;
      margin-left: 0.5rem;
      font-weight: 600;
      text-transform: uppercase;
      white-space: nowrap;
    }

    @media only screen and (max-width: 960px) {
      .side-title {
        position: absolute;
        top: auto;
        left: -10000px;
        width: 1px;
        height: 1px;
        overflow: hidden;
      }
      .toggle-language-menu-icon {
        display: none;
      }
    }
  }

  @media only screen and (max-width: 1020px) {
    li {
      margin-right: 1.5rem;
    }
  }

  li.site-logo {
    filter: none;
    margin: 0 0.375rem 0 auto;

    a {
      display: block;
      text-decoration: none;

      img {
        display: block;
        height: var(--top-menu-logo-height, 60px);
        width: auto;
      }

      img.mobile-logo {
        display: none;
      }

      @media only screen and (max-width: 1150px) {
        img.default-logo {
          display: none;
        }
        img.mobile-logo {
          display: block;
        }
      }
    }
  }
}
