<ion-toolbar>
  <div slot="end" class="title-logo-wrapper">
    <title-logo></title-logo>
  </div>
  <ion-buttons slot="start" class="top-menu-buttons">
    <ion-button>
      <a href="#" (click)="toggleSideMenu($event)">
        <ion-icon [class.visuallyhidden]="showSideMenu" name="menu-sharp"></ion-icon>
        <ion-icon [class.visuallyhidden]="!showSideMenu" name="close-sharp"></ion-icon>
        <span class="side-title" i18n="@@TopMenu.Menu">Meny</span>
      </a>
    </ion-button>
    <ion-button>
      <a [routerLink]="['/']">
        <ion-icon name="home-sharp"></ion-icon>
        <span class="side-title" i18n="@@TopMenu.Home">Hem</span>
      </a>
    </ion-button>
    <ion-button *ngIf="showTopContentButton && userSettingsService.isDesktop()">
      <a [routerLink]="['/publications']">
        <ion-icon name="library-sharp"></ion-icon>
        <span class="side-title" i18n="@@TopMenu.Content">Innehåll</span>
      </a>
    </ion-button>
    <ion-button *ngIf="showTopAboutButton && userSettingsService.isDesktop()">
      <a [routerLink]="['/about', activeLocale + '-' + firstAboutPageId]">
        <ion-icon name="information-circle-sharp"></ion-icon>
        <span class="side-title" i18n="@@TopMenu.Info">Om</span>
      </a>
    </ion-button>
    <ion-button *ngIf="showTopSearchButton" class="elastic-search-button" id="elasticSearchIcon">
      <a [routerLink]="['/elastic-search']">
        <ion-icon name="search"></ion-icon>
        <span class="side-title" i18n="@@TopMenu.Search">Sök</span>
      </a>
    </ion-button>
    <ion-button *ngIf="showTopURNButton" (click)="showReference($event)">
      <ion-icon name="share"></ion-icon>
      <span class="side-title" i18n="@@Reference.refer">Hänvisa</span>
    </ion-button>
    <ion-button *ngIf="showLanguageButton && currentLanguageLabel">
      <a href="#" (click)="toggleLanguageMenu($event)">
        <ion-icon name="language-sharp"></ion-icon>
        <span class="side-title">{{currentLanguageLabel}}</span>
        <ion-icon class="toggle-language-menu-icon" [class.hide-icon]="languageMenuOpen" name="chevron-down-sharp"></ion-icon>
        <ion-icon class="toggle-language-menu-icon" [class.hide-icon]="!languageMenuOpen" name="chevron-up-sharp"></ion-icon>
      </a>
    </ion-button>
  </ion-buttons>
</ion-toolbar>
