<ion-toolbar>
  <div slot="end" class="title-logo-wrapper">
    <title-logo></title-logo>
  </div>
  <ion-buttons slot="start" class="top-menu-buttons">
    <ion-button (click)="toggleSplitPane()">
      <ion-icon *ngIf="!showSideMenu" name="menu"></ion-icon>
      <ion-icon *ngIf="showSideMenu" name="close"></ion-icon>
    </ion-button>
    <ion-button>
      <a [routerLink]="['/']">
        <ion-icon name="home"></ion-icon>
      </a>
    </ion-button>
    <ion-button *ngIf="showTopContentButton && userSettingsService.isDesktop()">
      <a [routerLink]="['/publications']">
        <ng-container i18n="@@TopMenu.Read">Läs</ng-container>
      </a>
    </ion-button>
    <ion-button *ngIf="showTopAboutButton && userSettingsService.isDesktop()">
      <a [routerLink]="['/about', activeLocale + '-' + firstAboutPageId]">
        <ng-container i18n="@@TopMenu.Info">Om</ng-container>
      </a>
    </ion-button>
    <ion-button *ngIf="showTopElasticButton" class="elastic-search-button" id="elasticSearchIcon">
      <a [routerLink]="['/elastic-search']">
        <ion-icon slot="start" name="search"></ion-icon>
        <span class="side-title" i18n="@@TopMenu.AdvancedSearch">Sök</span>
      </a>
    </ion-button>
    <ion-button *ngIf="showTopURNButton" (click)="showReference($event)">
      <ion-icon slot="start" name="share"></ion-icon>
      <span class="side-title" i18n="@@Reference.refer">Hänvisa</span>
    </ion-button>
    <ion-button *ngIf="showViewToggle" (click)="showUserSettingsPopover($event)">
      <ion-icon name="earth"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>
