nav {
  overflow: auto;
  width: 100%;
  ul {
    padding-left: 16px;
    list-style-type: none;
    width: 100%;
    position: relative;
    app-recursive-accordion {
      width: 100%;
    }
    li {
      color: #000;
      overflow-wrap: break-word;
      position: relative;
      width: 100%;
      padding: 10px 0;
      cursor: pointer;
      &.accordion-list {
        display: none;
        padding: 0;
        width: 100%;
        transition: display linear 0.2s;
        &.open {
          display: block;
          transition: display linear 0.2s;
        }
      }
      &.menu-highlight {
        border-right: 5px solid var(--primary-color);
      }
      a {
        width: 100%;
        display: block;
        text-decoration: none;
        color: #000;
        max-width: 100%;
        margin-right: 8px;
      }
      ion-icon {
        float: right;
      }
    }
  }
}
