<nav *ngIf="!isLoading">
  <ul>
    <li *ngIf="_config.HasCover" [class.menu-highlight]="initialUrlSegments[2].path === 'cover'">
      <a routerLink="{{collectionID | collectionPathGenerator: 'cover'}}" i18n="@@Read.CoverPage.Title">Omslag</a>
    </li>
    <li *ngIf="_config.HasTitle" [class.menu-highlight]="initialUrlSegments[2].path === 'title'">
      <a routerLink="{{collectionID | collectionPathGenerator: 'title'}}" i18n="@@Read.TitlePage.Title">Titelblad</a>
    </li>
    <li *ngIf="_config.HasForeword" [class.menu-highlight]="initialUrlSegments[2].path === 'foreword'">
      <a routerLink="{{collectionID | collectionPathGenerator: 'foreword'}}" i18n="@@Read.ForewordPage.Title">Förord</a>
    </li>
    <li *ngIf="_config.HasIntro" [class.menu-highlight]="initialUrlSegments[2].path === 'introduction'">
      <a routerLink="{{collectionID | collectionPathGenerator: 'introduction'}}" i18n="@@Read.Introduction.Title">Inledning</a>
    </li>
    <ng-container
      *ngTemplateOutlet="recursiveTemplate; context: {$implicit: collectionContent.children, level: 0, path: ''}"></ng-container>
  </ul>
</nav>

<ng-template #recursiveTemplate let-level="level" let-list let-path="path">
  <ng-container *ngFor="let item of list">
    <li (click)="toggle(item, level)"
        [class.menu-highlight]="highlightedMenu === item.itemId">
      <a *ngIf="item.itemId" [queryParams]="item.itemId | positionParamGenerator"
         routerLink="{{item.itemId | pagePathGenerator}}">{{item.text}}</a>
      <span *ngIf="!item.itemId">
        {{item.text}}
      </span>
      <ion-icon *ngIf="item.children"
                [class.open]="selectedMenu[level] && (selectedMenu[level] === item.itemId || selectedMenu[level] === item.text)"
                name="chevron-forward-outline"></ion-icon>
    </li>
    <li *ngIf="item.children" [class.open]="selectedMenu[level] && (selectedMenu[level] === item.itemId || selectedMenu[level] === item.text)"
        class="accordion-list">
      <ul>
        <ng-container
          *ngTemplateOutlet="recursiveTemplate; context: {$implicit: item.children, path: path +'/' + (item.itemId || item.text), level: (level+1)}"></ng-container>
      </ul>
    </li>
  </ng-container>
</ng-template>
