<ion-header>
  <ion-toolbar>
    <ion-title i18n="@@DownloadTexts.Title">Ladda ner och skriv ut</ion-title>
    <ion-buttons slot="end">
      <ion-button class="close-button" fill="clear" (click)="dismiss()">
        <ion-icon name="close" slot="icon-only" aria-label="Stäng" i18n-aria-label="@@BasicActions.Close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="modal-inner-wrapper">
    <h2 *ngIf="collectionTitle || publicationTitle"
          [ngClass]="introductionMode ? 'introductionMode' : 'readTextsMode'"
    >
      <span class="header-pub-title" [innerHTML]="publicationTitle"></span>
      <span class="header-coll-title" [innerHTML]="collectionTitle"></span>
    </h2>

    <p *ngIf="showLoadingError" class="errorMessage" i18n="@@DownloadTexts.TextLoadingError">Nedladdningen misslyckades. Vänligen försök igen och tillåt popup-fönster från webbplatsen.</p>
    <p *ngIf="showMissingTextError" class="errorMessage" i18n="@@DownloadTexts.MissingTextError">Texten saknas och går inte att ladda ner.</p>
    <p *ngIf="showPrintError" class="errorMessage" i18n="@@DownloadTexts.OpenPrintError">Utskriftsversionen kunde inte öppnas i ett nytt fönster. Vänligen försök igen och tillåt popup-fönster från webbplatsen.</p>

    <div class="modal-inner-box">
      <div *ngIf="introductionMode && downloadFormatsIntro.length" class="dlt-group">
        <h3 i18n="@@introduction">Inledning</h3>
        <ion-buttons class="download-buttons">
          <ng-container *ngFor="let format of downloadFormatsIntro">
            <ion-button *ngIf="format !== 'print'"
                  class="custom-button"
                  (click)="initiateDownload('intro', format)"
            >
              <ng-container *ngIf="format === 'xml'" i18n="@@DownloadTexts.Format.XML">XML</ng-container>
              <ng-container *ngIf="format === 'html'" i18n="@@DownloadTexts.Format.HTML">HTML</ng-container>
              <ng-container *ngIf="format === 'xhtml'" i18n="@@DownloadTexts.Format.XHTML">XHTML</ng-container>
              <ng-container *ngIf="format === 'txt'" i18n="@@DownloadTexts.Format.TXT">TXT</ng-container>
            </ion-button>
            <ion-button *ngIf="format === 'print'"
                  class="custom-outline-button"
                  fill="outline"
                  (click)="openPrintFriendlyText('intro')"
                  i18n="@@DownloadTexts.Format.Print"
            >Utskrift</ion-button>
          </ng-container>
          <ion-spinner *ngIf="loadingIntro" class="loading" name="crescent"></ion-spinner>
        </ion-buttons>
      </div>

      <ng-container *ngIf="(publicationData$ | async) as publicationData">
        <ng-container *ngIf="readTextsMode && downloadFormatsEst.length && publicationData.original_filename">
          <ng-container *ngFor="let language of readTextLanguages">
            <div *ngIf="readTextLanguages.length < 2 || (readTextLanguages.length > 1 && publicationData.original_filename[language])" class="dlt-group">
              <h3 *ngIf="readTextLanguages.length < 2" i18n="@@Read.Established.Title">Lästext</h3>
              <h3 *ngIf="readTextLanguages.length > 1">
                  <ng-container *ngIf="language === 'sv'" i18n="@@established_sv">Lästext (på svenska)</ng-container>
                  <ng-container *ngIf="language === 'fi'" i18n="@@established_fi">Lästext (på finska)</ng-container>
              </h3>
              <ion-buttons class="download-buttons">
                <ng-container *ngFor="let format of downloadFormatsEst">
                  <ion-button *ngIf="format !== 'print'"
                        class="custom-button"
                        (click)="initiateDownload('est', format, language)"
                  >
                    <ng-container *ngIf="format === 'xml'" i18n="@@DownloadTexts.Format.XML">XML</ng-container>
                    <ng-container *ngIf="format === 'html'" i18n="@@DownloadTexts.Format.HTML">HTML</ng-container>
                    <ng-container *ngIf="format === 'xhtml'" i18n="@@DownloadTexts.Format.XHTML">XHTML</ng-container>
                    <ng-container *ngIf="format === 'txt'" i18n="@@DownloadTexts.Format.TXT">TXT</ng-container>
                  </ion-button>
                  <ion-button *ngIf="format === 'print'"
                        class="custom-outline-button"
                        fill="outline"
                        (click)="openPrintFriendlyText('est', language)"
                        i18n="@@DownloadTexts.Format.Print"
                  >Utskrift</ion-button>
                </ng-container>
                <ion-spinner *ngIf="loadingEst" class="loading" name="crescent"></ion-spinner>
              </ion-buttons>
            </div>
          </ng-container>
        </ng-container>

        <div *ngIf="readTextsMode &&
                    downloadFormatsCom.length &&
                    publicationData.publication_comment_id"
              class="dlt-group"
        >
          <h3 i18n="@@Read.Comments.Title">Kommentarer</h3>
          <ion-buttons class="download-buttons">
            <ng-container *ngFor="let format of downloadFormatsCom">
              <ion-button *ngIf="format !== 'print'"
                    class="custom-button"
                    (click)="initiateDownload('com', format)"
              >
                <ng-container *ngIf="format === 'xml'" i18n="@@DownloadTexts.Format.XML">XML</ng-container>
                <ng-container *ngIf="format === 'html'" i18n="@@DownloadTexts.Format.HTML">HTML</ng-container>
                <ng-container *ngIf="format === 'xhtml'" i18n="@@DownloadTexts.Format.XHTML">XHTML</ng-container>
                <ng-container *ngIf="format === 'txt'" i18n="@@DownloadTexts.Format.TXT">TXT</ng-container>
              </ion-button>
              <ion-button *ngIf="format === 'print'"
                    class="custom-outline-button"
                    fill="outline"
                    (click)="openPrintFriendlyText('com')"
                    i18n="@@DownloadTexts.Format.Print"
              >Utskrift</ion-button>
            </ng-container>
            <ion-spinner *ngIf="loadingCom" class="loading" name="crescent"></ion-spinner>
          </ion-buttons>
        </div>
      </ng-container>

      <ng-container *ngIf="(manuscriptsList$ | async) as manuscripts">
        <div *ngIf="readTextsMode && downloadFormatsMs.length" class="dlt-group">
          <h3 i18n="@@Read.Manuscripts.Title">Manuskript</h3>
          <ng-container *ngFor="let ms of manuscripts">
            <h4 *ngIf="manuscripts.length > 1" [innerHTML]="ms.name"></h4>
            <ion-buttons class="download-buttons">
              <ng-container *ngFor="let format of downloadFormatsMs">
                <ion-button *ngIf="format !== 'print'"
                      class="custom-button"
                      (click)="initiateDownload('ms', format, '', ms.id)"
                >
                  <ng-container *ngIf="format === 'xml'" i18n="@@DownloadTexts.Format.XML">XML</ng-container>
                  <ng-container *ngIf="format === 'html'" i18n="@@DownloadTexts.Format.HTML">HTML</ng-container>
                  <ng-container *ngIf="format === 'xhtml'" i18n="@@DownloadTexts.Format.XHTML">XHTML</ng-container>
                  <ng-container *ngIf="format === 'txt'" i18n="@@DownloadTexts.Format.TXT">TXT</ng-container>
                </ion-button>
                <ion-button *ngIf="format === 'print'"
                      class="custom-outline-button"
                      fill="outline"
                      (click)="openPrintFriendlyText('ms', '', ms.id)"
                      i18n="@@DownloadTexts.Format.Print"
                >Utskrift</ion-button>
              </ng-container>
              <ion-spinner *ngIf="loadingMs" class="loading" name="crescent"></ion-spinner>
            </ion-buttons>
          </ng-container>
        </div>
      </ng-container>

      <div *ngIf="instructionsText || copyrightText" class="notice">
        <p *ngIf="instructionsText" class="download-instructions" [innerHTML]="instructionsText"></p>
        <p *ngIf="copyrightText && !copyrightURL" class="copyright-notice" [innerHTML]="copyrightText"></p>
        <p *ngIf="copyrightText && copyrightURL" class="copyright-notice">
          <a [href]="copyrightURL" target="_blank">
            <span [innerHTML]="copyrightText"></span>
            <ion-icon name="open-outline"
                  [ngStyle]="{
                    'font-size': '1.375rem',
                    'padding-left': '0.125rem',
                    'vertical-align': 'text-bottom'
                  }"
                  aria-label="Länken öppnas i ett nytt fönster"
                  i18n-aria-label="@@BasicActions.OpenInNewWindow"
            ></ion-icon>
          </a>
        </p>
      </div>
    </div>
  </div>
</ion-content>
