<ion-split-pane [when]="true" contentId="cover-content">
  <table-of-content [collectionId]="paramCollectionID"></table-of-content>
  <ion-content id="cover-content">
    <ion-header *ngIf="!(userSettingsService.isMobile()) && !hasDigitalEditionListChildren" class="ion-no-border">
      <ion-toolbar class="secondary">

        <text-changer *ngIf="!(userSettingsService.isMobile())" [parentPageType]="'page-cover'" [textItemID]="id"
                      class="text-changer-desktop-view"></text-changer>

      </ion-toolbar>
    </ion-header>

    <ion-content *ngIf="hasDigitalEditionListChildren" class="ion-padding">
      <div class="">
        <digital-edition-list-children [childrenPdfs]="childrenPdfs" [collectionID]="id"
                                       [layoutType]="'auto'"></digital-edition-list-children>
      </div>
    </ion-content>

    <ion-content *ngIf="!hasDigitalEditionListChildren && !hasMDCover" [ngClass]="printMainContentClasses()"
                 class="publication-ion-content">
      <div class="scroll-content-container">
        <div [innerHTML]="text" class="tei teiContainer"></div>
      </div>
    </ion-content>
    <ion-content *ngIf="!hasDigitalEditionListChildren && hasMDCover" [ngClass]="printMainContentClasses()"
                 class="publication-ion-content">
      <div [ngClass]="printMainContentClasses()" class="cover-image-wrapper">
        <img [alt]="image_alt" [src]="image_src" class="cover-image">
      </div>
    </ion-content>
    <text-changer *ngIf="(userSettingsService.isMobile()) && !hasDigitalEditionListChildren"
                  [parentPageType]="'page-cover'"
                  [textItemID]="id" class="text-changer-mobile-view"></text-changer>
  </ion-content>
</ion-split-pane>

