<ion-app>

  <header>
    <nav class="top-navigation">
      <top-menu (sideNavClick)="toggleSideNav()" [showSideNav]="showSideNav" [currentRouterUrl]="currentRouterUrl"></top-menu>
    </nav>
  </header>
  <div class="content-container">
    <nav id="side-navigation" class="side-navigation" [class.visuallyhidden]="!showSideNav">
      <main-side-menu *ngIf="mountMainSideMenu" [class.visuallyhidden]="showCollectionSideMenu"></main-side-menu>
      <collection-side-menu *ngIf="showCollectionSideMenu"
        [collectionID]="collectionID"
        [initialQueryParams]="collectionSideMenuInitialQueryParams"
        [initialUrlSegments]="collectionSideMenuInitialUrlSegments">
      </collection-side-menu>
    </nav>
    <div class="main-content">
      <ion-router-outlet [animated]="false"></ion-router-outlet>
    </div>
  </div>

</ion-app>
