<ion-app>

  <header>
    <nav class="top-navigation">
      <top-menu (sideMenuClick)="toggleSideMenu()" [showSideMenu]="showSideMenu" [currentRouterUrl]="currentRouterUrl"></top-menu>
    </nav>
  </header>
  <div class="content-container">
    <nav id="side-menu" class="side-navigation" [class.visuallyhidden]="!showSideMenu">
      <app-side-menu [class.visuallyhidden]="showCollectionSideMenu"></app-side-menu>
      <collection-side-menu *ngIf="showCollectionSideMenu"
        [collectionID]="collectionID"
        [initialQueryParams]="initialQueryParams"
        [initialUrlSegments]="initialUrlSegments">
      </collection-side-menu>
    </nav>
    <div class="main-content">
      <ion-router-outlet [animated]="false"></ion-router-outlet>
    </div>
  </div>

</ion-app>
