/*
ion-router-outlet {
    margin-top: 18px;
}
*/

ion-split-pane {
    --border: 1px solid var(--toc-border-right-color);
    --side-max-width: 0;
    --side-width: 0;
    height: 100%;
    position: relative;

    // Styles for the navigation menu on the left
    .split-pane-side {
        /*position: relative;*/
        /*width: 0;
        max-width: 0;*/
        /*
        transition: 1s all ease-in;
        transform: none !important;
        z-index: 7 !important;
        */
    }
    &.split-pane-visible {
        --side-max-width: 270px;
        --side-width: 270px;
    }
}

::ng-deep {
  app-side-menu, collection-side-menu {
    position: relative;
    height: 100%;
    overflow-y: auto;
    ul {
      padding-left: 16px;
      list-style-type: none;
      width: 100%;
      position: relative;

      app-recursive-accordion {
        width: 100%;
      }

      li {
        color: #000;
        overflow-wrap: break-word;
        position: relative;
        width: 100%;
        padding-right: 5px ;
        cursor: pointer;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        &.accordion-list {
          display: none;
          padding: 0;
          width: 100%;
          transition: display linear 0.2s;

          &.open {
            display: block;
            transition: display linear 0.2s;
          }
        }

        &.menu-highlight {
          border-right: 5px solid var(--primary-color);
        }

        a {
          width: 100%;
          display: block;
          text-decoration: none;
          color: #000;
          max-width: 100%;
          margin-right: 8px;
        }
        > *:not(ul) {
          padding: 10px 0;
        }
        ion-icon {
          float: right;
          flex-shrink: 0;
        }
      }
    }

    ion-split-pane {
      --border: 1px solid var(--toc-border-right-color);
      --side-max-width: 0;
      --side-width: 0;
      height: 100%;
      position: relative;

      // Styles for the navigation menu on the left
      .split-pane-side {
        /*position: relative;*/
        /*width: 0;
        max-width: 0;*/
        /*
        transition: 1s all ease-in;
        transform: none !important;
        z-index: 7 !important;
        */
      }

      &.split-pane-visible {
        --side-max-width: 270px;
        --side-width: 270px;
      }
    }
  }
}
::ng-deep ion-icon {
  transform: rotate(0);
  transition: transform ease-in-out 0.2s;
  &.open{
    transform: rotate(90deg);
    transition: transform ease-in-out 0.2s;
  }
}

// On small screens, make the left navigation menu into an overlay menu so the content doesn't reflow when opening or closing the menu.
@media only screen and (max-width: 820px) {
    ion-split-pane.split-pane-visible > .split-pane-side {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10000;
    }
}
