ion-split-pane {
  --border: 1px solid var(--toc-border-right-color);
  --side-max-width: 0;
  --side-width: 0;
  height: 100%;
  position: relative;

  // Styles for the navigation menu on the left
  .split-pane-side {
    /*position: relative;*/
    /*width: 0;
    max-width: 0;*/
    /*
    transition: 1s all ease-in;
    transform: none !important;
    z-index: 7 !important;
    */
  }
  &.split-pane-visible {
    --side-max-width: 270px;
    --side-width: 270px;
  }
}

:host::ng-deep ul {
  padding-left: 16px;
  list-style-type: none;
  width: 100%;
  position: relative;
  app-recursive-accordion {
    width: 100%;
  }
  li {
    color: #000;
    display: flex;
    overflow-wrap: break-word;
    position: relative;
    width: 100%;
    padding: 10px 0;
    &.accordion-list {
      display: none;
      padding: 0;
      width: 100%;
      transition: display linear 0.2s;
      &.open {
        display: block;
        transition: display linear 0.2s;
      }
    }
    &.menu-highlight {
      border-right: 5px solid var(--primary-color);
    }
    a {
      width: 100%;
      text-decoration: none;
      color: #000;
      max-width: 100%;
      margin-right: 8px;
    }
  }
}


