<nav class="toc-menu-content list-item-spacing">
  <!--  *ngIf="!readMenuOpen && !galleryMenuOpen && !menuConditionals.songTypesMenuOpen"-->
  <ul>
    <li *ngIf="_config.show?.TOC?.Home" [class.menu-highlight]="selectedMenu === '/'">
      <a routerLink="/">
        {{"TOC.Home" | translate }}
      </a>
    </li>
    <!-- Markdown "About"-pages: src/app/pages/about -->
    <ng-container *ngIf="_config.show?.TOC?.About">
      <li (click)="toggleAccordion('/about')" *ngIf="aboutOptionsMarkdown">
        <span>
          {{aboutOptionsMarkdown.title}}
        </span>
        <ion-icon *ngIf="aboutOptionsMarkdown.children" [class.open]="selectedMenu === '/about'"
                  name="chevron-forward-outline"></ion-icon>
      </li>
      <li *ngIf="_config.show?.TOC?.About && aboutOptionsMarkdown" [class.open]="selectedMenu === '/about'"
          class="accordion-list">
        <app-recursive-accordion
          [children]="aboutOptionsMarkdown.children"
          [parentPath]="'/about'">
        </app-recursive-accordion>
      </li>
    </ng-container>

    <!-- Epubs: src/app/pages/epub -->
    <ng-container *ngIf="_config.show?.TOC?.EPUB">
      <li (click)="toggleAccordion('/epub')">
        <span>{{"TOC.EPUBS" | translate }}</span>
        <ion-icon *ngIf="_config.AvailableEpubs" [class.open]="selectedMenu === '/epub'"
                  name="chevron-forward-outline"></ion-icon>
      </li>
      <li *ngIf="_config.AvailableEpubs" [class.open]="selectedMenu === '/epub'" class="accordion-list">
        <app-recursive-accordion
          [children]="_config.AvailableEpubs"
          [parentPath]="'/epub'">
        </app-recursive-accordion>
      </li>
    </ng-container>

    <ng-container *ngIf="_config.show?.TOC?.Read">
      <ng-container *ngIf="_config.collections.order">
        <ng-container *ngFor="let collection of collectionsList; let i = index">
          <li (click)="toggleAccordion('/collection' + i)">
            <span>{{"TOC.Read" + (i + 1)  | translate }}</span>
            <ion-icon *ngIf="collection.length" [class.open]="selectedMenu === ('/collection' + i)"
                      name="chevron-forward-outline"></ion-icon>
          </li>
          <li [class.open]="selectedMenu === ('/collection' + i)" class="accordion-list">
            <app-recursive-accordion
              [children]="collection"
              [parentPath]="'/collection'">
            </app-recursive-accordion>
          </li>
        </ng-container>
      </ng-container>
    </ng-container>

    <ng-container *ngIf="_config.show?.TOC?.MediaCollections">
      <li (click)="toggleAccordion('/media-collection')">
        <span>{{"TOC.MediaCollections" | translate }}</span>
        <ion-icon [class.open]="selectedMenu === '/media-collection'"
                  name="chevron-forward-outline"></ion-icon>
      </li>
      <li *ngIf="mediaCollectionOptions.accordionToc?.children" [class.open]="selectedMenu === '/media-collection'"
          class="accordion-list">
        <app-recursive-accordion
          [children]="mediaCollectionOptions.accordionToc.children"
          [parentPath]="'/media-collection'">
        </app-recursive-accordion>
      </li>
    </ng-container>

    <!-- Person search: src/app/pages/person-search -->
    <li *ngIf="_config.show?.TOC?.PersonSearch" [class.menu-highlight]="selectedMenu === '/person-search'">
      <ng-container *ngFor="let ps of _config.PersonSearchTypes">
        <a routerLink="{{'/person-search/' + ps.object_type +'/' + ps.object_subtype}}">
          {{ps.translation | translate }}
        </a>
      </ng-container>
    </li>

    <!-- Place search: src/app/pages/place-search -->
    <li *ngIf="_config.show?.TOC?.PlaceSearch" [class.menu-highlight]="selectedMenu === '/place-search'">
      <a routerLink="/place-search">
        {{"TOC.PlaceSearch" | translate }}
      </a>
    </li>

    <!-- Tag search: src/app/pages/tag-search -->
    <li *ngIf="_config.show?.TOC?.TagSearch" [class.menu-highlight]="selectedMenu === '/tag-search'">
      <a routerLink="/tag-search">
        {{"TOC.TagSearch" | translate }}
      </a>
    </li>

    <!-- Work search: src/app/pages/work-search *ngIf="genericSettingsService.show('TOC.WorkSearch')"-->
    <li *ngIf="_config.show?.TOC?.WorkSearch" [class.menu-highlight]="selectedMenu === '/work-search'">
      <a routerLink="/work-search">
        {{"TOC.WorkSearch" | translate }}
      </a>
    </li>
  </ul>
</nav>
