<!--  *ngIf="!readMenuOpen && !galleryMenuOpen && !menuConditionals.songTypesMenuOpen"-->
<ul>
  <li *ngIf="_config.show?.TOC?.Home" [class.menu-highlight]="!urlRootSegment">
    <a routerLink="/" i18n="@@TOC.Home">Hem</a>
  </li>
  <!-- Markdown "About"-pages: src/app/pages/about -->
  <ng-container *ngIf="_config.show?.TOC?.About">
    <li (click)="toggleAccordion('/about')" *ngIf="aboutOptionsMarkdown">
      <span>
        {{aboutOptionsMarkdown.title}}
      </span>
      <ion-icon *ngIf="aboutOptionsMarkdown.children" [class.open]="selectedMenu.includes('/about')"
                name="chevron-forward-outline"></ion-icon>
    </li>
    <li *ngIf="_config.show?.TOC?.About && aboutOptionsMarkdown" [class.open]="selectedMenu.includes('/about')"
        class="accordion-list">
      <app-recursive-accordion
        [children]="aboutOptionsMarkdown.children"
        [parentPath]="'/about'">
      </app-recursive-accordion>
    </li>
  </ng-container>

  <!-- Epubs: src/app/pages/epub -->
  <ng-container *ngIf="_config.show?.TOC?.EPUB">
    <li (click)="toggleAccordion('/epub')">
      <span i18n="@@TOC.EPUBS">Epub</span>
      <ion-icon *ngIf="_config.AvailableEpubs" [class.open]="selectedMenu.includes('/epub')"
                name="chevron-forward-outline"></ion-icon>
    </li>
    <li *ngIf="_config.AvailableEpubs" [class.open]="selectedMenu.includes('/epub')" class="accordion-list">
      <app-recursive-accordion
        [children]="_config.AvailableEpubs"
        [parentPath]="'/epub'">
      </app-recursive-accordion>
    </li>
  </ng-container>

  <ng-container *ngIf="_config.show?.TOC?.Read">
    <ng-container *ngIf="_config.collections.order">
      <ng-container *ngFor="let collection of collectionsList; let i = index">
        <li (click)="toggleAccordion('/collection' + i)">
          <span *ngIf="i == 0" i18n="@@TOC.Read">Innehåll</span>
          <span *ngIf="i == 1" i18n="@@TOC.Read1">Innehåll 2</span>
          <span *ngIf="i == 2" i18n="@@TOC.Read2">Innehåll 3</span>
          <span *ngIf="i == 3" i18n="@@TOC.Read3">Innehåll 4</span>
          <span *ngIf="i == 4" i18n="@@TOC.Read4">Innehåll 5</span>
          <ion-icon *ngIf="collection.length" [class.open]="selectedMenu.includes(('/collection' + i))"
                    name="chevron-forward-outline"></ion-icon>
        </li>
        <li [class.open]="selectedMenu.includes(('/collection' + i))" class="accordion-list">
          <app-recursive-accordion
            [children]="collection"
            [parentPath]="'/collection'">
          </app-recursive-accordion>
        </li>
      </ng-container>
    </ng-container>
  </ng-container>

  <ng-container *ngIf="_config.show?.TOC?.MediaCollections">
    <li (click)="toggleAccordion('/media-collection')">
      <span i18n="@@TOC.MediaCollections">Bildbank</span>
      <ion-icon [class.open]="selectedMenu.includes('/media-collection')"
                name="chevron-forward-outline"></ion-icon>
    </li>
    <li *ngIf="mediaCollectionOptions.accordionToc?.children" [class.open]="selectedMenu.includes('/media-collection')"
        class="accordion-list">
      <app-recursive-accordion
        [children]="mediaCollectionOptions.accordionToc.children"
        [parentPath]="'/media-collection'">
      </app-recursive-accordion>
    </li>
  </ng-container>

  <!-- Person search: src/app/pages/person-search -->
  <li *ngIf="_config.show?.TOC?.PersonSearch" [class.menu-highlight]="urlRootSegment === 'person-search'">
    <ng-container *ngFor="let ps of _config.PersonSearchTypes; let j = index">
      <a routerLink="{{'/person-search/' + ps.object_type +'/' + ps.object_subtype}}">
        <ng-container *ngIf="j == 0" i18n="@@PersonSearch">Personregister</ng-container>
        <ng-container *ngIf="j == 1" i18n="@@PersonSearch2">Personregister 2</ng-container>
        <ng-container *ngIf="j == 2" i18n="@@PersonSearch3">Personregister 3</ng-container>
      </a>
    </ng-container>
  </li>

  <!-- Place search: src/app/pages/place-search -->
  <li *ngIf="_config.show?.TOC?.PlaceSearch" [class.menu-highlight]="urlRootSegment === 'places'">
    <a routerLink="/places" i18n="@@TOC.PlaceSearch">Ortregister</a>
  </li>

  <!-- Tag search: src/app/pages/tag-search -->
  <li *ngIf="_config.show?.TOC?.TagSearch" [class.menu-highlight]="urlRootSegment === 'tags'">
    <a routerLink="/tags" i18n="@@TOC.TagSearch">Ämnesord</a>
  </li>

  <!-- Work search: src/app/pages/work-search *ngIf="genericSettingsService.show('TOC.WorkSearch')"-->
  <li *ngIf="_config.show?.TOC?.WorkSearch" [class.menu-highlight]="urlRootSegment === 'works'">
    <a routerLink="/works" i18n="@@TOC.WorkSearch">Verkregister</a>
  </li>
</ul>
