<ion-content class="ion-padding">
  <ion-grid>
      <ion-row class="page-info-row">
        <h1 class="page-title" i18n="@@TOC.PlaceSearch">Ortregister</h1>
        <div class="info markdown" *ngIf="mdContent$ | async" [innerHTML]="mdContent$ | async"></div>
      </ion-row>
      <ion-row class="search-area-row">
          <ion-col>
            <ion-row>
                <ion-col class="searchbar-col" col-10>
                  <ion-searchbar placeholder="Sök ..." i18n-placeholder="@@IndexOfPlaces.searchPlaceholder" class="searchbar" [(ngModel)]="searchText" (ionInput)="onSearchInput()" (ionClear)="onSearchClear()"></ion-searchbar>
                </ion-col>
                <ion-col class="filter-button-col" col-2 *ngIf="showFilter">
                    <button (click)="openFilterModal()" ion-button><ion-icon class="filter-button" name="funnel"></ion-icon></button>
                </ion-col>
            </ion-row>

            <ion-row class="active-filters-row" *ngIf="filters && filters.filterPlaceCountries && !filters.isEmpty">
              <ion-item>
                <span class="active-filters-heading"><ng-container i18n="@@Filter.activeFilters">Aktiva avgränsningar</ng-container>:</span>
                <ng-container *ngIf="filters.filterPlaceCountries && filters.filterPlaceCountries.length > 0">
                  <ng-container *ngFor="let fpc of filters.filterPlaceCountries; let i = index">
                    <span class="active-category-type">{{fpc.name}}</span><ng-container *ngIf="i < filters.filterPlaceCountries.length - 1">, </ng-container></ng-container></ng-container>
              </ion-item>
            </ion-row>

            <ion-list>
                <div *ngFor="let p of places">
                  <ion-item *ngIf="p?.firstOfItsKind">
                    <ion-item-divider color="light">{{p.firstOfItsKind.toLocaleUpperCase()}}</ion-item-divider>
                  </ion-item>
                  <ion-item *ngIf="p?.name.length > 1" (click)="openPlace(p)">
                    <p>{{p.name}}</p>
                  </ion-item>
                </div>
            </ion-list>

            <ion-row class="load-more-wrapper">
              <div class="loading-spinner-wrapper">
                <ion-spinner *ngIf="showLoading" class="loading" name="crescent"></ion-spinner>
              </div>
              <ion-button *ngIf="places.length > 0 && hasMore()" (click)="loadMore($event)" [disabled]="showLoading" i18n="@@BasicActions.ShowMore">Visa fler</ion-button>
            </ion-row>

            <ion-row class="hits-footer" *ngIf="places.length > 100">
              <ion-button fill="outline" (click)="scrollToTop()" i18n="@@BasicActions.ScrollToTop">Till början</ion-button>
            </ion-row>
          </ion-col>

          <ion-col class="alphabet">
            <button ion-fab mini (click)="showAll()"><ion-icon name="refresh"></ion-icon></button>
            <button ion-fab mini *ngFor="let letter of alphabet" class="letter" (click)="filterByLetter(letter)">{{letter}}</button>
            <button ion-fab mini (click)="showAll()"><ion-icon name="refresh"></ion-icon></button>
          </ion-col>
        </ion-row>
  </ion-grid>
</ion-content>
