// Import page specific, non-global CSS variables
@import "src/theme/scoped-variables/page-text-variables.scss";

// Import general styles for the secondary toolbar
@import "src/theme/common/secondary-toolbar.scss";

// Import general styles for the scroll-content-container class
@import "src/theme/common/scroll-content-container.scss";

// Import general styles for the collection-ion-content class
@import "src/theme/common/collection-ion-content.scss";

// Overrides to the general collection-ion-content class styles
ion-content.collection-ion-content::part(scroll) {
  padding: 26px 16px;
}
@media screen and (max-width: 820px) {
  ion-content.collection-ion-content::part(scroll) {
    padding-left: 0;
    padding-right: 0;
  }
}

// Styles for the columns
.column-container {
  width: 100%;
}
.read-columns-wrapper {
  align-content: center;
  display: flex;
  white-space: nowrap;
  width: 100%;

  .read-column {
    flex: 1 1 auto;
    position: relative;
    max-width: 730px;
    min-width: 500px;
    width: 100%;

    ion-card {
      --background: var(--collection-column-background-color);
      --color: #222;
      border-radius: 0;
      box-shadow: none;
      margin: 0 10px;

      .column-card-title {
        background: var(--secondary-color);
        color: var(--text-color-on-secondary-color-background);
        display: block;
        font-size: 0.875rem;
        font-weight: bold;
        overflow: hidden;
        padding: 16px 32px 16px 22px;
        text-overflow: ellipsis;

        span.column-text-title {
          display: contents;
          font-weight: normal;

          &::before {
            content: " – ";
          }
        }
      }

      .column-card-content {
        padding: 0;
      }

      .scroll-content-container {
        height: calc(100vh - 165px - var(--top-menu-height));
      }
    }
  }

  .read-column.column_type_facsimiles {
    max-width: 100%;

    ion-card .scroll-content-container {
      max-width: 100%;
      overflow-y: hidden;
    }
  }
}

// Styles for the ion-fabs at the top of the columns
ion-fab {
  ion-fab-button {
    --background: var(--fab-button-secondary-background-color);
    --box-shadow: none;
    --color: var(--fab-button-secondary-icon-color);
  }
  ion-fab-button.toggle-fab-list-button {
    --background: var(--fab-button-primary-background-color);
    --color: var(--fab-button-primary-icon-color);
  }
  ion-icon {
    font-size: 24px;
  }
}
ion-fab.column-options {
  right: -8px;
  top: -18px;
}

// Styles for the narrow column where you can add new columns
.add-view-column {
  display: flex;
  flex: 0 0 auto;
  position: relative;
  visibility: hidden; /* Hides the column by default, set to visible below when preceded by a read-column in the DOM. This prevents the column from flashing to the left in page-text when read-columns have not been loaded yet. */
  width: 80px;

  .add-column {
    align-items: center;
    background: var(--secondary-color);
    color: var(--text-color-on-secondary-color-background);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    margin: 10px 25px 0 25px;
    width: 30px;
  }

  .add-column p {
    font-size: 0.8125rem;
    font-weight: bold;
    line-height: 1;
    margin: 0;
    text-transform: uppercase;
    transform: rotate(90deg) translateX(100%);
  }

  ion-fab {
    left: 50%;
    top: -18px;
    transform: translate(-50%, 0);

    ion-fab-button.toggle-fab-list-button ion-icon {
      --ionicon-stroke-width: 48px;
    }
  }
}

.read-column + .add-view-column {
  visibility: visible;
}

ion-segment {
  --background: var(--outline-button-color);
  border-radius: 0;
  justify-content: center;
  margin: 0 auto;
  max-width: 710px;
  width: calc(100% - 2px);
  z-index: 100;
}
ion-segment-button {
  --border-radius: 0;
  font-size: 0.875rem;
}
ion-segment-button:not(.segment-button-checked) {
  color: #fff;
}

// Adjust padding and background color of text and facsimile columns in mobile mode
div.mobile-mode-established,
div.mobile-mode-manuscripts {
  background-color: var(--collection-column-background-color);
  display: block;
  height: calc(100% - 32px); // full height minus ion-segment height
  padding: 12px;
  width: 100%;
}

div.mobile-mode-facsimiles {
  height: calc(100% - 32px); // full height minus ion-segment height
  width: 100%;
}
