// Import scoped CSS variables
@import "src/theme/scoped-variables/page-text-variables.scss";

// Import general styles for the secondary toolbar
@import "src/theme/common/secondary-toolbar.scss";

// Import general styles for the scroll-content-container class
@import "src/theme/common/scroll-content-container.scss";

// Import general styles for the collection-ion-content class
@import "src/theme/common/collection-ion-content.scss";

// Overrides to the general collection-ion-content class styles
ion-content.collection-ion-content::part(scroll) {
  padding: 20px 16px;
}
@media screen and (max-width: 820px) {
  ion-content.collection-ion-content::part(scroll) {
    padding-left: 0;
    padding-right: 0;
  }
}

// Styles for the columns
.column-container {
  width: 100%;
}
.read-columns-wrapper {
  align-content: center;
  display: flex;
  white-space: nowrap;
  width: 100%;

  .read-column {
    flex: 1 1 auto;
    position: relative;
    max-width: 730px;
    min-width: 500px;
    width: 100%;

    ion-card {
      --background: var(--text-area-background-color, #fafafa);
      --color: #222;
      border-radius: 0;
      box-shadow: none;
      margin: 0 10px;

      .column-card-title {
        background: var(--secondary-color);
        color: var(--secondary-color-contrast);
        display: block;
        font-size: 0.9375rem;
        font-weight: bold;
        overflow: hidden;
        padding: 13px 32px 13px 22px;
        text-overflow: ellipsis;

        span.column-text-title {
          display: contents;
          font-weight: normal;

          &::before {
            content: " – ";
          }
        }
      }

      @media screen and (max-width: 820px) {
        .column-card-title {
          padding-left: 12px;
          padding-right: 12px;
        }
      }

      .column-card-content {
        padding: 0;
      }

      .scroll-content-container {
        height: calc(100vh - 146px - var(--top-menu-height, 62px));
      }
    }
  }

  .read-column.column_type_facsimiles {
    max-width: 100%;

    ion-card .scroll-content-container {
      max-width: 100%;
      overflow-y: hidden;
    }
  }
}

// Styles for the ion-fabs at the top of the columns
ion-fab {
  ion-fab-button {
    --background: var(--fab-button-secondary-background-color);
    --box-shadow: none;
    --color: var(--fab-button-secondary-icon-color);
  }
  ion-fab-button.toggle-fab-list-button {
    --background: var(--fab-button-primary-background-color);
    --color: var(--fab-button-primary-icon-color);
  }
  ion-icon {
    font-size: 24px;
  }
}
ion-fab.column-options {
  right: -8px;
  top: -18px;
}

// Styles for the narrow column where you can add new columns
.add-view-column {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  flex-flow: column nowrap;
  margin-left: -8px;
  position: relative;
  visibility: hidden; /* Hides the column by default, set to visible below when preceded by a read-column in the DOM. This prevents the column from flashing to the left in page-text when read-columns have not been loaded yet. */
  width: 80px;

  .add-column {
    align-items: center;
    background: var(--secondary-color);
    color: var(--secondary-color-contrast);
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
    justify-content: flex-start;
    margin: 10px auto 0 auto;
    width: 30px;
  }

  .add-column p {
    font-size: 0.9375rem;
    font-weight: bold;
    line-height: 1.2;
    margin: 0;
    text-transform: uppercase;
    transform: rotate(90deg) translateX(100%);
  }

  ion-fab {
    left: 50%;
    top: -18px;
    transform: translate(-50%, 0);

    ion-fab-button.toggle-fab-list-button ion-icon {
      --ionicon-stroke-width: 48px;
    }
  }
}

.read-column + .add-view-column {
  visibility: visible;
}

.text-select-wrapper {
  align-items: center;
  background-color: var(--text-area-background-color, #fafafa);
  display: flex;
  max-width: 710px;
  padding: 0.75rem 0.5rem 0.5rem 0.5rem;
  width: 100%;

  ion-select {
    --border-color: var(--main-background-accent-color);
    --highlight-color-focused: var(--outline-button-color);
    --highlight-color-valid: var(--outline-button-color);
    max-width: calc(100% - 104px);
    min-height: 3.125rem;
  
    &:hover {
      --border-color: var(--outline-button-color);
    }
  }

  ion-fab {
    position: relative;

    ion-fab-button ion-icon {
      --ionicon-stroke-width: 48px;
    }

    &:first-of-type ion-fab-button {
      margin-left: 12px;
      margin-right: 4px;
    }

    &:last-of-type ion-fab-button {
      margin-right: 0;
    }
  }
}

// Adjust padding and background color of text and facsimile columns in mobile mode
div.mobile-mode-established,
div.mobile-mode-comments,
div.mobile-mode-manuscripts,
div.mobile-mode-variants,
div.mobile-mode-illustrations,
div.mobile-mode-legend,
div.mobile-mode-metadata,
div.mobile-mode-manuscripts {
  background-color: var(--text-area-background-color, #fafafa);
  display: block;
  height: calc(100% - 72px); // full height minus .text-select-wrapper height
  padding: 12px;
  width: 100%;
}

div.mobile-mode-facsimiles {
  height: calc(100% - 72px); // full height minus .text-select-wrapper height
  width: 100%;
}
