<ion-header class="ion-no-border">
  <ion-toolbar class="secondary">

    <text-changer *ngIf="!mobileMode" [textItemID]="textItemID" [textPosition]="textPosition" [parentPageType]="'page-text'" class="text-changer-desktop-mode"></text-changer>

    <ion-buttons slot="end" class="secondary-toolbar-buttons-wrapper">
      <ion-button *ngIf="showTextDownloadButton" (click)="showDownloadModal()">
        <ion-icon slot="start" *ngIf="!usePrintNotDownloadIcon" class="download-icon" name="download"></ion-icon>
        <ion-icon slot="start" *ngIf="usePrintNotDownloadIcon" class="print-icon" name="print"></ion-icon>
        <span class="side-title" i18n="@@DownloadTexts.Download">Ladda ner</span>
      </ion-button>
      <ion-button *ngIf="showURNButton" (click)="showReference()">
        <ion-icon slot="start" class="urn-icon" name="arrow-redo-sharp"></ion-icon>
        <span class="side-title" i18n="@@Reference.refer">Hänvisa</span>
      </ion-button>
      <ion-button *ngIf="showViewOptionsButton" (click)="showViewOptionsPopover($event)">
        <ion-icon slot="start" class="settings-icon" name="settings-sharp"></ion-icon>
        <span class="side-title" i18n="@@Read.Popover.Options">Inställningar</span>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<!-- Main content with horizontal scroll in desktop mode -->
<ng-container *ngIf="!mobileMode">
  <ion-content class="collection-ion-content"
        [class.mobile-mode-content]="mobileMode"
        [scrollX]="true"
        [scrollY]="false"
  >
    <div class="column-container">
      <!-- Wrapper for all columns -->
      <div *ngIf="(textsize$ | async) as textsize"
            class="read-columns-wrapper"
            [class.xsmallFontSize]="textsize == 0"
            [class.smallFontSize]="textsize == 1"
            [class.mediumFontSize]="textsize == 2"
            [class.largeFontSize]="textsize == 3"
            [class.xlargeFontSize]="textsize == 4"
            [class.illustrations-view-shown]="illustrationsViewShown"
            [ngClass]="views.length > 1 ? 'multiple-columns' : 'single-column'"
      >
        <!-- Tooltip wrapper -->
        <div
              class="toolTip tei teiContainer"
              [class.show_comments]="viewOptionsService.show.comments"
              [class.show_personInfo]="viewOptionsService.show.personInfo"
              [class.show_placeInfo]="viewOptionsService.show.placeInfo"
              [class.show_workInfo]="viewOptionsService.show.workInfo"
              [class.show_normalisations]="viewOptionsService.show.normalisations"
              [class.show_changes]="viewOptionsService.show.changes"
              [class.show_abbreviations]="viewOptionsService.show.abbreviations"
              [ngStyle]="{'position': toolTipPosType, 'top': toolTipPosition.top, 'left': toolTipPosition.left, 'max-width': toolTipMaxWidth, 'transform': 'scale(' + toolTipScaleValue + ')'}"
              [innerHTML]="toolTipText"
              [MathJax]="toolTipText"
        ></div>

        <!-- Info overlay wrapper -->
        <div
              class="infoOverlay tei teiContainer"
              [class.show_comments]="viewOptionsService.show.comments"
              [class.show_personInfo]="viewOptionsService.show.personInfo"
              [class.show_placeInfo]="viewOptionsService.show.placeInfo"
              [class.show_workInfo]="viewOptionsService.show.workInfo"
              [class.show_normalisations]="viewOptionsService.show.normalisations"
              [class.show_changes]="viewOptionsService.show.changes"
              [class.show_abbreviations]="viewOptionsService.show.abbreviations"
              [ngStyle]="{'position': infoOverlayPosType, 'bottom': infoOverlayPosition.bottom, 'left': infoOverlayPosition.left, 'width': infoOverlayWidth}"
        >
          <div class="infoOverlayHeader">
            <p class="infoOverlayTitle" [innerHTML]="infoOverlayTitle"></p>
            <ion-icon name="close" class="infoOverlayButton" (click)="hideInfoOverlay()" aria-label="Stäng" i18n-aria-label="@@BasicActions.Close"></ion-icon>
          </div>
          <div class="infoOverlayContent" [innerHTML]="infoOverlayText" [MathJax]="infoOverlayText"></div>
        </div>
        
        <!-- Wrapper for each column -->
        <div *ngFor="let view of views; let i = index"
              id="read_div_{{i}}"
              class="read-column column_type_{{view.type}}"
              [ngClass]="views.length > 1 ? 'multiple-columns' : 'single-column'"
        >

          <!-- Ion fab column options -->
          <ion-fab *ngIf="views.length>1" class="column-options">
            <ion-fab-button class="toggle-fab-list-button" size="small" title="Öppna/stäng alternativ för kolumnen" i18n-title="@@Read.ToggleColumnOptionsMenu" #fabColumnOptionsButton>
              <ion-icon name="ellipsis-vertical" aria-label="Öppna/stäng alternativ för kolumnen" i18n-aria-label="@@Read.ToggleColumnOptionsMenu"></ion-icon>
            </ion-fab-button>
            <ion-fab-list *ngIf="views.length>1" side="bottom" #fabColumnOptions>
              <ion-fab-button *ngIf="enabledViewTypes.length > 1" (click)="removeView(i)" title="Ta bort kolumnen" i18n-title="@@Read.RemoveColumn">
                <ion-icon name="trash-bin-sharp" aria-label="Ta bort kolumnen" i18n-aria-label="@@Read.RemoveColumn"></ion-icon>
              </ion-fab-button>
              <ion-fab-button *ngIf="i > -1 && views.length-1 > i" (click)="moveViewRight(i)" title="Byt plats med kolumnen till höger" i18n-title="@@Read.MoveColumnRight">
                <ion-icon name="return-down-forward-sharp" aria-label="Byt plats med kolumnen till höger" i18n-aria-label="@@Read.MoveColumnRight"></ion-icon>
              </ion-fab-button>
              <ion-fab-button *ngIf="views.length > i && i > 0" (click)="moveViewLeft(i)" title="Byt plats med kolumnen till vänster" i18n-title="@@Read.MoveColumnLeft">
                <ion-icon name="return-down-back-sharp" aria-label="Byt plats med kolumnen till vänster" i18n-aria-label="@@Read.MoveColumnLeft"></ion-icon>
              </ion-fab-button>
            </ion-fab-list>
          </ion-fab>

          <!-- Ion card for each column-->
          <ion-card>
            <ion-card-header class="column-card-title">
              <ng-container *ngIf="view.type === 'established'" i18n="@@established">Lästext</ng-container>
              <ng-container *ngIf="view.type === 'established_sv'" i18n="@@established_sv">Lästext (på svenska)</ng-container>
              <ng-container *ngIf="view.type === 'established_fi'" i18n="@@established_fi">Lästext (på finska)</ng-container>
              <ng-container *ngIf="view.type === 'comments'" i18n="@@comments">Kommentarer</ng-container>
              <ng-container *ngIf="view.type === 'facsimiles'" i18n="@@facsimiles">Faksimil</ng-container>
              <ng-container *ngIf="view.type === 'manuscripts'" i18n="@@manuscripts">Manuskript</ng-container>
              <ng-container *ngIf="view.type === 'variants'" i18n="@@Read.Variants.Title">Tryckt variant</ng-container>
              <ng-container *ngIf="view.type === 'illustrations'" i18n="@@illustrations">Illustrationer</ng-container>
              <ng-container *ngIf="view.type === 'legend'" i18n="@@legend">Teckenförklaringar</ng-container>
              <ng-container *ngIf="view.type === 'metadata'" i18n="@@metadata">Metadata</ng-container>

              <span *ngIf="(
                      view.type === 'variants' ||
                      view.type === 'manuscripts' ||
                      view.type === 'facsimiles'
                    ) && view.title"
                    class="column-text-title"
                    [innerHTML]="view.title"
              ></span>
            </ion-card-header>
            <ion-card-content class="column-card-content">
              <div class="scroll-content-container">

                <read-text *ngIf="view.type === 'established' && multilingualReadingTextLanguages.length < 2"
                      [textItemID]="textItemID"
                      [textPosition]="textPosition"
                      [searchMatches]="searchMatches"
                      (openNewIllustrView)="openNewView($event)"
                      (selectedIllustration)="updateIllustrationViewImage($event)"
                ></read-text>

                <ng-container *ngIf="multilingualReadingTextLanguages.length > 1">
                  <ng-container *ngFor="let lang of multilingualReadingTextLanguages">
                    <read-text *ngIf="view.type === 'established_' + lang"
                          [textItemID]="textItemID + '_' + lang"
                          [textPosition]="textPosition"
                          [searchMatches]="searchMatches"
                          (openNewIllustrView)="openNewView($event)"
                          (selectedIllustration)="updateIllustrationViewImage($event)"
                    ></read-text>
                  </ng-container>
                </ng-container>

                <comments *ngIf="view.type === 'comments'"
                      [textItemID]="textItemID"
                      [searchMatches]="searchMatches"
                ></comments>

                <facsimiles *ngIf="view.type === 'facsimiles'"
                      [textItemID]="textItemID"
                      [facsID]="view.id"
                      [imageNr]="view.nr"
                      (selectedFacsID)="updateViewProperty('id', $event, i)"
                      (selectedImageNr)="updateViewProperty('nr', $event, i)"
                      (selectedFacsName)="updateViewProperty('title', $event, i, false)"
                ></facsimiles>

                <manuscripts *ngIf="view.type === 'manuscripts'"
                      [textItemID]="textItemID"
                      [msID]="view.id"
                      [searchMatches]="searchMatches"
                      (selectedMsID)="updateViewProperty('id', $event, i)"
                      (selectedMsName)="updateViewProperty('title', $event, i, false)"
                      (openNewManView)="openNewView($event)"
                      (openNewLegendView)="openNewView($event)"
                ></manuscripts>

                <variants *ngIf="view.type === 'variants'"
                      [textItemID]="textItemID"
                      [varID]="view.id"
                      [searchMatches]="searchMatches"
                      [sortOrder]="view.sortOrder"
                      (selectedVarID)="updateViewProperty('id', $event, i)"
                      (selectedVarName)="updateViewProperty('title', $event, i, false)"
                      (selectedVarSortOrder)="updateViewProperty('sortOrder', $event, i)"
                      (openNewVarView)="openNewView($event)"
                      (openNewLegendView)="openNewView($event)"
                ></variants>
                
                <illustrations *ngIf="view.type === 'illustrations'"
                      [singleImage]="view.image"
                      [textItemID]="textItemID"
                      (showAllImages)="updateIllustrationViewImage($event)"
                ></illustrations>

                <text-legend *ngIf="view.type === 'legend'"
                      [itemId]="textItemID"
                      [scrollToElementId]="view.id"
                ></text-legend>

                <text-metadata *ngIf="view.type === 'metadata'"
                      [textItemID]="textItemID"
                ></text-metadata>

              </div>
            </ion-card-content>
          </ion-card>
        </div>

        <!-- Add view -->
        <div *ngIf="enabledViewTypes.length > 1" class="add-view-column">
          <ion-fab id="add-view-fab" #fabmenuadd>
            <ion-fab-button id="add-view-fab-button" class="toggle-fab-list-button" size="small" (click)="showAddViewPopover($event)">
              <ion-icon name="add-outline" aria-labelledby="add-column-label"></ion-icon>
            </ion-fab-button>
          </ion-fab>
          <ion-popover #addViewPopover
                class="page-text-add-view-popover"
                reference="trigger"
                side="bottom"
                alignment="end"
                [isOpen]="addViewPopoverisOpen"
                (didDismiss)="addViewPopoverisOpen = false"
                [dismissOnSelect]="true"
                [ngStyle]="{
                  '--background': 'transparent',
                  '--box-shadow': 'none',
                  '--offset-y': '1.25rem'
                }"
          >
            <ng-template>
              <ion-content class="no-padding">

                <ion-button *ngFor="let type of enabledViewTypes"
                      class="custom-outline-button"
                      fill="outline"
                      (click)="addView(type); scrollService.scrollLastViewIntoView()"
                      [ngStyle]="{
                        '--background': '#f2f2f2',
                        '--border-radius': '1rem',
                        '--border-color': 'transparent',
                        '--color': '#000',
                        '--padding-bottom': '0.375rem',
                        '--padding-top': '0.375rem',
                        'font-size': '1rem',
                        'margin': '2px',
                        'text-transform': 'unset'
                      }"
                >
                  <ng-container *ngIf="type === 'showAll'">
                    <ion-icon slot="start" name="albums-outline"></ion-icon>
                    <ng-container i18n="@@Read.ShowAll">Visa alla</ng-container>
                  </ng-container>

                  <ng-container *ngIf="type === 'established'">
                    <ion-icon slot="start" name="reader-outline"></ion-icon>
                    <ng-container i18n="@@Read.Established.AddButtonText">Lästext</ng-container>
                  </ng-container>

                  <ng-container *ngIf="type.startsWith('established_')">
                    <ion-icon slot="start" name="reader-outline"></ion-icon>
                    <ng-container [ngSwitch]="type.split('_')[1]">
                      <ng-container *ngSwitchCase="'sv'" i18n="@@established_sv">Lästext (på svenska)</ng-container>
                      <ng-container *ngSwitchCase="'fi'" i18n="@@established_fi">Lästext (på finska)</ng-container>
                    </ng-container>
                  </ng-container>

                  <ng-container *ngIf="type === 'comments'">
                    <ion-icon slot="start" name="chatbubble-ellipses-outline"></ion-icon>
                    <ng-container i18n="@@Read.Comments.AddButtonText">Kommentarer</ng-container>
                  </ng-container>

                  <ng-container *ngIf="type === 'manuscripts'">
                    <ion-icon slot="start" name="document-text-outline"></ion-icon>
                    <ng-container i18n="@@Read.Manuscripts.AddButtonText">Manuskript</ng-container>
                  </ng-container>

                  <ng-container *ngIf="type === 'variants'">
                    <ion-icon slot="start" name="documents-outline"></ion-icon>
                    <ng-container i18n="@@Read.Variants.AddButtonText">Tryckt variant</ng-container>
                  </ng-container>

                  <ng-container *ngIf="type === 'facsimiles'">
                    <ion-icon slot="start" name="image-outline"></ion-icon>
                    <ng-container i18n="@@Read.Facsimiles.AddButtonText">Faksimil</ng-container>
                  </ng-container>

                  <ng-container *ngIf="type === 'illustrations'">
                    <ion-icon slot="start" name="images-outline"></ion-icon>
                    <ng-container i18n="@@Read.Illustrations.AddButtonText">Illustrationer</ng-container>
                  </ng-container>

                  <ng-container *ngIf="type === 'legend'">
                    <ion-icon slot="start" name="bulb-outline"></ion-icon>
                    <ng-container i18n="@@Read.Legend.AddButtonText">Teckenförklaringar</ng-container>
                  </ng-container>

                  <ng-container *ngIf="type === 'metadata'">
                    <ion-icon slot="start" name="server-outline"></ion-icon>
                    <ng-container i18n="@@Read.Metadata.AddButtonText">Metadata</ng-container>
                  </ng-container>

                </ion-button>

                <ion-button fill="outline"
                      class="custom-outline-button circular-icon-button"
                      [ngStyle]="{
                        '--background': '#f2f2f2',
                        '--border-radius': '1rem',
                        '--border-color': 'transparent',
                        '--color': '#000',
                        '--padding-bottom': '0.375rem',
                        '--padding-end': '0.375rem',
                        '--padding-start': '0.375rem',
                        '--padding-top': '0.375rem',
                        'font-size': '1rem',
                        'margin': '2px',
                        'text-transform': 'unset'
                      }"
                >
                  <ion-icon slot="icon-only" name="close"></ion-icon>
                </ion-button>

              </ion-content>
            </ng-template>
          </ion-popover>

          <div class="add-column">
            <p id="add-column-label" i18n="@@Read.AddColumn">Ny kolumn</p>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ng-container>

<!-- Main content in mobile mode -->
<ng-container *ngIf="mobileMode">
  <ion-content class="collection-ion-content mobile-mode-content"
        [scrollX]="false"
        [scrollY]="false"
  >
    <ng-container *ngIf="(textsize$ | async) as textsize">
      <!-- Tooltip wrapper in mobile mode -->
      <div
            [ngClass]="'toolTip tei teiContainer ' + ((textsize==0)?'xsmallFontSize':(textsize==1)?'smallFontSize':(textsize==2)?'mediumFontSize':(textsize==3)?'largeFontSize':'xlargeFontSize')"
            [class.show_comments]="viewOptionsService.show.comments"
            [class.show_personInfo]="viewOptionsService.show.personInfo"
            [class.show_placeInfo]="viewOptionsService.show.placeInfo"
            [class.show_workInfo]="viewOptionsService.show.workInfo"
            [class.show_normalisations]="viewOptionsService.show.normalisations"
            [class.show_changes]="viewOptionsService.show.changes"
            [class.show_abbreviations]="viewOptionsService.show.abbreviations"
            [ngStyle]="{'position': toolTipPosType, 'top': toolTipPosition.top, 'left': toolTipPosition.left, 'max-width': toolTipMaxWidth, 'transform': 'scale(' + toolTipScaleValue + ')'}"
            [innerHTML]="toolTipText"
            [MathJax]="toolTipText"
      ></div>

      <!-- Info overlay wrapper in mobile mode -->
      <div
            [ngClass]="'infoOverlay tei teiContainer ' + ((textsize==0)?'xsmallFontSize':(textsize==1)?'smallFontSize':(textsize==2)?'mediumFontSize':(textsize==3)?'largeFontSize':'xlargeFontSize')"
            [class.show_comments]="viewOptionsService.show.comments"
            [class.show_personInfo]="viewOptionsService.show.personInfo"
            [class.show_placeInfo]="viewOptionsService.show.placeInfo"
            [class.show_workInfo]="viewOptionsService.show.workInfo"
            [class.show_normalisations]="viewOptionsService.show.normalisations"
            [class.show_changes]="viewOptionsService.show.changes"
            [class.show_abbreviations]="viewOptionsService.show.abbreviations"
            [ngStyle]="{'position': infoOverlayPosType, 'bottom': infoOverlayPosition.bottom, 'left': infoOverlayPosition.left, 'width': infoOverlayWidth}"
      >
        <div class="infoOverlayHeader">
          <p class="infoOverlayTitle" [innerHTML]="infoOverlayTitle"></p>
          <ion-icon name="close" class="infoOverlayButton" (click)="hideInfoOverlay()" aria-label="Stäng" i18n-aria-label="@@BasicActions.Close"></ion-icon>
        </div>
        <div class="infoOverlayContent" [innerHTML]="infoOverlayText" [MathJax]="infoOverlayText"></div>
      </div>
    </ng-container>

    <!-- Ion segment for choosing displayed column type -->
    <ion-segment mode="ios" [(ngModel)]="activeMobileModeViewType" (ionChange)="storeActiveMobileModeViewType()">
      <ion-segment-button value="established" *ngIf="availableMobileModeViews.includes('established')">
        <ion-label i18n="@@Read.Established.Title">Lästext</ion-label>
      </ion-segment-button>
      <ng-container *ngIf="multilingualReadingTextLanguages.length > 1">
        <ng-container *ngFor="let lang of multilingualReadingTextLanguages">
          <ion-segment-button [value]="'established_'+lang" *ngIf="availableMobileModeViews.includes('established_'+lang)">
            <ng-container [ngSwitch]="lang">
              <ion-label *ngSwitchCase="'sv'" i18n="@@established_sv">Lästext (på svenska)</ion-label>
              <ion-label *ngSwitchCase="'fi'" i18n="@@established_fi">Lästext (på finska)</ion-label>
            </ng-container>
          </ion-segment-button>
        </ng-container>
      </ng-container>
      <ion-segment-button value="facsimiles" *ngIf="availableMobileModeViews.includes('facsimiles')">
        <ion-label i18n="@@Read.Facsimiles.Title">Faksimil</ion-label>
      </ion-segment-button>
      <!--
      <ion-segment-button value="manuscripts" *ngIf="availableMobileModeViews.includes('manuscripts')">
        <ion-label i18n="@@Read.Manuscripts.Title">Manuskript</ion-label>
      </ion-segment-button>
      -->
    </ion-segment>

    <!-- Columns in mobile mode -->
    <div [class.visuallyhidden]="activeMobileModeViewType !== 'established'"
          class="mobile-mode-established scroll-content-container"
    >
        <read-text [textItemID]="textItemID" [textPosition]="textPosition" [searchMatches]="searchMatches"></read-text>
    </div>
    <ng-container *ngFor="let lang of multilingualReadingTextLanguages">
      <div [class.visuallyhidden]="activeMobileModeViewType !== 'established_'+lang"
            class="mobile-mode-established scroll-content-container"
      >
        <read-text [textItemID]="textItemID + '_' + lang" [textPosition]="textPosition" [searchMatches]="searchMatches"></read-text>
      </div>
    </ng-container>
    <div [class.visuallyhidden]="activeMobileModeViewType !== 'facsimiles'"
          class="mobile-mode-facsimiles"
    >
      <facsimiles [textItemID]="textItemID"></facsimiles>
    </div>
    <!--
    <div [class.visuallyhidden]="activeMobileModeViewType !== 'manuscripts'"
          class="mobile-mode-manuscripts scroll-content-container"
    >
      <manuscripts [textItemID]="textItemID" [searchMatches]="searchMatches" (openNewManView)="openNewView($event)" (openNewLegendView)="openNewView($event)"></manuscripts>
    </div>
    -->
  </ion-content>
</ng-container>

<text-changer *ngIf="mobileMode" [textItemID]="textItemID" [textPosition]="textPosition" [parentPageType]="'page-text'" class="text-changer-mobile-mode"></text-changer>
