<ion-header>
  <ion-toolbar>
    <ion-title i18n="@@Reference.title">Källhänvisning</ion-title>
    <ion-buttons slot="end">
      <ion-button class="close" fill="clear" (click)="dismiss()">
        <ion-icon name="close" slot="icon-only" aria-label="Stäng" i18n-aria-label="@@BasicActions.Close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="rd-wrapper">
    <h2 *ngIf="thisPageTranslation" i18n="@@Reference.thisPage">Hänvisa till denna sida</h2>
    <div class="rd-box">
      <h3 *ngIf="permaLinkTranslation && referenceData.urn"><ng-container i18n="@@Reference.permaLink">Beständig webbadress</ng-container>:</h3>
      <p class="urn" *ngIf="referenceData.urn"><a target="_blank" [href]="urnResolverUrl + referenceData.urn">{{urnResolverUrl + referenceData.urn}}</a></p>
      <p *ngIf="!referenceData.urn" i18n="@@Reference.missing">Sidan saknar beständig webbadress</p>

      <ng-container *ngIf="referenceData.reference_text">
        <h3 *ngIf="origin === 'page-title'"><ng-container i18n="@@Reference.pageTitle">Hänvisa till denna delutgåva</ng-container>:</h3>
        <h3 *ngIf="origin === 'page-foreword'"><ng-container i18n="@@Reference.pageForeword">Hänvisa till detta förord</ng-container>:</h3>
        <h3 *ngIf="origin === 'page-introduction'"><ng-container i18n="@@Reference.intro">Hänvisa till denna inledning</ng-container>:</h3>
        <h3 *ngIf="origin === 'page-text'"><ng-container i18n="@@Reference.established">Hänvisa till denna lästext</ng-container>:</h3>
        <h3 *ngIf="origin === 'page-ebook'"><ng-container i18n="@@Reference.pageEpub">Hänvisa till denna text</ng-container>:</h3>
        <h3 *ngIf="origin === 'media-collection'"><ng-container i18n="@@Reference.mediaCollection">Hänvisa till denna bildsamling</ng-container>:</h3>
        <h3 *ngIf="origin === 'top-menu'"><ng-container i18n="@@Reference.topMenu">Hänvisa till denna webbutgåva</ng-container>:</h3>
        <p [innerHTML]="referenceData.reference_text + urnResolverUrl + referenceData.urn"></p>
      </ng-container>

      <ng-container *ngIf="referenceData.intro_reference_text && origin !== 'page-introduction'">
        <h3><ng-container i18n="@@Reference.intro">Hänvisa till denna inledning</ng-container>:</h3>
        <p [innerHTML]="referenceData.intro_reference_text"></p>
      </ng-container>
    </div>
  </div>
</ion-content>
