.rd-wrapper {
    background: #fafafa;
    margin-bottom: 1.5rem;
    padding: 1rem;
    width: 100%;

	h2 {
		font-size: 1.3125rem;
		line-height: 1.25;
		margin: 0 0 0.5em 0;
	}

	h3 {
		font-size: 1em;
		font-weight: bold;
		line-height: 1.25;
		margin: 0;
	}

	p + h3 {
		margin-top: 1em;
	}

	.rd-box {
		background: var(--ion-modal-item-background-color);
        line-height: 1.4;
        margin: 0;
        padding: 1rem;
        width: 100%;

		p {
            margin: 0;
        }

		.urn,
		.urn a {
			word-break: break-all;
		}
	}
}
