<ul class="accordion" [class.open]="selected || (childId && router.url.includes(childId))">
  <ng-container *ngFor="let child of children; let i = index">
    <li class="mainMenuItem" (click)="toggleAccordion(child.id)" [class.menu-highlight]="router.url.includes(child.id) && !child.children">
      <ng-container [ngSwitch]="!!child.children?.length">
        <a *ngSwitchDefault routerLink="{{pathGenerator(parentPath,child.id)}}">{{child.title}}</a>
        <span *ngSwitchCase="true">{{child.title}}</span>
      </ng-container>
      <ion-icon *ngIf="child.children" name="chevron-forward-outline" [class.open]="selectedMenu === child.id || router.url.includes(child.id)"></ion-icon>
    </li>
    <li *ngIf="child.children" class="accordion-list" [class.open]="selectedMenu === child.id || router.url.includes(child.id)">
      <app-recursive-accordion
        [selected]="selectedMenu === child.id || router.url.includes(child.id)"
        [childId]="child.id"
        [children]="child.children"
        [parentPath]="parentPath">
      </app-recursive-accordion>
    </li>
  </ng-container>
</ul>
