<ion-list lines="full">
  <ion-list-header>
    <ion-label i18n="@@Read.Popover.Textsize">Textstorlek</ion-label>
      <ion-button class="close" (click)="close()">
        <ion-icon slot="icon-only" name="close" aria-label="Stäng" i18n-aria-label="@@BasicActions.Close"></ion-icon>
      </ion-button>
  </ion-list-header>
  <div class="font-size-buttons-wrapper">
    <ion-button [class.selected-font-size]="viewOptionsService.fontsize==0" [attr.aria-pressed]="viewOptionsService.fontsize==0" class="text-button text-xsmall item-block" (click)="setFontSize(0)" aria-label="Textstorlek: liten" i18n-aria-label="@@Read.Popover.TextsizeXSmall">A</ion-button>
    <ion-button [class.selected-font-size]="viewOptionsService.fontsize==1" [attr.aria-pressed]="viewOptionsService.fontsize==1" class="text-button text-small item-block" (click)="setFontSize(1)" aria-label="Textstorlek: normal" i18n-aria-label="@@Read.Popover.TextsizeSmall">A</ion-button>
    <ion-button [class.selected-font-size]="viewOptionsService.fontsize==2" [attr.aria-pressed]="viewOptionsService.fontsize==2" class="text-button text-medium item-block" (click)="setFontSize(2)" aria-label="Textstorlek: stor" i18n-aria-label="@@Read.Popover.TextsizeMedium">A</ion-button>
    <ion-button [class.selected-font-size]="viewOptionsService.fontsize==3" [attr.aria-pressed]="viewOptionsService.fontsize==3" class="text-button text-large item-block" (click)="setFontSize(3)" aria-label="Textstorlek: mycket stor" i18n-aria-label="@@Read.Popover.TextsizeLarge">A</ion-button>
    <ion-button [class.selected-font-size]="viewOptionsService.fontsize==4" [attr.aria-pressed]="viewOptionsService.fontsize==4" class="text-button text-xlarge item-block" (click)="setFontSize(4)" aria-label="Textstorlek: störst" i18n-aria-label="@@Read.Popover.TextsizeXLarge">A</ion-button>
  </div>
</ion-list>

<ion-list *ngIf="togglesCounter > 0" lines="full">
  <ion-list-header>
    <ion-label i18n="@@Read.Popover.Show">Visningsalternativ</ion-label>
  </ion-list-header>

  <ion-item *ngIf="togglesCounter > 1">
    <ion-toggle (ionChange)="toggleAll($event)" justify="space-between" [enableOnOffLabels]="true" i18n="@@Read.Popover.All">Välj alla</ion-toggle>
  </ion-item>

  <ion-item *ngIf="optionsToggles.comments">
    <ion-toggle class="show_comments" [(ngModel)]="show.comments" (ionChange)="toggleComments()" justify="space-between" [enableOnOffLabels]="true"><img alt="Röd asterisk" i18n-alt="@@Read.Popover.CommentSymbol" src="assets/images/asterisk.svg" class="asterisk"><ng-container i18n="@@Read.Popover.Comments">Kommentarer</ng-container></ion-toggle>
  </ion-item>

  <ion-item *ngIf="optionsToggles.personInfo">
    <ion-toggle class="show_personInfo" [(ngModel)]="show.personInfo" (ionChange)="togglePersonInfo()" justify="space-between" [enableOnOffLabels]="true" i18n="@@Read.Popover.PersonInfo">Personupplysningar</ion-toggle>
  </ion-item>

  <ion-item *ngIf="optionsToggles.placeInfo">
    <ion-toggle class="show_placeInfo" [(ngModel)]="show.placeInfo" (ionChange)="togglePlaceInfo()" justify="space-between" [enableOnOffLabels]="true" i18n="@@Read.Popover.PlaceInfo">Platsupplysningar</ion-toggle>
  </ion-item>

  <ion-item *ngIf="optionsToggles.workInfo">
    <ion-toggle class="show_workInfo" [(ngModel)]="show.workInfo" (ionChange)="toggleWorkInfo()" justify="space-between" [enableOnOffLabels]="true" i18n="@@Read.Popover.WorkInfo">Verkupplysningar</ion-toggle>
  </ion-item>

  <ion-item *ngIf="optionsToggles.abbreviations">
    <ion-toggle class="show_abbreviations" [(ngModel)]="show.abbreviations" (ionChange)="toggleAbbreviations()" justify="space-between" [enableOnOffLabels]="true" i18n="@@Read.Popover.Abbreviations">Förkortningar</ion-toggle>
  </ion-item>

  <ion-item *ngIf="optionsToggles.changes">
    <ion-toggle class="show_changesInfo" [(ngModel)]="show.changes" (ionChange)="toggleChanges()" justify="space-between" [enableOnOffLabels]="true" i18n="@@Read.Popover.Changes">Utgivarens ändringar</ion-toggle>
  </ion-item>

  <ion-item *ngIf="optionsToggles.normalisations">
    <ion-toggle class="show_normalisationsInfo" [(ngModel)]="show.normalisations" (ionChange)="toggleNormalisations()" justify="space-between" [enableOnOffLabels]="true" i18n="@@Read.Popover.Normalisations">Normaliseringar</ion-toggle>
  </ion-item>

  <ion-item *ngIf="optionsToggles.paragraphNumbering">
    <ion-toggle [(ngModel)]="show.paragraphNumbering" (ionChange)="toggleParagraphNumbering()" justify="space-between" [enableOnOffLabels]="true" i18n="@@Read.Popover.ParagraphNumbering">Stycke-/radnumrering</ion-toggle>
  </ion-item>

  <ion-item *ngIf="optionsToggles.pageBreakOriginal">
    <ion-toggle [(ngModel)]="show.pageBreakOriginal" (ionChange)="togglePageBreakOriginal()" justify="space-between" [enableOnOffLabels]="true" i18n="@@Read.Popover.PageBreakOriginal">Sidnummer/-brytning i originalet</ion-toggle>
  </ion-item>

  <ion-item *ngIf="optionsToggles.pageBreakEdition">
    <ion-toggle [(ngModel)]="show.pageBreakEdition" (ionChange)="togglePageBreakEdition()" justify="space-between" [enableOnOffLabels]="true" i18n="@@Read.Popover.PageBreakEdition">Sidnummer i den tryckta utgåvan</ion-toggle>
  </ion-item>
</ion-list>
