// Import general styles for the side menu, these are common with the main-side-menu
@import "src/theme/common/side-menu.scss";

.menu-header {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 999;

    .go-back-menu-item {
        background-color: var(--toc-back-button-background-color);
        color: var(--toc-back-button-text-color);
        font-size: 1rem;
        text-decoration: none;
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        font-weight: normal;
        margin: 0;
        border-left: 4px solid transparent;
        padding: 11px 18px 11px 6px;

        ion-icon {
            color: var(--toc-back-button-text-color);
            font-size: 1.75rem;
            margin-right: 0.5rem;
        }
    }
    .go-back-menu-item:hover {
        border-left-color: var(--toc-hover-color);
    }
    .go-back-menu-item:focus {
        outline-offset: -0.25rem;
    }
    h1 {
        background-color: var(--toc-collection-title-background-color);
        color: var(--toc-collection-title-text-color);
        margin: 0;
        padding: 16px 18px 16px 16px;
        font-size: 1rem;
        font-weight: bold;
    }
}

.menu-header + ul {
    margin-top: 0;
}

.sort-select-wrapper {
    background-color: var(--toc-sort-select-wrapper-background-color);
	border-radius: 2px;
	color: #000;
	margin: 12px 10px;
	max-width: 100%;
	padding: 8px;
}

.sort-select {
    --background: #fafafa;
    --border-color: var(--main-background-accent-color);
    --highlight-color-focused: var(--outline-button-color);
    --highlight-color-valid: var(--outline-button-color);

    &:hover {
        --border-color: var(--outline-button-color);
    }
}
