/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@import "./theme/variables.scss";

/* ADD CUSTOM FONTS */
/* Roboto fonts */
@font-face {
    font-family: "Roboto";
    src:  url('./assets/fonts/Roboto/woff2/Roboto-Regular-webfont.woff2') format('woff2'),
          url('./assets/fonts/Roboto/woff/Roboto-Regular-webfont.woff') format('woff'),
          url('./assets/fonts/Roboto/ttf/Roboto-Regular-webfont.ttf') format('truetype');
    font-display: swap;
    font-style: normal;
    font-weight: 400;
  }
  @font-face {
    font-family: "Roboto";
    src:  url('./assets/fonts/Roboto/woff2/Roboto-Italic-webfont.woff2') format('woff2'),
          url('./assets/fonts/Roboto/woff/Roboto-Italic-webfont.woff') format('woff'),
          url('./assets/fonts/Roboto/ttf/Roboto-Italic-webfont.ttf') format('truetype');
    font-display: swap;
    font-style: italic;
    font-weight: 400;
  }
  @font-face {
    font-family: "Roboto";
    src:  url('./assets/fonts/Roboto/woff2/Roboto-Bold-webfont.woff2') format('woff2'),
          url('./assets/fonts/Roboto/woff/Roboto-Bold-webfont.woff') format('woff'),
          url('./assets/fonts/Roboto/ttf/Roboto-Bold-webfont.ttf') format('truetype');
    font-display: swap;
    font-style: normal;
    font-weight: 700;
  }
  @font-face {
    font-family: "Roboto";
    src:  url('./assets/fonts/Roboto/woff2/Roboto-BoldItalic-webfont.woff2') format('woff2'),
          url('./assets/fonts/Roboto/woff/Roboto-BoldItalic-webfont.woff') format('woff'),
          url('./assets/fonts/Roboto/ttf/Roboto-BoldItalic-webfont.ttf') format('truetype');
    font-display: swap;
    font-style: italic;
    font-weight: 700;
  }
  @font-face {
    font-family: "Roboto";
    src:  url('./assets/fonts/Roboto/woff2/Roboto-Medium-webfont.woff2') format('woff2'),
          url('./assets/fonts/Roboto/woff/Roboto-Medium-webfont.woff') format('woff'),
          url('./assets/fonts/Roboto/ttf/Roboto-Medium-webfont.ttf') format('truetype');
    font-display: swap;
    font-style: normal;
    font-weight: 600;
  }
  @font-face {
    font-family: "Roboto";
    src:  url('./assets/fonts/Roboto/woff2/Roboto-MediumItalic-webfont.woff2') format('woff2'),
          url('./assets/fonts/Roboto/woff/Roboto-MediumItalic-webfont.woff') format('woff'),
          url('./assets/fonts/Roboto/ttf/Roboto-MediumItalic-webfont.ttf') format('truetype');
    font-display: swap;
    font-style: italic;
    font-weight: 600;
  }
  @font-face {
    font-family: "Roboto";
    src:  url('./assets/fonts/Roboto/woff2/Roboto-Light-webfont.woff2') format('woff2'),
          url('./assets/fonts/Roboto/woff/Roboto-Light-webfont.woff') format('woff'),
          url('./assets/fonts/Roboto/ttf/Roboto-Light-webfont.ttf') format('truetype');
    font-display: swap;
    font-style: normal;
    font-weight: 300;
  }
  @font-face {
    font-family: "Roboto";
    src:  url('./assets/fonts/Roboto/woff2/Roboto-LightItalic-webfont.woff2') format('woff2'),
          url('./assets/fonts/Roboto/woff/Roboto-LightItalic-webfont.woff') format('woff'),
          url('./assets/fonts/Roboto/ttf/Roboto-LightItalic-webfont.ttf') format('truetype');
    font-display: swap;
    font-style: italic;
    font-weight: 300;
  }

  /* Source Serif 4 fonts */
  @font-face {
    font-family: "SourceSerif";
    src:  url('./assets/fonts/SourceSerif/woff2/SourceSerif4-Regular.otf.woff2') format('woff2'),
          url('./assets/fonts/SourceSerif/woff/SourceSerif4-Regular.otf.woff') format('woff'),
          url('./assets/fonts/SourceSerif/ttf/SourceSerif4-Regular.ttf') format('truetype');
    font-display: swap;
    font-style: normal;
    font-weight: 400;
  }
  @font-face {
    font-family: "SourceSerif";
    src:  url('./assets/fonts/SourceSerif/woff2/SourceSerif4-It.otf.woff2') format('woff2'),
          url('./assets/fonts/SourceSerif/woff/SourceSerif4-It.otf.woff') format('woff'),
          url('./assets/fonts/SourceSerif/ttf/SourceSerif4-It.ttf') format('truetype');
    font-display: swap;
    font-style: italic;
    font-weight: 400;
  }
  @font-face {
    font-family: "SourceSerif";
    src:  url('./assets/fonts/SourceSerif/woff2/SourceSerif4-Bold.otf.woff2') format('woff2'),
          url('./assets/fonts/SourceSerif/woff/SourceSerif4-Bold.otf.woff') format('woff'),
          url('./assets/fonts/SourceSerif/ttf/SourceSerif4-Bold.ttf') format('truetype');
    font-display: swap;
    font-style: normal;
    font-weight: 700;
  }
  @font-face {
    font-family: "SourceSerif";
    src:  url('./assets/fonts/SourceSerif/woff2/SourceSerif4-BoldIt.otf.woff2') format('woff2'),
          url('./assets/fonts/SourceSerif/woff/SourceSerif4-BoldIt.otf.woff') format('woff'),
          url('./assets/fonts/SourceSerif/ttf/SourceSerif4-BoldIt.ttf') format('truetype');
    font-display: swap;
    font-style: italic;
    font-weight: 700;
  }
  @font-face {
    font-family: "SourceSerif";
    src:  url('./assets/fonts/SourceSerif/woff2/SourceSerif4-Semibold.otf.woff2') format('woff2'),
          url('./assets/fonts/SourceSerif/woff/SourceSerif4-Semibold.otf.woff') format('woff'),
          url('./assets/fonts/SourceSerif/ttf/SourceSerif4-Semibold.ttf') format('truetype');
    font-display: swap;
    font-style: normal;
    font-weight: 600;
  }
  @font-face {
    font-family: "SourceSerif";
    src:  url('./assets/fonts/SourceSerif/woff2/SourceSerif4-SemiboldIt.otf.woff2') format('woff2'),
          url('./assets/fonts/SourceSerif/woff/SourceSerif4-SemiboldIt.otf.woff') format('woff'),
          url('./assets/fonts/SourceSerif/ttf/SourceSerif4-SemiboldIt.ttf') format('truetype');
    font-display: swap;
    font-style: italic;
    font-weight: 600;
  }
  @font-face {
    font-family: "SourceSerif";
    src:  url('./assets/fonts/SourceSerif/woff2/SourceSerif4-Light.otf.woff2') format('woff2'),
          url('./assets/fonts/SourceSerif/woff/SourceSerif4-Light.otf.woff') format('woff'),
          url('./assets/fonts/SourceSerif/ttf/SourceSerif4-Light.ttf') format('truetype');
    font-display: swap;
    font-style: normal;
    font-weight: 300;
  }
  @font-face {
    font-family: "SourceSerif";
    src:  url('./assets/fonts/SourceSerif/woff2/SourceSerif4-LightIt.otf.woff2') format('woff2'),
          url('./assets/fonts/SourceSerif/woff/SourceSerif4-LightIt.otf.woff') format('woff'),
          url('./assets/fonts/SourceSerif/ttf/SourceSerif4-LightIt.ttf') format('truetype');
    font-display: swap;
    font-style: italic;
    font-weight: 300;
  }

  /* Mulish fonts */
  @font-face {
    font-family: "Mulish";
    src:  url('./assets/fonts/Mulish/woff2/Mulish-Regular.woff2') format('woff2'),
          url('./assets/fonts/Mulish/ttf/Mulish-Regular.ttf') format('truetype');
    font-display: swap;
    font-style: normal;
    font-weight: 400;
  }
  @font-face {
    font-family: "Mulish";
    src:  url('./assets/fonts/Mulish/woff2/Mulish-Italic.woff2') format('woff2'),
          url('./assets/fonts/Mulish/ttf/Mulish-Italic.ttf') format('truetype');
    font-display: swap;
    font-style: italic;
    font-weight: 400;
  }
  @font-face {
    font-family: "Mulish";
    src:  url('./assets/fonts/Mulish/woff2/Mulish-Bold.woff2') format('woff2'),
          url('./assets/fonts/Mulish/ttf/Mulish-Bold.ttf') format('truetype');
    font-display: swap;
    font-style: normal;
    font-weight: 700;
  }
  @font-face {
    font-family: "Mulish";
    src:  url('./assets/fonts/Mulish/woff2/Mulish-BoldItalic.woff2') format('woff2'),
          url('./assets/fonts/Mulish/ttf/Mulish-BoldItalic.ttf') format('truetype');
    font-display: swap;
    font-style: italic;
    font-weight: 700;
  }
  @font-face {
    font-family: "Mulish";
    src:  url('./assets/fonts/Mulish/woff2/Mulish-SemiBold.woff2') format('woff2'),
          url('./assets/fonts/Mulish/ttf/Mulish-SemiBold.ttf') format('truetype');
    font-display: swap;
    font-style: normal;
    font-weight: 600;
  }
  @font-face {
    font-family: "Mulish";
    src:  url('./assets/fonts/Mulish/woff2/Mulish-SemiBoldItalic.woff2') format('woff2'),
          url('./assets/fonts/Mulish/ttf/Mulish-SemiBoldItalic.ttf') format('truetype');
    font-display: swap;
    font-style: italic;
    font-weight: 600;
  }
  @font-face {
    font-family: "Mulish";
    src:  url('./assets/fonts/Mulish/woff2/Mulish-Light.woff2') format('woff2'),
          url('./assets/fonts/Mulish/ttf/Mulish-Light.ttf') format('truetype');
    font-display: swap;
    font-style: normal;
    font-weight: 300;
  }
  @font-face {
    font-family: "Mulish";
    src:  url('./assets/fonts/Mulish/woff2/Mulish-LightItalic.woff2') format('woff2'),
          url('./assets/fonts/Mulish/ttf/Mulish-LightItalic.ttf') format('truetype');
    font-display: swap;
    font-style: italic;
    font-weight: 300;
  }

  /* Inter fonts */
  @font-face {
    font-family: "Inter";
    src:  url('./assets/fonts/Inter/woff2/Inter-Regular.woff2') format('woff2'),
          url('./assets/fonts/Inter/woff/Inter-Regular.woff') format('woff'),
          url('./assets/fonts/Inter/ttf/Inter-Regular.ttf') format('truetype');
    font-display: swap;
    font-style: normal;
    font-weight: 400;
  }
  @font-face {
    font-family: "Inter";
    src:  url('./assets/fonts/Inter/woff2/Inter-Italic.woff2') format('woff2'),
          url('./assets/fonts/Inter/woff/Inter-Italic.woff') format('woff'),
          url('./assets/fonts/Inter/ttf/Inter-Italic.ttf') format('truetype');
    font-display: swap;
    font-style: italic;
    font-weight: 400;
  }
  @font-face {
    font-family: "Inter";
    src:  url('./assets/fonts/Inter/woff2/Inter-Bold.woff2') format('woff2'),
          url('./assets/fonts/Inter/woff/Inter-Bold.woff') format('woff'),
          url('./assets/fonts/Inter/ttf/Inter-Bold.ttf') format('truetype');
    font-display: swap;
    font-style: normal;
    font-weight: 700;
  }
  @font-face {
    font-family: "Inter";
    src:  url('./assets/fonts/Inter/woff2/Inter-BoldItalic.woff2') format('woff2'),
          url('./assets/fonts/Inter/woff/Inter-BoldItalic.woff') format('woff'),
          url('./assets/fonts/Inter/ttf/Inter-BoldItalic.ttf') format('truetype');
    font-display: swap;
    font-style: italic;
    font-weight: 700;
  }
  @font-face {
    font-family: "Inter";
    src:  url('./assets/fonts/Inter/woff2/Inter-SemiBold.woff2') format('woff2'),
          url('./assets/fonts/Inter/woff/Inter-SemiBold.woff') format('woff'),
          url('./assets/fonts/Inter/ttf/Inter-SemiBold.ttf') format('truetype');
    font-display: swap;
    font-style: normal;
    font-weight: 600;
  }
  @font-face {
    font-family: "Inter";
    src:  url('./assets/fonts/Inter/woff2/Inter-SemiBoldItalic.woff2') format('woff2'),
          url('./assets/fonts/Inter/woff/Inter-SemiBoldItalic.woff') format('woff'),
          url('./assets/fonts/Inter/ttf/Inter-SemiBoldItalic.ttf') format('truetype');
    font-display: swap;
    font-style: italic;
    font-weight: 600;
  }
  @font-face {
    font-family: "Inter";
    src:  url('./assets/fonts/Inter/woff2/Inter-Light.woff2') format('woff2'),
          url('./assets/fonts/Inter/woff/Inter-Light.woff') format('woff'),
          url('./assets/fonts/Inter/ttf/Inter-Light.ttf') format('truetype');
    font-display: swap;
    font-style: normal;
    font-weight: 300;
  }
  @font-face {
    font-family: "Inter";
    src:  url('./assets/fonts/Inter/woff2/Inter-LightItalic.woff2') format('woff2'),
          url('./assets/fonts/Inter/woff/Inter-LightItalic.woff') format('woff'),
          url('./assets/fonts/Inter/ttf/Inter-LightItalic.ttf') format('truetype');
    font-display: swap;
    font-style: italic;
    font-weight: 300;
  }



  // STYLES FOR COMMON HTML ELEMENTS

  html.md {
    --ion-default-font: var(--font-stack-app-base);
  }

  body {
    background-color: var(--main-background-color, #f2f2f2);
    font-size: 1rem;
    -webkit-user-select: text;
    user-select: text;
  }

  a {
    color: var(--default-link-color);
  }



  // STYLES FOR ELEMENTS IN MARKDOWN

  .markdown {
    font-size: 1.125rem;

    h1, h2, h3, h4, h5, h6 {
      font-weight: 700;
    }

    h1, h2, h3, h4 {
      margin-bottom: 0.5rem;
    }

    h1 {
      font-size: 1.625rem;
      margin-top: 2rem;
      margin-bottom: 1.5rem;
      text-transform: uppercase;
    }

    h1:first-child {
      margin-top: 0;
    }

    h2 {
      font-size: 1.4375rem;
      margin-top: 1.8rem;
    }

    h3 {
      font-size: 1.25rem;
      margin-top: 1.5rem;
    }

    h2 + h3 {
      margin-top: 1rem;
    }

    h4 {
      font-size: 1.125rem;
      font-weight: normal;
      font-style: italic;
      margin-top: 1.25rem;
    }

    p {
      line-height: 1.625rem;
      margin-bottom: 0.8rem;
      margin-top: 0.8rem;
    }

    hr {
      background-color: rgba(0, 0, 0, 0.1);
    }

    td {
      padding: 0.5em;
      line-height: 1.4;
      vertical-align: top;
    }

    figure {
      margin: 1.75em 0;
    }

    img[src$="#align-left"] {
      float: left;
      margin: 0 1rem 1rem 0;
    }

    img[src$="#align-right"] {
      float: right;
      margin: 0 0 1rem 1rem;
    }

    img[src$="#align-center"] {
      display: block;
      margin: 1rem auto;
    }

    home-page {
      h1 {
        text-transform: none;
      }

      h2 {
        font-size: 1.625rem;
        margin-top: 0;
      }
    }
  }



  // STYLES FOR IONIC ELEMENTS

  // Ion-content styles
  ion-content {
    --background: var(--main-background-color);
  }

  // Ion-toolbar styles
  ion-toolbar {
    --background: var(--primary-color);
    --color: var(--text-color-on-primary-color-background);
  }

  // Ion-toolbar styles
  ion-toolbar.secondary {
    --background: var(--secondary-color);
    --color: var(--text-color-on-secondary-color-background);
    --min-height: 50px;
    max-height: 50px;
  }

  // Ion-popover styles
  ion-popover ion-list-header {
    --background: var(--ion-popover-list-header-background-color);
    font-weight: bold;
    font-size: 1em;
    margin-bottom: 0;
  }
  ion-popover ion-list.list-md {
    background: var(--ion-popover-content-background-color);
    padding: 0;
  }
  ion-popover ion-list.list-md:last-child {
    padding-bottom: 0.25em;
  }
  ion-popover ion-item.item {
    --background: var(--ion-popover-content-background-color);
    --background-hover: var(--ion-popover-content-background-color);
    --border-color: var(--ion-popover-item-border-bottom-color);
  }
  ion-popover ion-item.item:last-child {
    --border-width: 0;
  }
  ion-popover.read-popover {
    --min-width: 300px;
    --width: min-content;
    --offset-y: -30px;
  }

  // Ion-button styles
  ion-button.button.custom-button,
  ion-button.button.custom-outline-button,
  ion-button.button.circular-icon-button {
    --background: var(--button-background-color);
    --border-radius: 2px;
    --color: var(--button-text-color);
    --padding-bottom: 0.125em;
    --padding-top: 0.125em;
    --padding-start: 1em;
    --padding-end: 1em;
    font-size: 0.8125rem;
    height: 1.875rem;
    letter-spacing: 0;
  }
  ion-button.button.custom-outline-button,
  ion-button.button.circular-icon-button {
    --background: transparent;
    --border-color: var(--button-background-color);
    --border-width: 1px;
    --color: var(--button-background-color);
  }
  ion-button.button.circular-icon-button {
    --border-radius: 1.25rem;
    --padding-bottom: 0.5625rem;
    --padding-top: 0.5625rem;
    --padding-start: 0.25rem;
    --padding-end: 0.25rem;
  }
  ion-button.button.circular-icon-button ion-icon {
    --color: var(--button-background-color);
    --ionicon-stroke-width: 48px;
    font-size: 1.25rem;
  }
  ion-button.close {
    --background-hover: transparent;
    --color: #000;
    --padding-end: 0.85em;
    transition: var(--opacity-hover-transition);
  }
  ion-button.close:hover {
    opacity: var(--opacity-hover);
  }

  // Radio button styles
  ion-radio {
    --color-checked: var(--button-background-color);
  }
  ion-item.item-radio-checked {
    --color: var(--button-background-color);
  }

  // Ion-toggle styles
  ion-toggle {
    --track-background-checked: rgba(var(--button-background-color-rgb), 0.2);
    --handle-background-checked: var(--button-background-color);
    font-size: 1rem;
  }

  // Crescent ion-spinner styles
  ion-spinner.loading.spinner-crescent {
    position: relative;
    display: block;
    width: 32px;
    height: 32px;
    margin: 1rem auto;
  }
  // Increase size of crescent ion-spinner SVG
  ion-spinner.loading.spinner-crescent * {
    width: 32px;
    height: 32px;
  }

  // Ion-alert styles
  // Style for alert where a different variant, manuscript or facsimile text can be selected.
  ion-alert.custom-select-alert .alert-wrapper {
    min-width: 250px;
    max-width: 500px;
    border-radius: var(--corner-border-radius);

    .alert-title {
      font-size: 1.125rem;
      font-weight: bold;
    }

    .alert-radio-group {
      max-height: 50vh;
      padding: 1rem 0;
    }

    button.alert-radio-button {
      --color-checked: var(--button-background-color);
      contain: content;
      font-size: 1rem;

      .alert-radio-label {
        line-height: 1.35;
        white-space: normal;
      }

      &[aria-checked="true"] {
        .alert-radio-icon {
          border-color: var(--button-background-color);
        }
        .alert-radio-inner {
          background-color: var(--button-background-color);
        }
        .alert-radio-label {
          color: var(--button-background-color);
        }
      }
    }

    .alert-button-group button.alert-button {
      color: var(--button-background-color);
    }
  }

  // Ion-modal styles
  ion-modal {
    &.fullscreen-image-viewer-modal {
      --backdrop-opacity: 0.6;
      --background: transparent;
      --height: 100%;
      --width: 100%;


    }
  }

  // Ion-input styles
  ion-input.page-number-input.input-fill-solid {
    --background: var(--facsimile-column-page-number-wrapper-background-color) !important;
    --border-radius: 0;
    --highlight-color-focused: var(--facsimile-column-highlight-color);
    --highlight-color-valid: var(--facsimile-column-highlight-color);
    display: flex;
    font-size: initial;
    
    .input-wrapper {
      flex-grow: initial;
      padding-right: 8px;

      .input-highlight {
        display: none;
      }

      .native-input {
        width: 4.375rem;
        flex-grow: 0;
        flex-basis: auto;
        padding: 5px 8px;
        border: 1px solid #666;
        margin: 8px 0;
        border-radius: var(--corner-border-radius);
        background-color: #fafafa;
      }
      .native-input:focus {
        border-color: var(--facsimile-column-highlight-color);
      }
    }

    .input-bottom {
      font-size: initial;
      background-color: var(--facsimile-column-page-number-wrapper-background-color);
      padding: 0;
      align-items: center;
      border-bottom: 1px solid var(--border-color);
      padding-right: 12px;
      flex-grow: 1;

      .helper-text {
        color: #000;
      }
    }
  }
  ion-modal {
    &.fullscreen-image-viewer-modal {
      ion-input.page-number-input.input-fill-solid {
        --border-style: none;

        .input-wrapper {
          border-top-left-radius: var(--corner-border-radius);
          border-bottom-left-radius: var(--corner-border-radius);
        }

        .input-bottom {
          border-bottom: none;
          border-top-right-radius: var(--corner-border-radius);
          border-bottom-right-radius: var(--corner-border-radius);
        }
      }
    }
  }


  // OTHER GLOBAL STYLES

  .visuallyhidden {
    display: none;
  }

  /* --- Style block: common styles for the app side menu and collection side menu. --- */
  main-side-menu {
    position: relative;
    height: 100%;
    overflow-y: scroll;
    ul {
      padding-left: 16px;
      list-style-type: none;
      width: 100%;
      position: relative;

      app-recursive-accordion {
        width: 100%;
      }

      li {
        color: #000;
        overflow-wrap: break-word;
        position: relative;
        width: 100%;
        padding-right: 5px ;
        cursor: pointer;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        &.accordion-list {
          display: none;
          padding: 0;
          width: 100%;
          transition: display linear 0.2s;

          &.open {
            display: block;
            transition: display linear 0.2s;
          }
        }

        &.menu-highlight {
          border-right: 5px solid var(--primary-color);
        }

        a {
          width: 100%;
          display: block;
          text-decoration: none;
          color: var(--toc-text-color);
          max-width: 100%;
          margin-right: 8px;

          .description {
            display: block;
            color: var(--toc-description-text-color);
            font-weight: normal;
            font-size: .875rem;
            line-height: 1.3;
            margin-top: 5px;
          }
        }
        > *:not(ul) {
          padding: 10px 0;
        }
        ion-icon {
          float: right;
          flex-shrink: 0;
          transform: rotate(0);
          transition: transform ease-in-out 0.2s;
          &.open {
            transform: rotate(90deg);
            transition: transform ease-in-out 0.2s;
          }
        }
      }
    }

    .no-indent > app-recursive-accordion {
      padding: 0;
      
      > ul.accordion {
        padding-left: 0;
      }
    }
  }

  collection-side-menu {
    height: 100%;
    overflow-y: scroll;

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      width: 100%;
    }

    li {
      margin: 0;
      overflow-wrap: break-word;
      padding: 0;
      width: 100%;

      a {
        text-decoration: none;
      }

      a,
      button {
        align-items: center;
        background-color: transparent;
        border-left: 4px solid transparent;
        color: var(--toc-text-color);
        cursor: pointer;
        display: flex;
        font-size: inherit;
        line-height: inherit;
        outline-offset: -0.25rem;
        padding: 0 0 0 12px;
        text-align: start;
        width: 100%;

        &:hover,
        &.menu-highlight:hover {
          border-left-color: var(--toc-hover-color);
        }

        &.menu-highlight {
          background-color: var(--toc-selected-item-background-color);
          border-left-color: var(--toc-selected-item-border-color);
          color: var(--toc-selected-item-text-color);
          font-weight: var(--toc-selected-item-font-weight);

          .description {
            color: var(--toc-selected-item-description-text-color);
          }

          ion-icon.toggle-icon {
            color: var(--toc-selected-item-arrow-color);
          }
        }

        .label {
          border-bottom: 1px solid var(--toc-divider-color);
          margin-right: 8px;
          padding: 11px 0 11px 0;
          width: 100%;
        }
  
        .description {
          color: var(--toc-description-text-color);
          display: block;
          font-size: .875rem;
          font-weight: normal;
          line-height: 1.3;
          margin-top: 5px;
        }
  
        ion-icon.toggle-icon {
          color: var(--toc-arrow-color);
          font-size: 1.25rem;
          flex-shrink: 0;
          margin: 0 8px 0 auto;
          transform: rotate(0);
          transition: transform ease-in-out 0.2s;

          &.open {
            transform: rotate(90deg);
          }
        }
      }

      li a,
      li button {
        padding-left: 32px;
      }
      li li a,
      li li button {
        padding-left: 52px;
      }
      li li li a,
      li li li button {
        padding-left: 72px;
      }
      li li li li a,
      li li li li button {
        padding-left: 92px;
      }
      li li li li li a,
      li li li li li button {
        padding-left: 112px;
      }

      ul {
        display: none;
        transition: display linear 0.2s;

        &.open {
          display: block;
        }
      }
    }
  }
  /* --- */

  /* --- Style block: column containers for all publication pages: cover, title, foreword, introduction and read. --- */
  ion-content.publication-ion-content::part(scroll) {
    display: flex;
    padding: 26px;
  }
  page-text ion-content.publication-ion-content::part(scroll) {
    padding: 26px 16px;
  }
  .scroll-content-container {
    background-color: var(--page-text-columns-background-color);
    height: 100%;
    width: 100%;
    max-width: 710px;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 22px;
    outline-offset: -0.125rem;
  }
  @media screen and (max-width: 820px) {
    // Reduce padding om small screens, center content.
    ion-content.publication-ion-content::part(scroll) {
      justify-content: center;
      padding: 10px;
    }
    page-text ion-content.publication-ion-content::part(scroll) {
      padding-left: 0;
      padding-right: 0;
    }
    .scroll-content-container {
      padding: 12px;
    }
  }
  // Make room for the text-changer at the bottom in mobile mode.
  ion-content.publication-ion-content.mobile-mode-content::part(scroll) {
    padding-bottom: 0;
    justify-content: center;
  }
  /* --- */

  /* --- Style block: secondary toolbar content e.g. in: cover, title, foreword, introduction and read. --- */
  ion-toolbar.secondary ion-button {
    --background: transparent;
    --background-hover: transparent !important;
    --box-shadow: none;
    --color: var(--text-color-on-secondary-color-background);
    --color-hover: rgba(var(--text-color-on-secondary-color-background-rgb), var(--opacity-hover));
    --ripple-color: transparent;
    --transition: color 0.2s;
    letter-spacing: normal;
  }
  ion-toolbar.secondary .secondary-toolbar-buttons-wrapper ion-button ion-icon {
    font-size: 1.5625rem !important;
  }
  ion-toolbar.secondary .secondary-toolbar-buttons-wrapper ion-button .side-title {
    font-size: 0.625rem;
  }
  @media only screen and (max-width: 820px) {
    @media only screen and (max-width: 820px) {
      ion-toolbar.secondary .secondary-toolbar-buttons-wrapper ion-button .side-title {
        display: none;
      }
    }
  }
  /* --- */

  /* --- Style block: Inline popover in page-text to add new view. --- */
  ion-popover.page-text-add-view-popover {
    --background: transparent;
    --box-shadow: none;
    --offset-y: 40px;

    &::part(content) {
      width: 350px;
    }

    ion-content {
      --background: transparent;
    }

    ion-content::part(scroll) {
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      flex-direction: column;
    }

    ion-chip {
      --background: #f2f2f2;
      --color: #000;
      font-size: 1rem;
      margin-top: 10px;
      margin-right: 0;
      padding: 18px 14px;
      transition: all linear 0.2s;

      ion-icon.md {
        color: #000;
        font-size: 24px;
      }
    }
    ion-chip:hover {
      --background: #dbdbdb;
    }
  }
  /* --- */

  /* --- Style block: Style for the block in read columns where a different variant, manuscript or facsimile text can be selected. --- */
  div.text-select-wrapper {
    padding: 0 0 1rem 0;
    margin: 0 0 1.5rem 0;
    border-bottom: 1px solid #666;
    background-color: var(--page-text-columns-background-color);
    width: 100%;

    h3 {
      font-size: 1rem;
      font-weight: 600;
      word-wrap: break-word;
      white-space: normal;
      margin: 0;
    }

    .flex-buttons {
      display: flex;
      align-items: flex-start;
      flex-wrap: wrap;
    }

    h3 + .flex-buttons {
      margin-top: 0.5rem;
    }

    .flex-buttons + ion-item {
      margin-top: 0.5rem;
    }

    .flex-buttons > ion-button.button.align-right {
      margin-left: auto;
    }
  }
  .text-select-wrapper.facsimile-header {
    border-bottom: 0;
    padding-bottom: 0;
    margin-bottom: 1rem;
  }
  .text-select-wrapper.facsimile-header.external-urls-header {
    margin-bottom: 0;
  }
  .mobile-mode-read-content .text-select-wrapper.facsimile-header {
    margin: 0 auto;
    max-width: 710px;
    padding: 0.5rem;
  }
  .mobile-mode-facsimiles facsimiles ion-input.page-number-input {
    margin: 0 auto;
    max-width: 710px;
  }
  /* --- */

  /* --- Style block: Styles for the markdown content in the legend component. --- */
  .legend-markdown-content {
    h2,
    h2:first-child {
        font-size: 1.25em;
        font-variant: small-caps;
        font-weight: normal;
        margin: 0 0 0.5em;
    }

    h3 {
        font-size: 1.125em;
        font-style: italic;
        font-weight: bold;
        margin: 2em 0 0.5em;
    }

    h4 {
        font-size: 1.125em;
        font-style: italic;
        margin: 2em 0 0.5em;
    }

    h5 {
        font-size: 1em;
        font-weight: bold;
        margin: 2em 0 0.5em;
    }

    h6 {
        font-size: 1em;
        font-style: italic;
        margin: 2em 0 0.5em;
    }

    table {
        margin: 1em 0;
    }

    table th {
      text-align: left;
    }

    table td {
        line-height: 1.25em;
    }

    table.first-col-highlight {
        td:first-child {
            font-weight: bold;
        }
    }

    span.extVariantsTrigger {
        cursor: default;
    }
  }
  /* --- */

  /* --- Style block: Styles for the markdown content in the search pages. --- */
  page-elastic-search,
  page-persons,
  page-places,
  page-keywords,
  page-works {
    .markdown {
      > p:first-child {
        margin-top: 0;
      }

      > p:last-child {
          margin-bottom: 0;
      }
    }
  }
  page-elastic-search .markdown {
    ul {
      list-style-type: disc;
    }

    details summary {
      cursor: pointer;
      color: var(--default-link-color);
    }
    details summary::marker {
      color: initial;
    }
  }
  /* --- */

  /*

  IONIC 3 APP STYLES IN APP.SCSS:

  h2 {
    font-size: 1.6rem;
  }

  p {
    font-size: 1.125rem; // 18px when 1em = 16px
  }

  .mainMenuItem {
    cursor: pointer;
  }

  div.md_content markdown td {
    padding: 0.5em;
    line-height: 1.4;
    vertical-align: top;
  }

  // ???
  ion-list-header ion-label {
    text-transform: unset;
  }

  h1.mainH1Header {
    font-size: 1.6em;
    margin-bottom: 1em;
    font-weight: 700;
  }


  // START OF ORIGINAL VARIABLES.SCSS RULES
  .searchbar-search-icon {
      left: 1rem !important;
      top: 0.4375rem !important;
      width: 2rem !important;
      height: 2rem !important;
  }

  .button-md {
      height: 2.3rem !important;
  }

  .button-md.searchbar-clear-icon {
    height: 100% !important;
  }

  .tei.heading{
      font-size: 1.3rem !important;
      text-transform: none;
  }

  .tei.places {
      font-size: 1.0rem;
      color: #78756f;
  }

  .tei.collections {
      font-size: 1rem;
      color: #78756f;
  }

  .tei.place_name,.onki_province,.collection {
      color: #78756f;
  }

  // Search match, also defined in read-text.scss.
  match {
      background-color: transparent !important;
  }

  img[src*="#fsfd_bild_md_left"] {
      padding: 2px;
      border: 1px solid #c4c4b1;
      float: left;
      margin-right: 10px;
  }

  img[src*="#fsfd_bild_md_right"] {
      padding: 2px;
      border: 1px solid #c4c4b1;
      float: right;
      margin-left: 10px;
  }

  blockquote {
      font-style: italic;
  }

  // This applies to descriptions in TOC, but unclear why declared here and not in table-of-contents-accordion.scss
  .description {
      white-space: normal;
      line-height: 1.4rem !important;
  }
  .media_description {
      float: left;
  }



  // START OF ORIGINAL APP.SCSS RULES

  body {
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
    text-rendering: auto;
    background-color: red;
  }

  ion-label {
    overflow: visible!important;
  }

  .selectable { -webkit-user-select: text; -moz-user-select: text; -ms-user-select: text; user-select: text; }

  ion-app, ion-app.md {
    font-family: var(--font-stack-app-base);
    font-size: 1.4rem;
    background-color: #fff;
  }

  mark {
    background-color: $purple-color !important;
    color: white;
  }



  .card-md p {
    font-size: 1.2rem;
  }

  p, blockquote {
    line-height: 2.2rem;
  }



  .ion-page {
    min-width: 200px;
    overflow: hidden;
  }

  .md .modal-wrapper {
    border-radius: $popover-md-border-radius;
  }

  .fullscreen-image-viewer-modal, .illustration-modal {

    .close-button {
      font-size: 3rem;
      margin-right: 1.2rem;
    }

    .modal-wrapper {
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      border-radius: 0;

      .content {
        background-color: rgba(0,0,0,0.0) !important;
      }

      img {
        height: auto;
        width: auto;
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        box-sizing: border-box;
        margin: auto;
      }
    }
  }

  .back-to-list-button {
    background-color: var(--toc-back-button-background-color) !important;

    .back-button-text {
      color: var(--toc-back-button-text-color);
      font-size: 1rem;
    }
    ion-label {
      color: var(--toc-back-button-text-color);
    }
    ion-icon.icon {
      color: var(--toc-back-button-arrow-color);
    }
    &.item-md ion-icon[item-left] + .item-inner {
      margin-left: 0;
    }
    p {
      color: var(--toc-back-button-text-color) !important;
      font-size: 1rem !important;
    }
    .label {
      margin-top:0px;
      margin-bottom:0px;
    }
    position: sticky;
    top: 0;
    z-index: 999;
  }

  // Banner
  .banner {
    position: relative;
    margin-top: 55px;

    .foreground {
        position: absolute;
        bottom: 0;
        color: white;
        padding: 16px;
        background: rgba(0,0,0,0.5);
    }
  }

  // Logo and two rows in title
  ion-title {
    .logo {
      display: block;
      height: 58px;
      margin: 0 auto;
      float: right;
    }

    .toolbar-title{
      padding-right: 0px;
    }

    .page-title {
      font-size: 0.9rem;
      text-transform: uppercase;
      margin-bottom:0;
      font-weight: bold;
      margin-left: 5px;
    }

    .page-subtitle {
      font-size: 0.9rem;
      font-style: italic;
      margin-top: 0px;
    }
  }

  .header-md::after {
    display: none;
  }

  ion-toolbar.toolbar {
    padding: 0;
  }

  ion-nav[main] {
    transition: width 2s;
  }

  ion-menu {
    .page-title {
      margin-left: 5px;
    }

    ion-content {
      border-right: 1px solid #dedede;
    }

    ion-icon {
      color: $forward-arrow-color;
    }
  }

  ion-toolbar.secondary {

    .toolbar-content  {
      .toolbar-title {
        font-size: 1.5rem;
      }
    }
  }

  ion-row.secondary-toolbar-icons-wrapper {
    ion-icon {
      font-size: 1.75rem;
      padding: 0.5rem;
      cursor: pointer;
    }
  }

  ion-label {
    font-size: 1rem;
  }

  ion-select {
    .select-text {
      font-size: 1rem;
    }
  }

  ion-list {
    ion-label {
      font-size: 1rem !important;
    }
  }

  ion-toolbar {
    ion-icon {
      font-size: 2rem;
    }
  }

  ion-fab {
    ion-icon {
      font-size: 1.5rem !important;
    }
  }

  // Ordinary buttons
  button.button {
    background-color: var(--button-background-color);
    color: var(--button-text-color);
  }
  button.button-outline {
    background-color: transparent;
    border-color: var(--button-background-color);
    color: var(--button-background-color);
  }
  button.button-clear:not(.searchbar-md-cancel) {
    background-color: transparent;
    border-color: transparent;
    color: var(--button-clear-text-color);
  }
  button.button:hover:not(.disable-hover):not(.button-outline):not(.button-clear) {
    background-color: var(--button-hover-background-color);
  }
  button.button.activated:not(.button-outline):not(.button-clear) {
    background-color: var(--button-background-color);
  }

  // Fab buttons
  button.fab {
    background-color: var(--fab-button-primary-background-color);
    color: var(--fab-button-primary-icon-color);
  }
  button.fab.activated {
    background-color: var(--fab-button-primary-background-color);
  }
  ion-fab-list button.fab.fab-in-list,
  button.fab.fab-md-secondary {
    background-color: var(--fab-button-secondary-background-color);
    color: var(--fab-button-secondary-icon-color);
  }

  // Toggle buttons
  ion-toggle.toggle.toggle-checked .toggle-icon {
      background-color: rgba(var(--button-background-color-rgb), 0.2);
  }
  ion-toggle.toggle.toggle-checked .toggle-inner {
      background-color: var(--button-background-color);
  }

  // Radio buttons
  ion-radio.radio .radio-checked {
    border-color: var(--button-background-color);
  }
  ion-radio.radio .radio-checked .radio-inner {
    background-color: var(--button-background-color);
  }
  ion-item.item-radio.item-radio-checked ion-label.label {
    color: var(--button-background-color);
  }

  // Checkboxes
  ion-checkbox.checkbox .checkbox-checked {
    border-color: var(--button-background-color);
    background-color: var(--button-background-color);
  }


  // These two rules fix the vertical alignment of icons in fab-buttons.
  .fab[mini],
  .fab-list-active .fab {
    line-height: 1;
  }
  .fab[mini] .fab-close-icon {
    line-height: 1.75;
  }

  .item-block {
    min-height: 2.2rem;
  }

  input {
    font-size: 1rem !important;
    line-height: 0rem !important;
  }


  .front-page-list {
    .list-ios > .item-block:first-child {
      border-top: none !important;
    }
    .list-ios > .item-block:last-child {
      border-bottom: none !important;
    }
  }

  .green-box {
    background-color: #d3de9c;
  }

  .brown-box {
    background-color: #e3dbc9;
  }

  .select-edition {
    p {
      text-decoration: none;
      position: relative;
    }
    p:after {
      content: '';

      width: 100%;
      position: absolute;
      left: 0;
      bottom: 1px;

      border-width: 0 0 1px;
      border-style: solid;
    }
  }

  .item-md p {
    font-size: 1rem;
    color: map-get($map: $colors, $key: 'dark');
  }

  // Previously this rule affected all divs and buttons, testing to limit the scope since it's otherwise a very problematic rule. The intention was probably to just affect the searchbar./
  .searchbar input, .searchbar div, .searchbar button {
    font-size: 1rem !important;
    line-height: 1rem !important;
  }

  .searchbar-input{
    height: 2rem !important;
  }
  .searchbar-ios{
    background-color: rgba(0,0,0,0.0);
  }

  // Ion-content styles
  ion-content.content {
      background-color: var(--main-background-color);
  }

  // Primary and secondary toolbar styles
  ion-toolbar.toolbar .toolbar-background {
      background: var(--primary-color);
  }
  ion-toolbar.toolbar.secondary .toolbar-background,
  ion-toolbar.toolbar.secondary .toolbar-background {
      background: var(--secondary-color);
  }
  top-menu-legacy ion-toolbar.toolbar .toolbar-background {
      border-bottom: var(--top-menu-toolbar-bottom-border);
  }
  ion-toolbar.toolbar:not(.secondary) .toolbar-content button,
  ion-toolbar.toolbar:not(.secondary) .toolbar-content button:hover:not(.disable-hover) {
      color: var(--text-color-on-primary-color-background);
  }
  ion-toolbar.secondary.toolbar .toolbar-content .toolbar-title {
    color: var(--text-color-on-secondary-color-background);
  }

  // Ion-modal styles
  ion-modal ion-content.content {
    background-color: var(--ion-modal-content-background-color);
  }
  ion-modal .toolbar-background {
      background: var(--primary-color);
  }
  ion-modal ion-header .toolbar .toolbar-title,
  ion-modal ion-header button.bar-button,
  ion-modal ion-header button.bar-button:hover:not(.disable-hover) {
      color: var(--text-color-on-primary-color-background);
  }
  ion-modal ion-item.item {
    background-color: var(--ion-modal-item-background-color);
  }
  ion-modal ion-item-divider.item-divider {
    background-color: transparent;
    border-bottom-color: var(--ion-modal-item-divider-border-bottom-color);
  }

  // Ion-popover styles
  ion-popover div.popover-content,
  ion-popover div.popover-content ion-item.item {
    background-color: var(--ion-popover-content-background-color);
  }
  ion-popover div.popover-content ion-item.item .item-inner {
    border-bottom-color: var(--ion-popover-item-border-bottom-color);
  }
  ion-popover div.popover-content ion-list-header.list-header {
    background-color: var(--ion-popover-list-header-background-color);
  }

  // Table of contents (left navigation) styles
  ion-menu ion-content.toc-menu-content {
    background-color: var(--toc-background-color);
    border-right: 1px solid var(--toc-border-right-color);
  }
  ion-menu ion-content.toc-menu-content ion-item.item,
  ion-menu ion-content.toc-menu-content ion-item.item p {
    color: var(--toc-text-color);
  }
  ion-menu ion-content.toc-menu-content ion-item.item ion-icon.icon {
    color: var(--toc-arrow-color);
  }
  ion-menu ion-content.toc-menu-content ion-item.item .item-inner,
  ion-menu ion-content.toc-menu-content .list-md > .item-block:last-child .item-inner {
    border-bottom: 1px solid var(--toc-divider-color);
  }

  ion-menu#contentMenu ion-item.item.selected-toc-item {
    font-weight: var(--toc-selected-item-font-weight);
    background-color: var(--toc-selected-item-background-color);
      border-color: var(--toc-selected-item-border-color);
  }
  ion-menu#contentMenu ion-item.item.selected-toc-item p {
    color: var(--toc-selected-item-text-color);
  }
  ion-menu#contentMenu ion-item.item.selected-toc-item div.item-inner {
    border-color: var(--toc-selected-item-divider-color) !important;
  }
  ion-menu#contentMenu ion-item.item.selected-toc-item ion-icon {
    color: var(--toc-selected-item-arrow-color) !important;
  }

  // Table of content styles for simple accordion lists, including nested lists
  ion-menu {
    &#contentMenu ion-item.mainMenuItem,
    &#contentMenu ion-list.accordion-menu > ion-item.item,
    &#contentMenu ion-list.accordion-menu > div > ion-item.item,
    &#contentMenu .simple-accordion-options > div > ion-item.item {
      padding-left: 12px;
      border-left: 4px solid transparent;
    }
    &#contentMenu ion-item.mainMenuItem:hover,
    &#contentMenu ion-list.accordion-menu ion-item.item:hover {
      border-left-color: var(--toc-hover-color) !important;
    }
    &#contentMenu .simple-accordion-options ion-list.accordion-menu > ion-item.item,
    &#contentMenu .simple-accordion-options ion-list ion-item.item,
    &#contentMenu ion-list.accordion-menu .simple-accordion-options > div > ion-item.item {
      padding-left: 32px;
    }
    &#contentMenu .simple-accordion-options .recursive-suboptions > ion-item.item,
    &#contentMenu .simple-accordion-options .recursive-suboptions ion-list.accordion-menu > ion-item.item,
    &#contentMenu ion-list.accordion-menu .simple-accordion-options ion-list.accordion-menu .simple-accordion-options ion-list.list > ion-item.item {
      padding-left: 52px;
    }
    &#contentMenu .simple-accordion-options .recursive-suboptions .recursive-suboptions > ion-item.item,
    &#contentMenu .simple-accordion-options .recursive-suboptions .recursive-suboptions ion-list.accordion-menu > ion-item.item,
    &#contentMenu ion-list.accordion-menu .simple-accordion-options ion-list.accordion-menu .simple-accordion-options ion-list.accordion-menu .simple-accordion-options ion-list.list > ion-item.item {
      padding-left: 72px;
    }
    &#contentMenu .simple-accordion-options .recursive-suboptions .recursive-suboptions .recursive-suboptions > ion-item.item,
    &#contentMenu .simple-accordion-options .recursive-suboptions .recursive-suboptions .recursive-suboptions ion-list.accordion-menu > ion-item.item,
    &#contentMenu ion-list.accordion-menu .simple-accordion-options ion-list.accordion-menu .simple-accordion-options ion-list.accordion-menu .simple-accordion-options ion-list.accordion-menu .simple-accordion-options ion-list.list > ion-item.item {
      padding-left: 92px;
    }
  }

  ion-list.accordion-menu ion-item.header ion-icon.header-icon {
    will-change: transform;
    transition: transform 0.3s ease;
  }

  ion-list.accordion-menu ion-item.header ion-icon.header-icon.rotate {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
  }

  // The toc-items themselves should not have a bg-color, instead the whole toc-menu has a bg-color.
  ion-list.accordion-menu ion-item.item,
  ion-item.mainMenuItem {
    background-color: unset;
  }

  ion-list.accordion-menu > ion-item.item-block:last-child .item-inner {
    border-bottom: 1px solid var(--toc-divider-color);
  }

  ion-list.accordion-menu div.options {
    will-change: height;
    transition: height 0.3s ease;
    overflow-y: hidden;
    height: 0;
  }

  .mainMenuItem{
    font-weight: 400;
  }

  ion-label > p {
    white-space: normal;
    font-size: 1rem !important;
  }

  ion-icon.menu-download{
    font-size: 1.5rem !important;
    color:rgba($color: #000000, $alpha: 0.3);
  }

  ion-list.accordion-menu{
    margin: 0 !important;
  }

  ion-menu .item-md ion-label.label > p {
    margin: 0;
    line-height: 1.5;
  }

  ion-menu .item-md ion-label.label {
    margin: 11px 8px 11px 0;
  }

  .shadow{
    background-color: rgba(0,0,0,.6);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    display: block;
    z-index: 3 !important;
    visibility: visible;
  }

  ion-nav{
    transform: none !important;
    z-index: 1 !important;
    background-color: var(--main-background-color) !important;
  }

  #tableOfContentsMenu{
    transform: none !important;
    z-index: 7 !important;
  }


  // Buttons in the secondary toolbar.
  button.sec-menu-button.button,
  button.sec-menu-button.bar-button {
    color: var(--text-color-on-secondary-color-background);
    padding: 0;
    transition: var(--opacity-hover-transition);
  }
  button.sec-menu-button.button:hover:not(.disable-hover),
  button.sec-menu-button.bar-button:hover:not(.disable-hover) {
    color: var(--text-color-on-secondary-color-background);
    background-color: transparent !important;
    opacity: var(--opacity-hover);
  }
  button.sec-menu-button.button:active,
  button.sec-menu-button.bar-button:active {
    opacity: 1;
  }
  button.sec-menu-button.button .side-title,
  button.sec-menu-button.bar-button .side-title {
    font-size: 10px;
  }

  @media only screen and (max-width: 820px) {
    button.sec-menu-button.button .side-title,
    button.sec-menu-button.bar-button .side-title {
      display: none;
    }
  }

  // Circular buttons with only an icon inside
  button.circular-icon-button.button {
    border-radius: 1.25rem;
    padding: 0.5625rem;
    height: 1.875rem !important;
  }
  button.circular-icon-button.button ion-icon {
    font-size: 1.25rem;
  }

  

  // Styles for the popover showing sort options for the TOC in sortable TOCs
  .collectionFiltersSelectOptionsPopover .popover-content {
    overflow-y: hidden;
    background-color: #fafafa;

    ion-item {
      background-color: #fafafa;
    }
  }

  */



  // Load TEI-stylesheets. Moved here from project-variables.scss
  @import './theme/tei';
  @import './theme/tei_comment';
  @import './theme/tei_variant';
  @import './theme/tei_manuscript';
  @import './theme/leaflet';

