<ion-header>
  <ion-toolbar>
    <ion-title i18n="@@Occurrences.Title">Förekomster</ion-title>
    <ion-buttons slot="end">
      <ion-button class="close" fill="clear" (click)="cancel()">
        <ion-icon name="close" slot="icon-only" aria-label="Stäng" i18n-aria-label="@@BasicActions.Close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="sd-wrapper">
    <ion-spinner *ngIf="infoLoading" class="loading" name="crescent"></ion-spinner>
    <ion-item *ngIf="noData"><p i18n="@@Occurrences.NoInfoFound">Ingen information hittades.</p></ion-item>

    <ng-container *ngIf="title">
      <div class="sd-header">
        <h2>
          <span *ngIf="occupation && !hideTypeAndDescription" class="occupation">{{occupation}} – </span><span class="title" [innerHTML]="title"></span><span *ngIf="year_born_deceased_string != null && year_born_deceased_string != ''" class="date"> {{year_born_deceased_string}}</span><span *ngIf="latitude && longitude" class="coordinates"> (<a [href]="'https://www.openstreetmap.org/?mlat=' + latitude + '&mlon=' + longitude" target="_blank"><ng-container i18n="@@Occurrences.latitude">lat.</ng-container> {{latitude}}, <ng-container i18n="@@Occurrences.longitude">long.</ng-container> {{longitude}}</a>)</span>
        </h2>
        <div class="media_image_wrapper" *ngIf="mediaData.imageUrl">
          <img alt="occurrence image" src="{{mediaData.imageUrl}}">
        </div>
        <div class="media_description" *ngIf="mediaData.description">
          {{mediaData.description}}
        </div>
      </div>

      <div class="sd-box"
            *ngIf="(city && !hideCityRegionCountry) || (region && !hideCityRegionCountry) || (country && !hideCityRegionCountry) || place_of_birth || (type && !hideTypeAndDescription) || source || publisher || published_year || isbn || (authors?.length && authors[0]) || journal || description || articleData?.length"
      >
        <dl
              *ngIf="(city && !hideCityRegionCountry) || (region && !hideCityRegionCountry) || (country && !hideCityRegionCountry) || place_of_birth || (type && !hideTypeAndDescription) || source || publisher || published_year || isbn || (authors?.length && authors[0]) || journal || (description && !hideTypeAndDescription) || articleData?.length"
        >
          <div *ngIf="city && !hideCityRegionCountry" class="city">
            <dt i18n="@@Occurrences.city">Stad</dt>
            <dd>{{city}}</dd>
          </div>
          <div *ngIf="region && !hideCityRegionCountry" class="region">
            <dt i18n="@@Occurrences.region">Region</dt>
            <dd>{{region}}</dd>
          </div>
          <div *ngIf="country && !hideCityRegionCountry" class="country">
            <dt i18n="@@Occurrences.country">Land</dt>
            <dd>{{country}}</dd>
          </div>
          <div *ngIf="place_of_birth" class="place_of_birth">
            <dt i18n="@@Occurrences.place_of_birth">Ort</dt>
            <dd>{{place_of_birth}}</dd>
          </div>
          <div *ngIf="type && !hideTypeAndDescription" class="type">
            <dt i18n="@@Occurrences.type">Typ</dt>
            <dd>{{type}}</dd>
          </div>
          <div *ngIf="source" class="source">
            <dt i18n="@@Occurrences.source">Källa</dt>
            <dd><a [href]="source" target="_blank">{{source}}</a></dd>
          </div>
          <div *ngIf="authors?.length && authors[0]" class="authors">
            <dt i18n="@@Occurrences.authors">Författare</dt>
            <dd>
                <ng-container *ngFor="let author of authors; last as lastAuthor">
                  {{author.full_name}}<ng-container *ngIf="!lastAuthor"><br></ng-container>
                </ng-container>
            </dd>
          </div>
          <div *ngIf="publisher" class="publisher">
            <dt i18n="@@Occurrences.publisher">Utgivare</dt>
            <dd>{{publisher}}</dd>
          </div>
          <div *ngIf="published_year" class="published_year">
            <dt i18n="@@Occurrences.published_year">Utgivningsår</dt>
            <dd>{{published_year}}</dd>
          </div>
          <div *ngIf="isbn" class="isbn">
            <dt i18n="@@Occurrences.isbn">ISBN</dt>
            <dd>{{isbn}}</dd>
          </div>
          <div *ngIf="journal" class="journal">
            <dt i18n="@@Occurrences.journal">Journal</dt>
            <dd>{{journal}}</dd>
          </div>
          <div *ngIf="articleData?.length" class="articles">
            <dt i18n="@@Occurrences.articles">Artiklar</dt>
            <dd>
              <ng-container *ngFor="let article of articleData; let i = index; last as lastArticle">
                <span class="article_count">{{i+1}}.</span> <span class="article_description">{{article.description}}</span><span class="article_link"> – <a [href]="article.pdf_path" target="_blank" i18n="@@Occurrences.download">ladda ner pdf</a></span><ng-container *ngIf="!lastArticle"><br></ng-container>
              </ng-container>
          </dd>
          </div>
          <div *ngIf="description && !hideTypeAndDescription" class="description">
            <dt i18n="@@Occurrences.description">Beskrivning</dt>
            <dd>{{description}}</dd>
          </div>
        </dl>
        <ng-container *ngIf="description && hideTypeAndDescription">
          <p class="description">{{description}}</p>
        </ng-container>
        <ng-container *ngIf="galleryOccurrenceData.length > 0">
          <ion-button class="custom-outline-button" fill="outline" i18n="@@TOC.MediaCollections" (click)="openGallery(galleryOccurrenceData[0])">Bildbank</ion-button>
        </ng-container>
      </div>

      <h3 i18n="@@Occurrences.Title">Förekomster</h3>
      <div class="sd-box">
        <ion-spinner *ngIf="isLoading" class="loading" name="crescent"></ion-spinner>

        <ul class="sd-occurrences" role="menu">
          <li *ngFor="let collection of groupedTexts" [attr.aria-expanded]="!collection.hidden" [attr.aria-haspopup]="'menu'" role="menuitem">
            <button (click)="toggleList(collection.collection_id)">
              <span class="coll-name">{{collection.name}}</span>
              <ion-icon [class.open]="!collection.hidden" name="chevron-forward-outline" class="toggle-icon"></ion-icon>
            </button>
            <ul *ngIf="!collection.hidden" role="menu">
              <li *ngFor="let publication of collection['publications']" (click)="openText(publication.occurrences[0])" role="menuitem">
                <span class="text-name">{{publication.occurrences[0].displayName}}<ng-container *ngIf="publication.occurrences.length > 1"> ({{publication.occurrences.length}}&nbsp;<ng-container i18n="@@Occurrences.OccurrencesSmall">förekomster</ng-container>)</ng-container></span>
                <ion-button *ngIf="publication.occurrences[0].publication_facsimile_page" fill="outline" class="custom-outline-button"><ng-container i18n="@@Occurrences.Facsimile">Faksimil</ng-container>: {{publication.occurrences[0].publication_facsimile_page}}</ion-button>
                <ion-button *ngIf="publication.occurrences[0].textType == 'ms'" fill="outline" class="custom-outline-button" i18n="@@Occurrences.Manuscript">Manuskript</ion-button>
                <ion-button *ngIf="publication.occurrences[0].textType == 'var'" fill="outline" class="custom-outline-button" i18n="@@Occurrences.Variation">Variant</ion-button>
                <ion-button *ngIf="publication.occurrences[0].textType == 'com'" fill="outline" class="custom-outline-button" i18n="@@Occurrences.Commentary">Kommentar</ion-button>
                <ion-button *ngIf="publication.occurrences[0].textType == 'facs'" fill="outline" class="custom-outline-button" i18n="@@Occurrences.Facsimile">Faksimil</ion-button>
                <ion-button *ngIf="publication.occurrences[0].textType == 'est'" fill="outline" class="custom-outline-button" i18n="@@Occurrences.Established">Lästext</ion-button>
              </li>
            </ul>
          </li>
        </ul>

        <p *ngIf="simpleWorkMetadata && (objectType == 'work' || objectType == 'work_manifestation')" i18n="@@Occurrences.workOccurrencesDisabled">Förekomster för verk är inte tillgängliga.</p>
        <p *ngIf="!isLoading && groupedTexts.length < 1 && !simpleWorkMetadata" i18n="@@Occurrences.NoInfoFound">Ingen information hittades.</p>

      </div>
    </ng-container>
  </div>
</ion-content>
