<ion-header class="ion-no-border">
  <ion-toolbar class="secondary">

    <text-changer *ngIf="!userSettingsService.isMobile()" [textItemID]="textItemID" [textPosition]="textPosition" [parentPageType]="'page-text'" class="text-changer-desktop-mode"></text-changer>

    <ion-buttons slot="end" class="secondary-toolbar-buttons-wrapper">
      <ion-button *ngIf="showTextDownloadButton" (click)="showDownloadModal()" class="sec-menu-button">
        <ion-icon slot="start" *ngIf="!usePrintNotDownloadIcon" class="download-icon" name="download"></ion-icon>
        <ion-icon slot="start" *ngIf="usePrintNotDownloadIcon" class="print-icon" name="print"></ion-icon>
        <span class="side-title" i18n="@@DownloadTexts.Download">Ladda ner</span>
      </ion-button>
      <ion-button *ngIf="showURNButton" (click)="showReference()" class="sec-menu-button">
        <ion-icon slot="start" class="urn-icon" name="arrow-redo-sharp"></ion-icon>
        <span class="side-title" i18n="@@Reference.refer">Hänvisa</span>
      </ion-button>
      <ion-button *ngIf="showViewOptionsButton" #settingsIconElement (click)="showPopover($event)" class="sec-menu-button" id="settings-icon">
        <ion-icon slot="start" class="settings-icon" name="settings-sharp"></ion-icon>
        <span class="side-title" i18n="@@Read.Popover.Options">Inställningar</span>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!-- Main content with scroll -->
<ng-container *ngIf="!userSettingsService.isMobile()">
  <ion-content class="publication-ion-content" [ngClass]="printMainContentClasses()" [scrollX]="true" [scrollY]="false">
    <div class="column-container">
      <!-- Wrapper for all columns -->
      <div class="read-columns-wrapper" [ngClass]="views.length > 1 ? 'multiple-columns' : 'single-column'" [class.illustrations-view-shown]="illustrationsViewShown">

        <!-- Tooltip wrapper -->
        <div
          [ngClass]="'toolTip tei teiContainer ' + ((readPopoverService.fontsize==0)?'xsmallFontSize':(readPopoverService.fontsize==1)?'smallFontSize':(readPopoverService.fontsize==2)?'mediumFontSize':(readPopoverService.fontsize==3)?'largeFontSize':'xlargeFontSize')"
          [class.show_comments]="readPopoverService.show.comments"
          [class.show_personInfo]="readPopoverService.show.personInfo"
          [class.show_placeInfo]="readPopoverService.show.placeInfo"
          [class.show_workInfo]="readPopoverService.show.workInfo"
          [class.show_normalisations]="readPopoverService.show.normalisations"
          [class.show_changes]="readPopoverService.show.changes"
          [class.show_abbreviations]="readPopoverService.show.abbreviations"
          [ngStyle]="{'position': toolTipPosType, 'top': toolTipPosition.top, 'left': toolTipPosition.left, 'max-width': toolTipMaxWidth, 'transform': 'scale(' + toolTipScaleValue + ')'}"
          [innerHTML]="toolTipText"
          [MathJax]="toolTipText"
        >
        </div>

        <!-- Info overlay wrapper -->
        <div
          [ngClass]="'infoOverlay tei teiContainer ' + ((readPopoverService.fontsize==0)?'xsmallFontSize':(readPopoverService.fontsize==1)?'smallFontSize':(readPopoverService.fontsize==2)?'mediumFontSize':(readPopoverService.fontsize==3)?'largeFontSize':'xlargeFontSize')"
          [class.show_comments]="readPopoverService.show.comments"
          [class.show_personInfo]="readPopoverService.show.personInfo"
          [class.show_placeInfo]="readPopoverService.show.placeInfo"
          [class.show_workInfo]="readPopoverService.show.workInfo"
          [class.show_normalisations]="readPopoverService.show.normalisations"
          [class.show_changes]="readPopoverService.show.changes"
          [class.show_abbreviations]="readPopoverService.show.abbreviations"
          [ngStyle]="{'position': infoOverlayPosType, 'bottom': infoOverlayPosition.bottom, 'left': infoOverlayPosition.left, 'width': infoOverlayWidth}"
        >
          <div class="infoOverlayHeader">
            <h6 class="infoOverlayTitle" [innerHTML]="infoOverlayTitle"></h6>
            <ion-icon name="close" class="infoOverlayButton" (click)="hideInfoOverlay()"></ion-icon>
          </div>
          <div class="infoOverlayContent" [innerHTML]="infoOverlayText" [MathJax]="infoOverlayText"></div>
        </div>
        
        <!-- Wrapper for each column -->
        <div *ngFor="let view of views; let i = index;" id="read_div_{{i}}" class="column_type_{{view.type}}" [ngClass]="views.length > 1 ? 'read-column multiple-columns' : 'read-column single-column'">

          <!-- Ion fab column options -->
          <ion-fab *ngIf="views.length>1" class="column-options">
            <ion-fab-button class="toggle-fab-list-button" size="small" #fabColumnOptionsButton>
              <ion-icon name="ellipsis-vertical"></ion-icon>
            </ion-fab-button>
            <ion-fab-list *ngIf="views.length>1" side="bottom" #fabColumnOptions>
              <ion-fab-button *ngIf="enabledViewTypes.length > 1" (click)="removeView(i)">
                <ion-icon name="trash-bin-sharp"></ion-icon>
              </ion-fab-button>
              <ion-fab-button *ngIf="i > -1 && views.length-1 > i" (click)="moveViewRight(i)">
                <ion-icon name="return-down-forward-sharp"></ion-icon>
              </ion-fab-button>
              <ion-fab-button *ngIf="views.length > i && i > 0" (click)="moveViewLeft(i)">
                <ion-icon name="return-down-back-sharp"></ion-icon>
              </ion-fab-button>
            </ion-fab-list>
          </ion-fab>

          <!-- Ion card for each column-->
          <ion-card>
            <ion-card-header class="column-card-title">
              <ng-container *ngIf="view.type == 'established'" i18n="@@established">Lästext</ng-container>
              <ng-container *ngIf="view.type == 'established_sv'" i18n="@@established_sv">Lästext (på svenska)</ng-container>
              <ng-container *ngIf="view.type == 'established_fi'" i18n="@@established_fi">Lästext (på finska)</ng-container>
              <ng-container *ngIf="view.type == 'comments'" i18n="@@comments">Kommentarer</ng-container>
              <ng-container *ngIf="view.type == 'facsimiles'" i18n="@@facsimiles">Faksimil</ng-container>
              <ng-container *ngIf="view.type == 'manuscripts'" i18n="@@manuscripts">Manuskript</ng-container>
              <ng-container *ngIf="view.type == 'variations'" i18n="@@variations">Tryckta varianter</ng-container>
              <ng-container *ngIf="view.type == 'illustrations'" i18n="@@illustrations">Illustrationer</ng-container>
              <ng-container *ngIf="view.type == 'legend'" i18n="@@legend">Teckenförklaringar</ng-container>
            </ion-card-header>
            <ion-card-content class="column-card-content">
              <div class="scroll-content-container">
                <ng-container *ngIf="view.type == 'established' && multilingualReadingTextLanguages.length < 2">
                  <read-text [textItemID]="textItemID" [textPosition]="textPosition" [searchMatches]="searchMatches" (openNewIllustrView)="openNewView($event)"></read-text>
                </ng-container>

                <ng-container *ngIf="multilingualReadingTextLanguages.length > 1 && viewTypes['established']">
                  <ng-container *ngFor="let lang of multilingualReadingTextLanguages">
                    <ng-container *ngIf="view.type == 'established_' + lang">
                      <read-text [textItemID]="textItemID + '_' + lang" [textPosition]="textPosition" [searchMatches]="searchMatches" (openNewIllustrView)="openNewView($event)"></read-text>
                    </ng-container>
                  </ng-container>
                </ng-container>

                <ng-container *ngIf="view.type == 'comments'">
                  <comments [textItemID]="textItemID" [searchMatches]="searchMatches">
                  </comments>
                </ng-container>
                <ng-container *ngIf="view.type == 'facsimiles'">
                  <facsimiles [textItemID]="textItemID" [facsID]="view.id" [imageNr]="view.nr" (selectedFacsID)="updateViewProperty('id', $event, i)" (selectedImageNr)="updateViewProperty('nr', $event, i)">
                  </facsimiles>
                </ng-container>
                <ng-container *ngIf="view.type == 'manuscripts'">
                  <manuscripts [msID]="view.id" [textItemID]="textItemID" [searchMatches]="searchMatches" (selectedMsID)="updateViewProperty('id', $event, i)" (openNewManView)="openNewView($event)" (openNewLegendView)="openNewView($event)"></manuscripts>
                </ng-container>
                <ng-container *ngIf="view.type == 'variations'">
                  <variants [linkID]="view.id" [itemId]="textItemID" [matches]="searchMatches" [sortOrder]="view.variationSortOrder"
                    (openNewVarView)="openNewView($event)" (openNewLegendView)="openNewView($event)"></variants>
                </ng-container>
                <ng-container *ngIf="view.type == 'illustrations'">
                  <illustrations [initialImage]="view.image" [itemId]="textItemID"></illustrations>
                </ng-container>
                <ng-container *ngIf="view.type == 'legend'">
                  <text-legend [itemId]="textItemID" [scrollToElementId]="view.id"></text-legend>
                </ng-container>
              </div>
            </ion-card-content>
          </ion-card>
        </div>

        <!-- Add view -->
        <div *ngIf="enabledViewTypes.length > 1" class="add-view-column">
          <!--
          <div class="fab-backdrop" [ngClass]="showAddViewsFabBackdrop ? 'show-fab-backdrop' : ''" [ngStyle]="{'width':backdropWidth+'px'}" (click)="toggleFabBackdrop(); fabmenuadd.close()"></div>
          -->
          <ion-fab id="add-view-fab" #fabmenuadd>
            <ion-fab-button id="add-view-fab-button" class="toggle-fab-list-button" size="small" (click)="showAddViewPopover($event)">
              <ion-icon name="add-outline" aria-labelledby="add-column-label"></ion-icon>
            </ion-fab-button>
          </ion-fab>
          <ion-popover #addViewPopover class="page-text-add-view-popover" reference="trigger" side="bottom" alignment="end" [isOpen]="addViewPopoverisOpen" (didDismiss)="addViewPopoverisOpen = false" [dismissOnSelect]="true">
            <ng-template>
              <ion-content>
                <ion-chip *ngIf="viewTypes['showAll']" (click)="showAllViewTypes(); commonFunctions.scrollLastViewIntoView()">
                  <ion-icon name="albums-outline"></ion-icon>
                  <ion-label i18n="@@Read.ShowAll">Visa alla</ion-label>
                </ion-chip>
                <ion-chip *ngIf="multilingualReadingTextLanguages.length < 2 && viewTypes['established']" (click)="addView('established'); commonFunctions.scrollLastViewIntoView()">
                  <ion-icon name="reader-outline"></ion-icon>
                  <ion-label i18n="@@Read.Established.AddButtonText">Lästext</ion-label>
                </ion-chip>
                <ng-container *ngIf="multilingualReadingTextLanguages.length > 1 && viewTypes['established']">
                  <ion-chip *ngFor="let lang of multilingualReadingTextLanguages" (click)="addView('established', null, null, lang); commonFunctions.scrollLastViewIntoView()">
                    <ion-icon name="reader-outline"></ion-icon>
                    <ion-label><ng-container i18n="@@Read.Established.AddButtonText">Lästext</ng-container> – {{lang}}</ion-label>
                  </ion-chip>
                </ng-container>
                <ion-chip *ngIf="viewTypes['comments']" (click)="addView('comments'); commonFunctions.scrollLastViewIntoView()">
                  <ion-icon name="chatbubble-ellipses-outline"></ion-icon>
                  <ion-label i18n="@@Read.Comments.AddButtonText">Kommentarer</ion-label>
                </ion-chip>
                <ion-chip *ngIf="viewTypes['facsimiles']" (click)="addView('facsimiles'); commonFunctions.scrollLastViewIntoView()">
                  <ion-icon name="image-outline"></ion-icon>
                  <ion-label i18n="@@Read.Facsimiles.AddButtonText">Faksimil</ion-label>
                </ion-chip>
                <ion-chip *ngIf="viewTypes['illustrations']" (click)="addView('illustrations'); commonFunctions.scrollLastViewIntoView()">
                  <ion-icon name="images-outline"></ion-icon>
                  <ion-label i18n="@@Read.Illustrations.AddButtonText">Illustrationer</ion-label>
                </ion-chip>
                <ion-chip *ngIf="viewTypes['manuscripts']" (click)="addView('manuscripts'); commonFunctions.scrollLastViewIntoView()">
                  <ion-icon name="document-text-outline"></ion-icon>
                  <ion-label i18n="@@Read.Manuscripts.AddButtonText">Manuskript</ion-label>
                </ion-chip>
                <ion-chip *ngIf="viewTypes['variations']" (click)="addView('variations'); commonFunctions.scrollLastViewIntoView()">
                  <ion-icon name="documents-outline"></ion-icon>
                  <ion-label i18n="@@Read.Variations.AddButtonText">Tryckta varianter</ion-label>
                </ion-chip>
                <ion-chip *ngIf="viewTypes['legend']" (click)="addView('legend'); commonFunctions.scrollLastViewIntoView()">
                  <ion-icon name="bulb-outline"></ion-icon>
                  <ion-label i18n="@@Read.Legend.AddButtonText">Teckenförklaringar</ion-label>
                </ion-chip>
              </ion-content>
            </ng-template>
          </ion-popover>
          <div class="add-column">
            <p id="add-column-label" i18n="@@Read.AddColumn">Ny kolumn</p>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ng-container>

<!-- Mobile Read -->
<ng-container *ngIf="userSettingsService.isMobile()">
  <ion-content class="publication-ion-content" [ngClass]="printMainContentClasses()" [scrollX]="false" [scrollY]="false">
    <div
      [ngClass]="'toolTip tei teiContainer ' + ((readPopoverService.fontsize==0)?'xsmallFontSize':(readPopoverService.fontsize==1)?'smallFontSize':(readPopoverService.fontsize==2)?'mediumFontSize':(readPopoverService.fontsize==3)?'largeFontSize':'xlargeFontSize')"
      [class.show_comments]="readPopoverService.show.comments"
      [class.show_personInfo]="readPopoverService.show.personInfo"
      [class.show_placeInfo]="readPopoverService.show.placeInfo"
      [class.show_workInfo]="readPopoverService.show.workInfo"
      [class.show_normalisations]="readPopoverService.show.normalisations"
      [class.show_changes]="readPopoverService.show.changes"
      [class.show_abbreviations]="readPopoverService.show.abbreviations"
      [ngStyle]="{'position': toolTipPosType, 'top': toolTipPosition.top, 'left': toolTipPosition.left, 'max-width': toolTipMaxWidth, 'transform': 'scale(' + toolTipScaleValue + ')'}"
      [innerHTML]="toolTipText"
      [MathJax]="toolTipText"
    ></div>
    <div
      [ngClass]="'infoOverlay tei teiContainer ' + ((readPopoverService.fontsize==0)?'xsmallFontSize':(readPopoverService.fontsize==1)?'smallFontSize':(readPopoverService.fontsize==2)?'mediumFontSize':(readPopoverService.fontsize==3)?'largeFontSize':'xlargeFontSize')"
      [class.show_comments]="readPopoverService.show.comments"
      [class.show_personInfo]="readPopoverService.show.personInfo"
      [class.show_placeInfo]="readPopoverService.show.placeInfo"
      [class.show_workInfo]="readPopoverService.show.workInfo"
      [class.show_normalisations]="readPopoverService.show.normalisations"
      [class.show_changes]="readPopoverService.show.changes"
      [class.show_abbreviations]="readPopoverService.show.abbreviations"
      [ngStyle]="{'position': infoOverlayPosType, 'bottom': infoOverlayPosition.bottom, 'left': infoOverlayPosition.left, 'width': infoOverlayWidth}"
    >
      <div class="infoOverlayHeader">
        <h6 class="infoOverlayTitle" [innerHTML]="infoOverlayTitle"></h6>
        <ion-icon name="close" class="infoOverlayButton" (click)="hideInfoOverlay()"></ion-icon>
      </div>
      <div class="infoOverlayContent" [innerHTML]="infoOverlayText" [MathJax]="infoOverlayText"></div>
    </div>
    <!--
    <div
      *ngIf="hasOccurrenceResults && showOccurrencesModal">
      <ion-button class="readpage-occurrences-mobile" (click)="openOccurrenceResult()"><ng-container i18n="@@Read.ShowSearchResults">Förekomster</ng-container>&nbsp;<ion-icon name="search"></ion-icon></ion-button>
    </div>
    -->
    <ion-segment [scrollable]="true" mode="ios" [(ngModel)]="activeMobileModeViewType">
      <ion-segment-button value="established" *ngIf="viewTypes['established']">
        <ion-label i18n="@@Read.Established.Title">Lästext</ion-label>
      </ion-segment-button>
      <ion-segment-button value="facsimiles" *ngIf="viewTypes['facsimiles']">
        <ion-label i18n="@@Read.Facsimiles.Title">Faksimil</ion-label>
      </ion-segment-button>
      <!--
      <ion-segment-button value="manuscripts" *ngIf="viewTypes['manuscripts']">
        <ion-label i18n="@@Read.Manuscripts.Title">Manuskript</ion-label>
      </ion-segment-button>
      -->
    </ion-segment>
    <ng-container [ngSwitch]="activeMobileModeViewType">
      <div *ngSwitchCase="'established'" class="mobile-mode-established scroll-content-container">
          <read-text [textItemID]="textItemID" [textPosition]="textPosition" [searchMatches]="searchMatches"></read-text>
      </div>
      <div *ngSwitchCase="'facsimiles'" class="mobile-mode-facsimiles">
        <facsimiles [textItemID]="textItemID"></facsimiles>
      </div>
      <!--
      <div *ngSwitchCase="'manuscripts'" class="mobile-mode-manuscripts scroll-content-container">
        <manuscripts [textItemID]="textItemID" [searchMatches]="searchMatches" (openNewManView)="openNewView($event)" (openNewLegendView)="openNewView($event)"></manuscripts>
      </div>
      -->
    </ng-container>
  </ion-content>
</ng-container>

<text-changer *ngIf="userSettingsService.isMobile()" [textItemID]="textItemID" [textPosition]="textPosition" [parentPageType]="'page-text'" class="text-changer-mobile-mode"></text-changer>
