<ion-content>

  <h1 class="page-title" i18n="@@ElasticSearch.PageTitle">Sök i utgåvan</h1>

  <ng-container *ngIf="(mdContent$ | async) as mdContent">
    <div class="info markdown" [innerHTML]="mdContent"></div>
  </ng-container>

  <div class="search-container">

    <div class="search-row">
      <ion-searchbar
            class="custom-searchbar manual-exec"
            placeholder="Sök ..."
            i18n-placeholder="@@ElasticSearch.SearchPlaceholder"
            show-clear-button="always"
            enterkeyhint="search"
            inputmode="search"
            [searchIcon]="undefined"
            [(ngModel)]="currentQuery"
            (ionClear)="clearSearch()"
            (keyup.enter)="initSearch()"
      ></ion-searchbar>
      <ion-button (click)="initSearch()">
        <ion-icon slot="icon-only" name="search" aria-label="Sök" i18n-aria-label="@@ElasticSearch.SearchButtonAriaLabel"></ion-icon>
      </ion-button>
    </div>

    <div class="selected-facets-row" *ngIf="hasSelectedFacets()">
      <ng-container *ngFor="let groupKey of objectKeys(selectedFacetGroups)">
        <div class="sfg" *ngIf="hasSelectedFacetsByGroup(groupKey)">
          <p class="sfg-title">
            <ng-container *ngIf="groupKey === 'Years'">
              <ng-container i18n="@@ElasticSearch.TimeRange">Tidsperiod</ng-container>:
            </ng-container>
            <ng-container *ngIf="groupKey === 'Type'">
              <ng-container i18n="@@Type">Texttyp</ng-container>:
            </ng-container>
            <ng-container *ngIf="groupKey === 'Genre'">
              <ng-container i18n="@@Genre">Genre</ng-container>:
            </ng-container>
            <ng-container *ngIf="groupKey === 'Collection'">
              <ng-container i18n="@@Collection">Delutgåva</ng-container>:
            </ng-container>
            <ng-container *ngIf="groupKey === 'LetterSenderName'">
              <ng-container i18n="@@LetterSenderName">Avsändare (brev)</ng-container>:
            </ng-container>
            <ng-container *ngIf="groupKey === 'LetterReceiverName'">
              <ng-container i18n="@@LetterReceiverName">Mottagare (brev)</ng-container>:
            </ng-container>
            <ng-container *ngIf="groupKey === 'LetterSenderLocation'">
              <ng-container i18n="@@LetterSenderLocation">Avsändarort (brev)</ng-container>:
            </ng-container>
            <ng-container *ngIf="groupKey === 'LetterReceiverLocation'">
              <ng-container i18n="@@LetterReceiverLocation">Mottagarort (brev)</ng-container>:
            </ng-container>
          </p>
          <ul>
            <li *ngFor="let facet of objectValues(selectedFacetGroups[groupKey])">
              <ion-button (click)="unselectFacet(groupKey, facet)" class="custom-button">
                <ng-container [ngSwitch]="facet.key.toString()">
                  <ng-container *ngSwitchCase="'est'" i18n="@@est">Lästext</ng-container>
                  <ng-container *ngSwitchCase="'com'" i18n="@@com">Kommentar</ng-container>
                  <ng-container *ngSwitchCase="'ms'" i18n="@@ms">Manuskript</ng-container>
                  <ng-container *ngSwitchCase="'var'" i18n="@@var">Tryckt variant</ng-container>
                  <ng-container *ngSwitchCase="'tit'" i18n="@@tit">Titelblad</ng-container>
                  <ng-container *ngSwitchCase="'fore'" i18n="@@fore">Förord</ng-container>
                  <ng-container *ngSwitchCase="'inl'" i18n="@@inl">Inledning</ng-container>
                  <ng-container *ngSwitchDefault>{{getEllipsisString(facet.key.toString())}}</ng-container>
                </ng-container>
                <ion-icon name="close" slot="end"></ion-icon>
              </ion-button>
            </li>
          </ul>
        </div>
      </ng-container>
    </div>

    <ion-button *ngIf="userSettingsService.isMobile()"
          class="custom-button show-facets-button"
          (click)="toggleFacetsColumn()"
    >
      <ng-container *ngIf="!facetsToggledInMobileMode" i18n="@@ElasticSearch.ShowFacets">Visa avgränsningar</ng-container>
      <ng-container *ngIf="facetsToggledInMobileMode" i18n="@@ElasticSearch.HideFacets">Dölj avgränsningar</ng-container>
    </ion-button>

    <div class="facet-and-hits-area-row">
      <!--  Search fields -->
      <div *ngIf="showFacets" class="facet-column" [class.hide-facet-column]="userSettingsService.isMobile() && !facetsToggledInMobileMode">
        <!-- List of facet groups -->
        <h2 i18n="@@ElasticSearch.FilterResults">Avgränsa sökningen</h2>

        <div *ngIf="elastic.isDateHistogramAggregation('Years')" class="fg-wrapper">
          <button (click)="openAccordion($event, 'Years')">
            <h3 i18n="@@ElasticSearch.TimeRange">Tidsperiod</h3>
            <ion-icon id="arrow-Years" name="chevron-forward"></ion-icon>
          </button>
          <div id="facetList-Years" class="facetList-Years facetlist">
            <date-histogram [years]="getFacets('Years')" [yearsAll]="dateHistogramData" [change]="onRangeChange.bind(this)"></date-histogram>
          </div>
        </div>

        <ng-container *ngFor="let facetGroupKey of objectKeys(facetGroups)">
          <div *ngIf="elastic.isTermsAggregation(facetGroupKey)" class="fg-wrapper">
            <button (click)="openAccordion($event, facetGroupKey)">
              <h3>
                <ng-container *ngIf="facetGroupKey === 'Type'">
                  <ng-container i18n="@@Type">Texttyp</ng-container>:
                </ng-container>
                <ng-container *ngIf="facetGroupKey === 'Genre'">
                  <ng-container i18n="@@Genre">Genre</ng-container>:
                </ng-container>
                <ng-container *ngIf="facetGroupKey === 'Collection'">
                  <ng-container i18n="@@Collection">Delutgåva</ng-container>:
                </ng-container>
                <ng-container *ngIf="facetGroupKey === 'LetterSenderName'">
                  <ng-container i18n="@@LetterSenderName">Avsändare (brev)</ng-container>:
                </ng-container>
                <ng-container *ngIf="facetGroupKey === 'LetterReceiverName'">
                  <ng-container i18n="@@LetterReceiverName">Mottagare (brev)</ng-container>:
                </ng-container>
                <ng-container *ngIf="facetGroupKey === 'LetterSenderLocation'">
                  <ng-container i18n="@@LetterSenderLocation">Avsändarort (brev)</ng-container>:
                </ng-container>
                <ng-container *ngIf="facetGroupKey === 'LetterReceiverLocation'">
                  <ng-container i18n="@@LetterReceiverLocation">Mottagarort (brev)</ng-container>:
                </ng-container>
              </h3>
              <ion-icon id="arrow-{{facetGroupKey}}" name="chevron-forward"></ion-icon>
            </button>
            <ol id="facetList-{{facetGroupKey}}" class="facetList-{{facetGroupKey}} facetlist">
              <ng-container *ngIf="hasFacets(facetGroupKey); then facets else nofacet"></ng-container>

              <ng-template #facets>
                <ng-container *ngFor="let facet of getFacets(facetGroupKey); let j = index">
                  <li *ngIf="showAllFor[facetGroupKey] || j < 10">
                    <ion-checkbox justify="start" labelPlacement="end" [(ngModel)]="facet.selected" (ionChange)="updateFacet(facetGroupKey, facet)" [disabled]="(facet.doc_count === 0 && facetGroupKey !== 'Type') || disableFacetCheckboxes">
                      <span [ngStyle]="{'white-space': 'normal'}">
                        <span>
                          <ng-container *ngIf="facetGroupKey === 'Type'">
                            <ng-container [ngSwitch]="facet.key.toString()">
                              <ng-container *ngSwitchCase="'est'" i18n="@@est">Lästext</ng-container>
                              <ng-container *ngSwitchCase="'com'" i18n="@@com">Kommentar</ng-container>
                              <ng-container *ngSwitchCase="'ms'" i18n="@@ms">Manuskript</ng-container>
                              <ng-container *ngSwitchCase="'var'" i18n="@@var">Tryckt variant</ng-container>
                              <ng-container *ngSwitchCase="'tit'" i18n="@@tit">Titelblad</ng-container>
                              <ng-container *ngSwitchCase="'fore'" i18n="@@fore">Förord</ng-container>
                              <ng-container *ngSwitchCase="'inl'" i18n="@@inl">Inledning</ng-container>
                              <ng-container *ngSwitchDefault>{{facet.key.toString()}}</ng-container>
                            </ng-container>
                          </ng-container>
                          <ng-container *ngIf="facetGroupKey !== 'Type'">
                            {{facet.key_as_string || facet.key}}
                          </ng-container>
                        </span><span [ngStyle]="{'font-size': '0.875em', 'color': '#686868'}" [innerHTML]="' (' + facet.doc_count + ')'"></span>
                      </span>
                    </ion-checkbox>
                  </li>
                </ng-container>

                <li>
                  <ion-button *ngIf="getFacets(facetGroupKey).length > 10" class="custom-button more-facets" (click)="showAllFor[facetGroupKey] = !showAllFor[facetGroupKey]">
                    <ng-container *ngIf="!showAllFor[facetGroupKey]" i18n="@@ElasticSearch.ShowMore">Visa fler</ng-container>
                    <ng-container *ngIf="showAllFor[facetGroupKey]" i18n="@@ElasticSearch.ShowLess">Visa färre</ng-container>
                  </ion-button>
                </li>
              </ng-template>

              <ng-template #nofacet>
                <li i18n="@@ElasticSearch.NoFacetOptions">Inga sökord</li>
              </ng-template>

            </ol>
          </div>
        </ng-container>
        
      </div>

      <div class="search-result-column">
        <div class="info-toolbar">
          <!-- Show search hit count -->
          <h2 *ngIf="canShowHits() && total > 0" class="hits-heading"><ng-container i18n="@@ElasticSearch.Found">Texter med sökträffar:</ng-container> {{total}}</h2>
          <h2 *ngIf="canShowHits() && total === 0 && !elasticError" class="hits-heading" i18n="@@ElasticSearch.NoHits">Sökningen gav inga svar.</h2>
          <h2 *ngIf="elasticError && total === 0" class="hits-heading" i18n="@@ElasticSearch.LoadingError">Ett fel har uppstått när sökträffarna skulle laddas.</h2>
          
          <!-- Sort by -->
          <ion-select *ngIf="showSortOptions && canShowHits() && total > 0"
                class="sort-select"
                label="Sortera enligt"
                i18n-label="@@ElasticSearch.SortBy"
                label-placement="floating"
                fill="outline"
                okText="Ok"
                i18n-okText="@@BasicActions.Ok"
                cancelText="Avbryt"
                i18n-cancelText="@@BasicActions.Cancel"
                [interfaceOptions]="sortSelectOptions"
                (ionChange)="onSortByChanged()"
                [(ngModel)]="sort"
          >
            <ion-select-option
                  value=""
                  i18n="@@ElasticSearch.Relevance"
            >Relevans</ion-select-option>
            <ion-select-option
                  value="orig_date_sort.asc"
                  i18n="@@ElasticSearch.OldestFirst"
            >Äldst först</ion-select-option>
            <ion-select-option
                  value="orig_date_sort.desc"
                  i18n="@@ElasticSearch.NewestFirst"
            >Nyast först</ion-select-option>
          </ion-select>
        </div>

        <!-- Hits column -->
        <div class="hits-column">
          <!-- Search status row -->
          <div class="search-status">
            <ion-spinner *ngIf="loading && 1 > total" class="loading" name="crescent"></ion-spinner>
          </div>

          <!-- Hits row -->
          <ol *ngIf="canShowHits() && total > 0" class="search-hits">
            <li *ngFor="let hit of hits; let n = index" class="hit-item">

              <p>#{{n+1}}</p>
              <div>
                <a [href]="getHitHref(hit)" target="_blank">
                  <div>
                    <h3>
                      <span *ngIf="hit.source.text_type === 'com'" class="comment-prepend" i18n="@@ElasticSearch.CommentsHitHeadingPrepend">Kommentar till</span> <span [innerHTML]="getHeading(hit)"></span>&nbsp;<ion-icon class="open-icon" name="open-outline" aria-description="Länken öppnas i ett nytt fönster" i18n-aria-description="@@BasicActions.OpenInNewWindow" title="Länken öppnas i ett nytt fönster" i18n-title="@@BasicActions.OpenInNewWindow"></ion-icon>
                    </h3>
                    <p>{{getPublicationCollectionName(hit.source)}}</p>
                  </div>
                  <div>
                    <div class="hit-text-type {{ hit.source.text_type }}">
                      <span>
                        <ng-container [ngSwitch]="hit.source.text_type">
                          <ng-container *ngSwitchCase="'est'" i18n="@@est">Lästext</ng-container>
                          <ng-container *ngSwitchCase="'com'" i18n="@@com">Kommentar</ng-container>
                          <ng-container *ngSwitchCase="'ms'" i18n="@@ms">Manuskript</ng-container>
                          <ng-container *ngSwitchCase="'var'" i18n="@@var">Tryckt variant</ng-container>
                          <ng-container *ngSwitchCase="'tit'" i18n="@@tit">Titelblad</ng-container>
                          <ng-container *ngSwitchCase="'fore'" i18n="@@fore">Förord</ng-container>
                          <ng-container *ngSwitchCase="'inl'" i18n="@@inl">Inledning</ng-container>
                          <ng-container *ngSwitchDefault>{{hit.source.text_type}}</ng-container>
                        </ng-container>
                      </span>
                    </div>
                    <div *ngIf="hasDate(hit.source)" class="hit-text-date">
                      <span>{{getDate(hit.source)}}</span>
                    </div>
                  </div>
                </a>
                <div *ngIf="hit?.highlight?.text_data" class="match-highlights">
                  <p *ngFor="let highlight of hit.highlight?.text_data; let h = index"
                        [innerHTML]="'&#8230; ' + highlight + ' &#8230;'"
                        [class.hidden-highlight]="h > 2"
                  ></p>
                  <ion-button *ngIf="hit.highlight.text_data.length > 3"
                        fill="outline"
                        class="custom-outline-button show-all-highlights"
                        (click)="showAllHitHighlights($event)"
                  >
                    <ng-container i18n="@@ElasticSearch.ShowAllHitHighlights">Visa alla träffar i texten</ng-container> (+{{hit.highlight.text_data.length-3}})
                  </ion-button>
                </div>
              </div>

            </li>
          </ol>

          <div class="load-more-hits-wrapper" *ngIf="canShowHits() && hasMore() && total > 0">
            <div class="loading-spinner-wrapper">
              <ion-spinner *ngIf="infiniteLoading" class="loading" name="crescent"></ion-spinner>
            </div>
            <ion-button
                  class="custom-button"
                  (click)="loadMore($event)"
                  [disabled]="infiniteLoading"
                  i18n="@@ElasticSearch.ShowMoreHits"
            >Visa fler sökträffar</ion-button>
          </div>
          <div class="hits-footer" *ngIf="canShowHits() && total > 5">
            <ion-button
                  class="custom-outline-button"
                  fill="outline"
                  (click)="scrollToTop()"
                  i18n="@@BasicActions.ScrollToTop"
            >Till början</ion-button>
          </div>
        </div>
      </div>
    </div>

  </div>

</ion-content>
