ion-content {
  --padding-bottom: 5rem;
}

h1.page-title {
  font-size: 1.625rem;
  font-weight: bold;
  margin: 0 0 1.5rem 0;
  text-transform: uppercase;
}

.info.markdown {
  margin-bottom: 1rem;
  max-width: 800px;
  width: 100%;
}

.search-container {
  display: flex;
  flex-flow: column nowrap;
  max-width: 1400px;
  width: 100%;

  .search-row {
    align-items: center;
    display: flex;
    margin: 0.75rem 0 0.5rem 0;

    ion-searchbar {
      flex-grow: 1;
      max-width: 600px;
      min-width: 250px;
      padding-inline-start: 0;
      width: auto;
    }
  }

  .selected-facets-row {
    column-gap: 0.75em;
    display: flex;
    flex-flow: row wrap;
    font-size: 1rem;
    row-gap: 0.25em;

    .sfg {
      align-items: flex-start;
      display: inline-flex;
      gap: 0.5em;
      justify-content: flex-start;
  
      .sfg-title {
        margin: 0.625em 0 0 0;
      }
  
      ul {
        display: inline-flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 0.25em;
        list-style-type: none;
        margin: 0;
        padding: 0;

        li {
          padding: 0;
        }
      }
    }
  }

  .facet-and-hits-area-row {
    display: flex;
    font-size: 1rem;
    gap: 1.375rem;
    padding: 1.5rem 0 2rem 0;
    width: 100%;

    .facet-column {
      max-width: 400px;
      min-width: 280px;
      padding: 0;
      width: 100%;
    
      &.hide-facet-column {
        display: none;
      }

      > h2 {
        border: 1px solid var(--elastic-search-facet-border-color);
        border-radius: 3px;
        font-size: 1.125em;
        font-weight: bold;
        margin: 0 0 0.5em 0;
        padding: 0.8125rem 1rem;
      }

      .fg-wrapper {
        background-color: var(--elastic-search-facet-background-color);
        border: 1px solid var(--elastic-search-facet-border-color);
        border-radius: 3px;
        margin: 0 0 0.5em 0;
        transition: border-color 0.4s;

        &:hover {
          border-color: var(--button-background-color);
        }

        h3 {
          font-size: 1em;
          font-weight: bold;
          margin: 1.25rem 1rem;
        }

        > button {
          align-items: center;
          background-color: transparent;
          display: flex;
          font-size: 1em;
          justify-content: space-between;
          width: 100%;

          ion-icon {
            font-size: 1.5em;
            margin: 0.8125rem 1rem;

            &.rotate.open {
              transform: rotate(90deg);
              transition: transform ease-in-out .15s;
            }

            &.closed {
              transition: transform ease-in-out .15s;
            }
          }

          + .facetlist {
            margin: 0 1rem 1.25rem 1rem;
          }
        }

        .facetlist {
          display: none;
        }

        ion-checkbox {
          --border-color-checked: var(--button-background-color);
          --checkbox-background: transparent;
          --checkbox-background-checked: var(--button-background-color);
          --checkmark-color: var(--button-text-color);
          --transition: none;
          display: block;
          margin: 0 0 0 1rem;

          &:hover {
            --border-color: var(--button-background-color);
            --checkbox-background: #fff;
            color: var(--button-background-color);
          }

          + ion-checkbox {
            margin-top: 0.75rem;
          }
        }

        ion-button.more-facets {
          margin: 1rem 0 0 3rem;
        }
      }
    }
  }

  .search-result-column {
    flex-grow: 2;
    max-width: 1000px;
    min-width: 50%;
    padding: 0;
    width: 100%;
  }
}








// OGENOMGÅNGET:

.word_count span {
  display: inline-block;
  padding-left: 1rem;
}

ul {
  list-style-type: none;
}

.info-toolbar {
  width: 100%;
  align-items: center;
}
.info-toolbar > div {
  padding: 0 0 0.5rem 0;
}

.hits-column {
  width: 100%;
  height: 100%;

  .col {
    padding-right: 0;
    padding-left: 0;
  }
}

.hits-column ion-list.hits-list-wrapper {
  width: 100%;
  margin: 0;
}

.hits-column ion-item.hitItem {
  background-color: #fafafa;
  margin-bottom: 0.5em;
  border: 1px solid var(--elastic-search-hititem-border-color);
  border-radius: 4px;
  transition: all 0.4s;

  .label {
    margin: 16px 8px 16px 0;
  }
}

.hits-column ion-list.hits-list-wrapper ion-item.hitItem:last-child {
  margin-bottom: 0;
}

.hits-column ion-item.hitItem:hover {
  border-color: var(--elastic-search-hititem-hover-border-color);
  background-color: var(--elastic-search-hititem-hover-background-color) !important;
}

.hits-column ion-item.hitItem .word_count {
  display: none;
}

.hits-column ion-item.hitItem .hitWrapper {
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
  gap: 1em;
  white-space: normal;

  .hitData {
    width: 100%;
  }

  ion-icon.open-icon.icon {
    font-size: 1.125rem;
    margin: 0 0.25rem 0 0.125rem;
  }
}

.hits-column ion-item.hitItem .hitHeader {
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
  align-content: flex-start;
  white-space: normal;
  text-decoration: none;
  color: #000;
}

.hits-column ion-item.hitItem .hitHeader:hover {
  opacity: 1;
}

.hits-column ion-item.hitItem .hitHeader  .hitHeaderCol:last-child {
  margin-left: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-end;
}

.hits-column ion-item.hitItem .hitHeader .hitHeading {
  font-weight: bold;
  color: var(--default-link-color);

  em {
    background-color: var(--elastic-search-search-match-highlight-background-color);
    color: var(--elastic-search-search-match-highlight-text-color);
    font-style: normal;
  }

  .commentHitHeadingPrepend::after {
    content: "\0020";
    white-space: pre;
  }
}

.hits-column ion-item.hitItem .hitHeader:hover .hitHeading {
  text-decoration: underline;
}

.hits-column ion-item.hitItem .hitNumber {
  color: #777;
  font-size: 0.75em;
  padding-top: 0.167em;
}

.hits-column ion-item.hitItem .hitTextType,
.hits-column ion-item.hitItem .hitTextDate {
  font-size: 0.75em !important;
  text-transform: uppercase;
  margin-left: 8px;
  background-color: #efefef;
  color: #000;
  padding: 2px 4px;
  border-radius: var(--corner-border-radius);
  &.est {
    color: var(--est-color);
  }
  &.com {
    color: var(--com-color);
  }
  &.ms {
    color: var(--ms-color);
  }
  &.var {
    color: var(--var-color);
  }
  &.inl {
    color: var(--inl-color);
  }
  &.fore {
    color: var(--fore-color);
  }
  &.tit {
    color: var(--tit-color);
  }
}

.hits-column ion-item.hitItem .hitTextType + .hitTextDate {
  margin-top: 0.25em;
}

.hits-column ion-item.hitItem .matchHighlights {
  margin-top: 0.5em;
  padding-top: 0.5em;
  border-top: 1px solid var(--elastic-search-hititem-border-color);
  white-space: normal;

  .hiddenHighlight {
    display: none;
  }

  .showAllHitHighlights {
    font-size: .8125rem;
    height: 1.875rem !important;
    margin-top: 0.75rem;
    margin-bottom: 0;

    &.hiddenButton {
      display: none;
    }
  }
}

.hits-column .hits-footer {
  justify-content: center;
  align-content: center;
  align-items: center;

  button.button {
    font-size: 0.875rem;
    height: 2rem !important;
    margin-top: 2rem;
  }
}

.load-more-hits-wrapper + .hits-footer button.button {
  margin-top: 1rem;
}

/* Currently not used */
.infinite-scroll-wrapper {
  width: 100%;
  height: 50px;
  justify-content: center;
  align-items: center;
  align-content: center;

  ion-infinite-scroll-content {
    align-items: center;
    align-content: center;
  }

  .infinite-loading {
    margin: auto;
  }
}

.load-more-hits-wrapper {
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;

  button.button {
    font-size: 0.875rem;
    height: 2rem !important;
    margin-top: 0;
  }

  .loading-spinner-wrapper {
    min-height: 4rem;
  }

  ion-spinner.loading {
    padding: 1rem 0;
  }
}

.date-histogram-wrapper {
  border: 1px solid var(--elastic-search-facet-border-color);
  border-radius: 3px;
  padding: 10px;
  margin-bottom: 0.5em;
  transition: all 0.4s;

  .years-heading {
    margin-bottom: -14px;
    padding-left: 20px;
    font-weight: bold;
  }
}
.date-histogram-wrapper:hover {
  border-color: var(--button-background-color);
}

.sort-by-wrapper {
  margin-left: auto;
  ion-item.item {
    background-color: transparent;
    padding-left: 0.5rem;

    &.item-block .item-inner {
      padding-right: 0;
    }
  }

  .input-wrapper {
    // justify-content: flex-end;
  }

  .sort-by-label {
    flex: 0;
    margin: 0;
    padding: 4px 0 3px 8px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border: 1px solid var(--elastic-search-facet-border-color);
    border-right: 0;
    background-color: var(--elastic-search-facet-background-color);
    color: #6e6e6e;
    transition: all 0.4s;

    ion-icon.sort-icon {
      font-size: 1.5em;
      color: #555;
    }
  }

  .sort-by-select {
    max-width: 300px;
    padding: 9px 11px 8px 8px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border: 1px solid var(--elastic-search-facet-border-color);
    border-left: 0;
    background-color: var(--elastic-search-facet-background-color);
    transition: all 0.4s;
  }
}
.sort-by-wrapper:hover {
  .sort-by-label,
  .sort-by-select {
    border-color: var(--button-background-color);
  }
}

.segment-md .segment-button {
  font-size: 1rem;
  text-transform: none;
}

.searchStatus {
  color: var(--grey-color);
  justify-content: center;
}

ion-item.item.item-block.item-md {
  .item-inner {
    border-bottom: none;
  }

  &.noFacetOptions {
    ion-label {
      margin-top: 0;
    }
  }

  .highlight {
    margin-bottom: 0;
    em {
      background-color: var(--elastic-search-search-match-highlight-background-color);
      color: var(--elastic-search-search-match-highlight-text-color);
      line-height: 1.5;
      font-style: normal;
    }
  }
  .highlight + .highlight {
    margin-top: 0.5em;
  }

}

.searchContainer {
  display: flex;
  align-items: stretch;
}

ion-icon[name="refresh"],
ion-icon[name="close"] {
  padding-bottom: 0 !important;
}

button.showFacetsButton {
  height: 1.875rem !important;
  font-size: 0.8125rem;
  margin: 1rem 1rem 0 0;
}

.facet-group-wrapper {
  ion-item.item {
    background-color: var(--elastic-search-facet-background-color);
  }

  .facet-item,
  .facet-header {
    margin: 0 0 0.5em 0;
    padding-bottom: 4px;
    border: 1px solid var(--elastic-search-facet-border-color);
    border-radius: 3px;
    transition: all 0.4s;
  }
  .facet-item:hover {
    border-color: var(--button-background-color);
  }

  .facet-header {
    margin-top: 0;
    padding-bottom: 0;

    h2 {
      font-size: 1.125em;
      font-weight: bold;
      margin: 0;
    }
  }

  .accordion-item {
    margin: 0 !important;
    white-space: normal;

    .facetTitle {
      font-weight: bold;
      min-height: 1rem;
      font-size: 1rem;
      margin-top: 8px;
      cursor: pointer;
    }

    ion-label {
      white-space: normal;
      margin-top: 5px;
      margin-bottom: 5px;
    }

    .show-more-button {
      height: 1.875rem !important;
      font-size: 0.8125rem;
      margin: 10px 4px 16px 29px;
    }
  }
}

.hits-heading {
  font-size: 1.125rem;
  margin-top: 0.75rem !important;
}

.searchbar-wrapper {
  display: flex;
  align-items: center;
  font-size: 1rem;
  width: 100%;
  max-width: 550px;
  position: relative;

  .searchInput {
    font-size: 1.25em !important;
    width: 100%;
    border-radius: 3px 0 0 3px;
    padding: 6px 2.25em 6px 8px;
    border: 1px solid #b5b5b5;
    border-right: 0;
    transition: all 0.4s;
    height: 1.9em;
  }
  .searchInput:hover {
    border-color: var(--button-background-color);
  }
  .searchInput:focus {
    border-color: var(--button-background-color);
    outline: none;
  }

  .searchButton {
    height: 2.375rem !important;
    min-width: 2.5rem;
    font-size: 0.625rem;
    margin: 0;
    box-shadow: none;
    border-radius: 0 3px 3px 0;
    transition: all 0.4s;
  }

  .searchButton:hover {
    filter: brightness(1.15);
  }

  ion-icon.searchIcon {
    font-size: 1.625rem;
  }

  ion-icon.clearSearchIcon {
    font-size: 1.625rem;
    color: #555;
    position: absolute;
    top: 50%;
    right: 3.25rem;
    transform: translate(0%, -50%);
    padding-top: 0.0625rem;
    cursor: pointer;
    transition: all 0.4s;
  }

  ion-icon.clearSearchIcon:hover {
    color: #8d8d8d;
  }
}


.alert-wrapper .alert-title {
  font-size: 1rem;
}

.alert-md .alert-tappable {
  min-height: 3.4rem;
}

.alert-radio-group {
  padding: 16px;
}
